<div class="main-content" *ngIf="getPayments">
    <!--<h1>{{user.lastName}} {{user.firstName}}</h1>-->
    <!--<ul class="breadcrumb">
        <li><a href="#">Account Preferences</a></li>
    </ul>
    <div class="clearfix"></div>-->
    <div class="table-data">
        <h1 _ngcontent-c8="" class="clickname">
            <img _ngcontent-c15="" src="../../../../assets/images/Profile.png" style="margin-bottom: 4px !important;height: 18px!important;">
            <span _ngcontent-c8="">{{accountDetailsCommonService.accountName}}</span>
        </h1>
        <div class="clearfix"></div>
      <h2 _ngcontent-c6="" class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Payments</h2>
        <ih-smart-table class="superUserViewaccPayments benadd" [settings]="settings" [data]="data" (onAddClick)="addPayments($event)" (onRowClick)="editPayments($event)"
            (onDeleteClick)="deleteRecord($event)">
        </ih-smart-table>

    </div>
</div>
<div class="table-data-forms" *ngIf="viewAccountPopup">
    <div class="modal-dialog" ngDraggable style="max-width:900px !important; width:790px !important; margin: 8% auto 0px auto !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>

                <button type="button" class="close" id="svActpmtsClose" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 addresbox box-shadow">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">Payment Id:</div>
                                            <div class="col-md-7">
                                                <input type="text" maxlength="100" [disabled]="isEditpayments" id="svActpmtsId"  [(ngModel)]="payment.paymentId" class="form-control">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">Transaction Type:</div>
                                            <div class="col-md-7">
                                                <input type="text" maxlength="100" [disabled]="isEditpayments" id="svActpmtsTranType" [(ngModel)]="payment.transactionType" class="form-control">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">Transaction Id:</div>
                                            <div class="col-md-7">
                                                <input type="text" maxlength="100" [disabled]="isEditpayments" id="svActpmtsTranId" [(ngModel)]="payment.transactionId" class="form-control">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">Account Name:</div>
                                            <div class="col-md-7">
                                                <input type="text" maxlength="100" [disabled]="isEditpayments" id="svActpmtsActName" [(ngModel)]="payment.accountName" class="form-control" [disabled]="true">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">Account Number:</div>
                                            <div class="col-md-7">
                                                <input type="text" maxlength="100" id="svActpmtsActNo" [disabled]="isEditpayments" [(ngModel)]="payment.accountNumber" class="form-control">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">Invoice Date:</div>
                                            <div class="col-md-7">
                                                <input type="text" maxlength="100" id="svActpmtsInvDate" [disabled]="isEditpayments" [(ngModel)]="payment.invoiceDate" class="form-control" [disabled]="true">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">Invoice Number:</div>
                                            <div class="col-md-7">
                                                <input type="text" maxlength="100" id="svActpmtsInvNo" [disabled]="isEditpayments" [(ngModel)]="payment.invoiceNumber" class="form-control">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">Invoice Amount:</div>
                                            <div class="col-md-7">
                                                <input type="text" maxlength="100"  id="svActpmtsInvAmt" [disabled]="isEditpayments" [(ngModel)]="payment.invoiceAmount" class="form-control">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">Bill Start Date:</div>
                                            <div class="col-md-7">
                                                <input type="text"maxlength="100" id="svActpmtsBillStartDate" [disabled]="isEditpayments" [(ngModel)]="payment.billStartDate" class="form-control">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">Bill End Date:</div>
                                            <div class="col-md-7">
                                                <input type="text" maxlength="100" id="svActpmtsBillEndDate" [disabled]="isEditpayments" [(ngModel)]="payment.billEndDate" class="form-control">
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">Payment Date:</div>
                                            <div class="col-md-7">
                                                <my-date-picker [disabled]="isEditpayments" id="svActpmtsPmtDate" [options]="myDatePickerOptions" [(ngModel)]="payment.paymentDate" [selDate]="paymentDate"></my-date-picker>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">Payment Amount:</div>
                                            <div class="col-md-7">
                                                <input type="text" [disabled]="isEditpayments"  id="svActpmtsPmtAmt" [(ngModel)]="payment.paymentAmount" class="form-control">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">Payment Status:</div>
                                            <div class="col-md-7">
                                                <input type="text" [disabled]="isEditpayments" id="svActpmtsPmtStatus" [(ngModel)]="payment.paymentStatus" class="form-control">
                                                
                                            </div>
                                        </div>
                                    </div>
                                  <div class="col-md-offset-6">
                                    <div class="row"></div>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="row">
                                      <div class="col-md-2">Comments:</div>
                                      <div class="col-md-10">
                                        <textarea  [(ngModel)]="payment.comments" maxlength="100" id="svActpmtsComments"  class="form-control" style="margin-left: 30px;width: 95%;height: 84px;"></textarea>                                       
                                      </div>
                                    </div>

                                  </div>
                                    <!--<div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">Comments:</div>
                                            <div class="col-md-7">
                                                <textarea  *ngIf="isEditpayments==false" [(ngModel)]="payment.comments" class="form-control"></textarea>
                                                <span style="height:100px" *ngIf="isEditpayments==true">{{payment.comments}}</span>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="col-md-5">
                                        <div class="row">
                                        <div class="row sfm" *ngIf="warningMessage">
                                            <div class="col-md-12">
                                                <span class="redstar">* Fields are Mandatory.</span>
                                            </div>
                                        </div>
                                        </div>
                                    </div>

                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="submit" class="btn iportal-btnIMclient" style="margin-left: 80% !important;margin-top: 2% !important;" id="svActpmtsEdit" (click)="editpaymentsInfo()" *ngIf="isEditpayments==true">Edit</button>
                                            <button type="submit" value="Save" class="btn iportal-btnIMclient" style="color: #008000 !important;margin-top: 4px!important; width: 90%;margin-right: 11px;" id="svActpmtsSave1" [ngClass]="{'loader': showWorkAddrSaveButtonProgress}" [disabled]="showWorkAddrSaveButtonProgress" (click)="savepaymentsInfo()" *ngIf="isEditpayments==false">Save</button>
                                        </div>
                                        <div class="col-md-6"><button type="button" class="btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;width: 90%;margin-top: 4px!important;" id="svActpmtsCancel1" (click)="cancel()">Cancel</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


<div *ngIf="addPopups">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()" id="svActpmtspopClose">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">Invoice Number:<span class="redstar">*</span></div>
                            <div class="col-md-7"><input type="text" id="svActpmtspopInvNo" [(ngModel)]="payments.invoiceNumber" class="form-control"></div>
                            <div class="col-md-5">Transaction Id:<span class="redstar">*</span></div>
                            <div class="col-md-7"><input type="text" id="svActpmtspopTranId" [(ngModel)]="payments.transactionId" class="form-control"></div>
                            <div class="col-md-5">Payment Date:<span class="redstar">*</span></div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions" id="svActpmtspopPmtDate" [(ngModel)]="payments.paymentDate" [selDate]="paymentDate"></my-date-picker>
                            </div>
                            <div class="col-md-5">Payment Amount:<span class="redstar">*</span></div>
                            <div class="col-md-7"><input type="text" id="svActpmtspopPmtAmt" [(ngModel)]="payments.paymentAmount" class="form-control"></div>
                            <div class="col-md-5">Payment Status:<span class="redstar">*</span></div>
                            <div class="col-md-7">
                                <select [(ngModel)]="payments.paymentStatus" class="form-control">
                                    <option value="Success" id="svActpmtspopPmtSuccess">Success</option>
                                    <option value="Failed" id="svActpmtspopPmtFail">Failed</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row sfm" *ngIf="warningMessage">
                                    <div class="col-md-12">
                                        <span class="redstar">* Fields are Mandatory.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" id="svActpmtspopSave" class="editbtn tbl-head-btn iportal-btnIMclient" 
	style="color: #008000 !important;margin-top: 4px!important; width: 100%;margin-right: 0%;" (click)="savePayments()">Save</button></div>
                                    <div class="col-md-6"><button type="button" id="svActpmtspopCancel" class="editbtn tbl-head-btn iportal-btnIMclient" 
	style="color: #FF0000 !important;margin-left: 4px;width: 100%;margin-top: 4px!important;" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
