<div class="main-content">
    <div class="table-data">
        <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
      <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 pagenoof36">Page 1 of 36</div>
            <div class="col-md-4">
              <a (click)="gotoNext()" class="nextbtn iportal-btnIMclient">Next</a>
              <a *ngIf="isQuestionnaireEdit" (click)="cancelQuestinnaireEdit()" class="nextbtn iportal-btnIMclient" style="color: #FF0000 !important;">Cancel</a>
              <a *ngIf="isQuestionnaireEdit" (click)="saveQuestionnaireInformation()" [ngClass]="{'loader': saveButtonProgress}"  class="nextbtn iportal-btnIMclient"style="color: #008000 !important;">Save</a>
              <a *ngIf="!isQuestionnaireEdit" (click)="editQuestinnaireForm()" class="nextbtn iportal-btnIMclient">Edit</a>
            </div>
        </div>
      </div>
      <div class="col-md-12 Questionnaireheader">
        <h2>1. Petitioner Information</h2>
      </div>
      <div class="col-md-12">
          <p>If you are an individual filing this petition, complete <b>Item Number 1. If you are a company or an organization
              filing this petition,</b> complete <b>Item Number 2.</b></p>
          <div class="col-md-12 addresbox box-shadow clientview-ques129h">
            <div class="col-md-12">
                <p class="fieldsetheading">1. Legal Name of Individual Petitioner</p>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="familynameLastname">Family Name (Last Name)</label>
                        <input class="form-control" id="familynameLastname" [disabled]="!isQuestionnaireEdit" type="text" [(ngModel)]="page1.lastName"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="givenFirstname">Given Name (First Name)</label>
                        <input class="form-control" id="givenFirstname" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.firstName"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="middleName">Middle Name</label>
                        <input class="form-control" id="middleName" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.middleName"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <p class="fieldsetheading">2. Company or Organization Name</p>
                    <div class="col-md-12">
                        <input class="form-control" id="companyOrgName" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.companyName"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p class="fieldsetheading">3. Mailing Address of Individual, Company or Organization</p>
            </div>

            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="inCareofName">In Care Of Name</label>
                        <input class="form-control" id="inCareofName" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.address.inCareOfName"/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="StreetNumberAndName">Street Number and Name</label>
                        <input class="form-control" id="StreetNumberAndName" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.address.street"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let x of aptType">
                                {{x.display}}<input type="radio" [(disabled)]="!isQuestionnaireEdit" name="aptType" [value]="x.value" [(ngModel)]="page1.address.aptType"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="Number">Number</label>
                        <input class="form-control" id="Number" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.address.houseNumber"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cityOrtown">City or Town</label>
                        <input class="form-control" id="cityOrtown" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.address.city"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="state">State</label>
                        <select class="form-control" id="state" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.address.state">
                            <option [value]="state.name" *ngFor="let state of states">{{state.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="state">ZIP Code</label>
                        <input class="form-control" id="zipcode" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.address.zipCode"/>
                    </div>
                </div>
                <!--<div class="col-md-6">
                    <div class="form-group">
                        <label for="province">Province</label>
                        <input class="form-control" id="province" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.address.province"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="postalCode">Postal Code</label>
                        <input class="form-control" id="postalCode" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.address.postalCode"/>
                    </div>
                </div>-->
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input class="form-control" id="country" type="text" [disabled]="true" [(ngModel)]="page1.address.country"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p class="fieldsetheading">4. Contact Information</p>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="daytimeTelnumber">Daytime Telephone Number</label>
                        <input class="form-control" id="daytimeTelnumber" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.contact.dayTimeTn"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="mobileTelnumber">Mobile Telephone Number</label>
                        <input class="form-control" id="mobileTelnumber" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.contact.mobileTn"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="emailifany">Email (if any)</label>
                        <input class="form-control" id="emailifany" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.contact.email"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p class="fieldsetheading">5. Other Information</p>
            </div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="fein">Federal Employer Identification Number (FEIN)</label>
                        <input class="form-control" id="fein" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.fein" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="irsTaxnumber">Individual IRS Tax Number </label>
                         <input class="form-control" id="irsTaxnumber" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.irsTaxNumber"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="usSSN">U.S. Social Security Number (if any) </label>
                        <input class="form-control" id="usSSN" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.ssn" />
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
</div>
