<div class="main-content" *ngIf="getClientDocExp">
  <div class="table-data">
    <h2>{{appService.firstName}} {{appService.lastName}}</h2>
    <div class="clearfix"></div>
    <h2 class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Document Expirations</h2>
    <ul class="breadcrumb">
        <li><a href="#">Document Expirations</a></li>
    </ul>
    <div class="clearfix"></div>
    <ih-smart-table class="clientview-clientdetailtab-docexp benadd" [settings]="settings" [data]="data"
                 (onAddClick)="addFunction($event)" (onRowClick)="editRecord($event)" (onDeleteClick)="deleteRecord($event)" ></ih-smart-table>
    <div class="clearfix"></div>
  </div>
</div>
<div *ngIf="addClientDocExp">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" id="cvDocExpClose" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">Document Type:</div>
                            <div class="col-md-7"><input type="text" maxlength="50" id="cvDocExpDocType" [(ngModel)]="addClientNewDocExp.documentType" class="form-control"></div>
                            <div class="col-md-5">Valid From:</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                id="cvDocExpValidFrom" [(ngModel)]="addClientNewDocExp.validFrom"
                                                [selDate]="validFrom"></my-date-picker>

                            </div>
                            <div class="col-md-5">Valid To:</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                id="cvDocExpValidTo" [(ngModel)]="addClientNewDocExp.validTo"
                                                [selDate]="validTo"></my-date-picker>

                            </div>
                            <div class="col-md-5">Status:</div>
                            <div class="col-md-7"><input type="text" id="cvDocExpStatus" maxlength="45" [(ngModel)]="addClientNewDocExp.status" class="form-control"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">

                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="iportal-btnIMclient" style="margin-left: 4px;width: 100px;" id="cvDocExpSave" (click)="clientDocExpSave()">Save</button></div>
                                    <div class="col-md-6"><button type="button" class="iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 2px !important;width: 93px!important;" id="cvDocExpCancel" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
