<div class="main-content">
    <div class="table-data">
        <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <a (click)="gotoPrev()" class="prevbtn">Back</a>
                    </div>
                    <div class="col-md-4 pagenoof36">Page 3 of 36</div>
                    <div class="col-md-4">
                        <a *ngIf="appService.isClientView()" (click)="submit()" class="nextbtn">Inform to firm</a>
                        <a *ngIf="appService.isImmigrationView()" (click)="gotoNext()" class="nextbtn iportal-btnIMclient">Next</a>
                      <a *ngIf="isQuestionnaireEdit" (click)="cancelQuestinnaireEdit()" class="nextbtn iportal-btnIMclient" style="color: #FF0000 !important;">Cancel</a>
                      <a *ngIf="isQuestionnaireEdit" (click)="saveQuestionnaireInformation()" [ngClass]="{'loader': saveButtonProgress}" class="nextbtn iportal-btnIMclient"style="color: #008000 !important;">Save</a>
                      <a *ngIf="!isQuestionnaireEdit" (click)="editQuestinnaireForm()" class="nextbtn iportal-btnIMclient">Edit</a>

                    </div>
                </div>
            </div>
            <div class="col-md-12 Questionnaireheader">
                <h2>3.&nbsp;Beneficiary Information <span>(Information about the beneficiary/beneficiaries you are filing for.  Complete the blocks below.  Use the Attachment-1 sheet to name each beneficiary included in this petition.)</span></h2>
            </div>

            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                        <div class="col-md-6" style="margin-top: 10px;">
                            <div class="row">
                                <div class="col-md-4">Alien Registration Number (A-Number)</div>
                                <div class="col-md-8">
                                  <input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.alienRegistrationNumber" style="width: 100%;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"style="margin-top: 10px;">
                            <div class="row">
                                <div class="col-md-4">Country of Birth</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.countryOfBirth" /></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">Province of Birth </div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.provinceOfBirth"/></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">Country of Citizenship or Nationality</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.nationality" /></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading">5. If the beneficiary is in the United States, complete the following:</p>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">Date of Last Arrival (mm-dd-yyyy)</div>
                                <div class="col-md-4">
                                    <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page3.dateOfLastArrival"
                                        [selDate]="dateOfLastArrival"></my-date-picker>
                                    <!--<span *ngIf="isQuestionnaireEdit==true">{{page3.dateOfLastArrival}}</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">I-94 Arrival-Departure Record Number</div>
                                <div class="col-md-8">
                                    <input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.i94" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">Passport or Travel Document Number</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.passportNo" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">Date Passport or Travel Document Issued (mm-dd-yyyy)</div>
                                <div class="col-md-4">
                                    <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page3.passportIssueDate"
                                        [selDate]="passportIssueDate"></my-date-picker>
                                    <!--<span *ngIf="isQuestionnaireEdit==true">{{page3.passportIssueDate}}</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">Date Passport or Travel Document Expires (mm-dd-yyyy)</div>
                                <div class="col-md-4">
                                    <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page3.passportExpiryDate"
                                        [selDate]="passportExpiryDate"></my-date-picker>
                                    <!--<span *ngIf="isQuestionnaireEdit==true">{{page3.passportExpiryDate}}</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">Passport or Travel Document Country of Issuance</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.countryOfIssuance"/></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">Current Nonimmigrant Status </div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.currentNonImmigrantStatus"/></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">Date Status Expires or D/S (mm-dd-yyyy)</div>
                                <div class="col-md-4">
                                    <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page3.dateStatusExpires"
                                        [selDate]="dateStatusExpires"></my-date-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">Employment Authorization Document (EAD) Number (if any)</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.ead" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">Student and Exchange Visitor Information System (SEVIS) Number (if any)</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.sevisNumber" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading">6. Current Residential U.S. Address (if applicable) (do not list a P.O. Box)</p>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">Street Number and Name</div>
                                <div class="col-md-7"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.address.street"/></div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3" *ngFor="let x of aptType">
                                            {{x.display}}<input type="radio" name="currentResidentialAptType" [value]="x.value" [(disabled)]="!isQuestionnaireEdit" [(ngModel)]="page3.address.aptType">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Number </div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.address.houseNumber"/></div>
                            </div>
                        </div>
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-4">City or Town</div>
                                <div class="col-md-8">
                                    <input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.address.city" /></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-4">State</div>
                                <div class="col-md-8">
                                    <select [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.address.state">
                                        <option [value]="address.name" *ngFor="let address of states">{{address.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">ZIP Code</div>
                                <div class="col-md-8">
                                    <input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.address.zipCode" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="appService.isImmigrationView()">
                <div class="col-md-12 Questionnaireheader">
                    <h2>4. Processing Information</h2>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 addresbox box-shadow clientview-ques129h">
                            <div class="col-md-12">
                                <p>
                                    <b>1.</b>If a beneficiary or beneficiaries named in<b> Part 3.</b>is/are outside the United States, or a requested extension
                                    of stay or change of status cannot be granted, state the U.S. Consulate or inspection facility you want notified if this petition is approved.
                                </p>
                                <div class="row">
                                    <div class="col-md-3"><b>a. Type of Office</b>(select only one box):</div>
                                    <div class="col-md-3" *ngFor="let x of typeOfOffice">
                                        <input type="radio" name="typeOfOffice" [value]="x.value" [(disabled)]="!isQuestionnaireEdit" [(ngModel)]="page3.typeOfOffice">{{x.display}}</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-5"><b>b. Office Address (City)</b></div>
                                    <div class="col-md-7"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.officeAddress"/></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-5"><b>c. U.S. State or Foreign Country </b></div>
                                    <div class="col-md-7"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.usStateOrForeignCountry"/></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="fieldsetheading">d. Beneficiary's Foreign Address</p>
                            </div>
                            <div class="col-md-7">
                              <div class="form-group">
                                <label>Street Number and Name</label>
                                <input class="form-control" id="StreetNumberAndName" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.foreignAddress.street" /></div>
                            </div>
                            <div class="col-md-2">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-4" *ngFor="let x of aptType">
                                    {{x.display}}<input type="radio" [(disabled)]="!isQuestionnaireEdit" name="foreignAddressAptType" [value]="x.value" [(ngModel)]="page3.foreignAddress.aptType">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="Number">Number</label>
                                <input class="form-control" id="Number" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.foreignAddress.houseNumber" />
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3">City or Town</div>
                                    <div class="col-md-9"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.foreignAddress.city"/></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-2">State</div>
                                    <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.foreignAddress.state"/></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">Province</div>
                                    <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.foreignAddress.province"/></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">Postal Code</div>
                                    <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.foreignAddress.zipCode"/></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">Country</div>
                                    <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page3.foreignAddress.country"/></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-5"><b>2.</b>Does each person in this petition have a valid passport?</div>
                                    <div class="col-md-1" *ngFor="let x of questions">
                                        <input type="radio" name="" [value]="x.value" [(ngModel)]="page3.eachPersonHaveValidPassport" [(disabled)]="!isQuestionnaireEdit">{{x.display}}
                                    </div>

                                    <div class="col-md-5">If no, go to Part 9. and type or print your explanation</div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
    </div>
</div>
