<div class="main-content">
    <div class="table-data-forms">
        <div class="row">
            <div class="col-md-12">
                <span class="listofusers">Please select Account</span>

                <select class="form-control" (change)="changeaccount($event.target.value)" style="max-width:250px;">
                    <option *ngFor="let account of reportsCommonService.totalAccounts" [value]="account.accountId" id="{{account.accountName}}">{{account.accountName}}</option>
                </select>
            </div>
            <div class="col-md-12">
                <span class="listofusers">Select Petition Type</span>
                <select class="form-control" [(ngModel)]="selectedPetitionType" (change)="petitionsubtypechange()" style="max-width:250px;">
                    <option *ngFor="let type of petitionstageTypes" value={{type.petitiontype}} id="{{type.petitiontype}}">{{type.petitiontype}}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" *ngFor="let org of orgsNames">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{{org}}</h2>
                        </div>
                    </div>
                    <canvas responsive="true" maintainAspectRatio="false" height="200" baseChart
                            [data]="pieChartData[org]"
                            [labels]="pieChartLabels[org]"
                            [chartType]="pieChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
