<div class="main-content" *ngIf="getArvdInfoData">

    <div class="table-data">
        <h2>{{appService.firstName}} {{appService.lastName}}</h2>
        <div class="clearfix"></div>
        <h2 class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Arrival Departure Info</h2>
        <!--<h2>Arrival Departure Info</h2>-->
        <ih-smart-table class="clientview-clientdetailtab-arr-dep-info benadd" [settings]="settings" [data]="data"
                     (onAddClick)="addFunction($event)" (onRowClick)="editRecord($event)" (onDeleteClick)="deleteRecord($event)"></ih-smart-table>
        <div class="clearfix"></div>
    </div>
</div>
<div *ngIf="addArrDep">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" id="cvArrClose" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">Departure date :</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" id="cvArrDepDate" [(ngModel)]="newArvdInfoitem.departureDate"
                                                [selDate]="departureDate"></my-date-picker>
                            </div>
                            <div class="col-md-5">Departure Country :</div>
                            <div class="col-md-7"><input type="text" maxlength="20" [(ngModel)]="newArvdInfoitem.departureCountry" id="cvArrDepCountry" class="form-control"/></div>
                            <div class="col-md-5">Arrival date :</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions" id="cvArrArrivalDate"[(ngModel)]="newArvdInfoitem.arrivalDate" [selDate]="arrivalDate"></my-date-picker>
                            </div>
                            <div class="col-md-5">Arrival Country :</div>
                            <div class="col-md-7"><input type="text" maxlength="20" id="cvArrArrivalCountry" [(ngModel)]="newArvdInfoitem.arrivalCountry" class="form-control"/></div>
                            <div class="col-md-5">Visa Type :</div>
                            <div class="col-md-7"><input type="text" maxlength="10" id="cvArrVisaType" [(ngModel)]="newArvdInfoitem.visaType" class="form-control"/></div>
                            <div class="col-md-5">I-94 :</div>
                            <div class="col-md-7"><input type="text" maxlength="15" id="cvArrI94" [(ngModel)]="newArvdInfoitem.i94" class="form-control"/></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="editbtn tbl-head-btn iportal-btnIMclient"	style="color: #008000 !important;margin-top: 4px!important; width: 90%;margin-right: 11px;" id="cvArrSave" (click)="ArvdInfoSave()">Save</button></div>
                                    <div class="col-md-6"><button type="button" class="editbtn tbl-head-btn iportal-btnIMclient"	style="color: #FF0000 !important;margin-left: 4px;width: 90%;margin-top: 4px!important;"   id="cvArrCancel" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
