<div class="main-content">
    <div class="clearfix"></div>
    <h2 class="headerinsections" style="font-size: 18px!important;color: #4EA0F9 !important;margin-top: 0px !important;margin-bottom: 7px!important;">Todo List</h2>
    <div class="table-data-forms">
            <!--<div _ngcontent-c4="" class="col-md-6 col-sm-6 col-xs-12 addresbox box-shadow" style="padding:12px 12px 12px 12px !important">-->
                <div class="col-md-6 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 _ngcontent-c4="">Todo List</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <form (submit)="addTodo($event)">
                                <input [(ngModel)]="newTodo" maxlength="100" id="addTodoNew" type="text" style="width: calc(100% - 40px);"  name="newTodo" (keyup)="enableAddButton(newTodo)"   >
                                <button *ngIf="hideAddButton" id="addTodoSubmit" type="submit" [disabled]="newTodo===''" class="addTodo">+</button>
                            </form>
                        </div>
                        <div class="col-md-1"></div>

                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <ul class="todolistItems">
                                <li *ngFor="let todo of todos; let i=index">
                                    <input type="checkbox" id="{{ todo.todoText }}" [checked]="todo.completed" [(ngModel)]="todo.completed" (change)="changed(todo)" />
                                    <label for="{{ todo.todoText }}">{{(i+1) + '. ' + todo.todoText }}</label>
                                    <a (click)="deleteTodo(i,todo)" class="delete-icon pull-right"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            <!--</div>-->
    </div>
</div>
