<div class="footer-links">
  <div class="container">
    <div class="col-md-5">
      <h1>Immigration Hub</h1>
      <a href="mailto:info@theimmigrationhub.com" class="email"><img src="../../../../../assets/images/web/mail@2x.png">info@theimmigrationhub.com</a>
      <a href="#" class="phone" style="margin: 0px;"><img src="../../../../../assets/images/web/phone-call@2x.png">+1 732-666-2556</a><br>
      2501 Rainer Rd,<br>
      Chester Springs, PA-19425
    </div>
    <div class="col-md-4">
      <h4>Explore</h4>
      <ul class="flinks">
        <li><a (click)="appService.moveToPage('login')" class="active">Home</a></li>
        <li><a (click)="appService.moveToPage('website/other/immigration-services')">Immigration Services</a></li>
        <li><a (click)="appService.moveToPage('website/other/pricing')">Pricing</a></li>
        <li><a (click)="appService.moveToPage('website/other/aboutus')">About Us</a></li>
      </ul>
      <ul class="flinks">
        <li><a (click)="appService.moveToPage('website/other/features')">Features</a></li>
        <li><a (click)="appService.moveToPage('website/other/faqs')">FAQs</a></li>
        <li><a (click)="appService.moveToPage('website/other/getintouch')">Get In Touch</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h4>Social</h4>
      <ul class="slinks">
        <li><a href="#" class="fb"></a></li>
        <li><a href="#" class="twitter"></a></li>
        <li><a href="#" class="insta"></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="copyright">
  <div class="container">
    <div class="col-md-12">
      CopyRights @ Immigration Hub
    </div>
  </div>
</div>
