<!DOCTYPE html>
<html>
<head>
    <title>The Immigration Hub</title>

</head>
<body>
    <div id='toTop'>
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>
    <div class="container-fluid">
      <ih-website-header></ih-website-header>
      <div class="row">
            <div class="blueHeader">Features</div>

            <div class="container contentpage">
                <div class="row">

                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="iph">Data Storage</h1>
                            <p>No storage restrictions....upload all you want to store. A strong well-thought out document management process can make an organization effective and efficient. Immigration Hub meets your need by providing well-organized document storage at minimal cost. All client documentation in one place. All documents are secured and stored as long as you need them. Empower your productivity by using Google drive too. </p>
                            <p>We make it simple move to store your records at off-site as well. We are providing. You can attach emails to case files with integrator. Easily and quickly add any emails directly to the client file. A complete solution for proper record management and communication no more confusion and no more lot emails.</p>
                        </div>
                        <div class="col-md-6">
                            <!--<h3 class="contentheading">What is Lorem Ipsum?</h3>-->
                            <img src="../../../../assets/images/web/Group284.png" class="img-responsive" style="margin-left: 15%!important;">
                        </div>
                        <div class="clear"></div>
                        <div class="col-md-6">
                            <!--<h3 class="contentheading">What is Lorem Ipsum?</h3>-->
                            <img src="../../../../assets/images/web/Group283.png" class="img-responsive" style="margin-top: 5% !important; margin-left: 15%!important;">
                        </div><div class="col-md-6">
                                  <h1 class="iph">Client Web Portal</h1>
                            <p>Stop relying on phone and email to communicate with clients. IH client web portal allows your clients to track progress of their status/application. It enables clients to login to the website directly. It acts as a secure media in which you and your client can exchange documents. One thing to say, by using IH client portal can makes you maintain efficient client relationship. </p>
                        <p>We are providing login details for every user so that they access the same without having any difficulty. It provides high security, reduces entry time of any data, increases accuracy and it enables clients to take questionnaires which is more convenient for them.</p>
                        </div>

                        <div class="clear"></div>
                        <div class="col-md-6">
                            <h1 class="iph">Online Forms Questionnaires</h1>
                            <p>IH has smart questionnaires to make client intake faster and easier. Questionnaires are available for many processes. It has been designed to access to observe any changes in US regulations. IH come up with its true automation; it avoids lengthy, repetitive, awkward DIBP form filling. IH coupled with questionnaires, it can save lots of time. Updates and changes to the forms are preserved in distinct versions. So that you can access your previous documents and historical data intact.</p>
                            <p>We are providing regular revisions and updates that means form updates are readily available within the system without any patches. Data from questionnaires automatically populated in forms which reduces data entry time and errors.</p>
                        </div>
                        <div class="col-md-6">
                            <!--<h3 class="contentheading">What is Lorem Ipsum?</h3>-->
                            <img src="../../../../assets/images/web/Group282.png" class="img-responsive" style="margin-left: 30%;">
                        </div>

                        <div class="clear"></div><div class="col-md-6">
                            <!--<h3 class="contentheading">What is Lorem Ipsum?</h3>-->
                            <img src="../../../../assets/images/web/Group281.png" class="img-responsive" style="margin-top: 5%;margin-left: 25%;">
                        </div>

                        <div class="col-md-6">
                            <h1 class="iph" style="margin-top: 5%;">Instant Notifications</h1>
                            <p>Give your clients flexible and a rich experience with your alerts and notifications. Get engage your clients with regular notification and updates. Real-time messaging can keep you in the loop. You can configure the events that require attention. Navigate each and every update to your client.</p>
                            <p>Notifications and alerts are improved version of communications these days.  You can monitor events and alerts with the incident alert dashboard. You can get billing alerts, report status, validation, expiry about any payment request and more.</p>
                        </div>

                        <div class="clear"></div>
                        <div class="col-md-6">
                            <h1 class="iph" style="margin-top: 15%;">Easy Understand Reports</h1>
                            <p>IH allows you to produce reports in real time and enables you to analyze and act. Stay organized and easily access and understandable crucial reports. You can use filters to get specific records by clients or date. You can track deadlines to identify the new revenue opportunities to track overdue accounts. IH assures a scalable way to manage your business and clients related to immigration work.</p>
                            <p>In-built report tool enables you to create customizable reports to grab new revenue opportunities with your existing clients. You could find case status reports, expiration status reports, and reminder reports. Visa priority date reports, billing reports, sales and payments reports, case activity reports.</p>
                        </div>
                        <div class="col-md-6">
                            <!--<h3 class="contentheading">What is Lorem Ipsum?</h3>-->
                            <img src="../../../../assets/images/web/Group280.png" class="img-responsive" style="margin-top:6%; margin-left: 10%;">
                        </div>

                        <div class="clear"></div> <div class="col-md-6">
                            <!--<h3 class="contentheading">What is Lorem Ipsum?</h3>-->
                            <img src="../../../../assets/images/web/Group279.png" class="img-responsive" style="margin-top: 6%; margin-left: 10%;">
                        </div>
                        <div class="col-md-6">
                            <h1 class="iph" style="margin-top: 8%;">Saas Application</h1>
                            <p>Get a high level of personalization by using SaaS application. The multi-tenant architecture enables you to expand your services. No need for databases, servers, and spread sheets everything is available round the clock. It completely eliminates manual process provides transparency and real time reporting. It will automatically integrate all your clients of the process. Upload infinite documents to the cloud storage. You can able to schedule calendar events for your clients.</p>
                            <p>SaaS removes the requirement for firms to install and run applications in their own data centers or on their own computers. This abolishes the expense of hardware provisioning, acquisition, and maintenance, as well as software installation licensing, and support.</p>
                        </div>

                    </div>

                </div>


            </div>
        </div>
        <div class="row">

            <div class="col-md-6 color50-2">
                <div class="douneed">
                    Do you need a Better way to Manage your Cases?
                    <button class="ourservice">Get Started</button>
                </div>
            </div>
            <div class="col-md-6 img50-2"></div>
        </div>
      <ih-website-footer></ih-website-footer>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
         $(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
});
    </script>
    <script type="text/javascript">
         $(window).scroll(function() {
    if ($(this).scrollTop()) {
        $('#toTop').fadeIn();
    } else {
        $('#toTop').fadeOut();
    }
});

         $('#toTop').click(function(){
    $("html, body").animate({ scrollTop: 0 }, 600);
    return false;
 });
    </script>
</body>
</html>
