<div class="main-content">

    <div class="table-data-forms">
        <h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">
            <img style="margin-bottom: 4px !important;" src="../../../../assets/images/Group984.png" />&nbsp;&nbsp;&nbsp;<span>{{appService.clientfirstName}} {{appService.clientlastName}}</span></h1>
        <div class="clearfix"></div>
        <h2 class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Address</h2>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="col-md-12 addresbox box-shadow">
            <div class="row">
              <div class="col-sm-12">
                <h2>Work Address</h2>
                <button type="submit" (click)="addressedit('WORK')" value="Edit" id="cvaddrWorkAddrEdit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" *ngIf="workedit==true">Edit</button>
                <div class="tbl-head-btn" [hidden]="workedit">
                  <button type="button" (click)="cancelEdit('WORK')" id="cvaddrWorkAddrCancel1" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="workedit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient"style="color: #008000 !important; width: 65px;" id="cvaddrWorkAddrSave1" [ngClass]="{'loader': showWorkAddrSaveButtonProgress}" [disabled]="showWorkAddrSaveButtonProgress" (click)="saveClientAdress('WORK')" *ngIf="workedit==false">Save</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Country</label></div>
              <div class="col-md-8"><input type="text" maxlength="20" id="cvaddrCountry" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.address.country"/></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Street 1</label></div>
              <div class="col-md-8"><input type="text" maxlength="255" id="cvaddrstreet1" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.address.street1"/></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Street 2</label></div>
              <div class="col-md-8"><input type="text" maxlength="255" id="cvaddrstreet2" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.address.street2"/></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Apt./Ste./Flr./Door</label></div>
              <div class="col-md-8">
                <select [disabled]="workedit" id="cvaddrApt" [(ngModel)]="WorkaddressinfoList.address.aptType">
                  <option id="APT" value="APT">APT</option>
                  <option id="STE" value="STE">STE</option>
                  <option id="FLR" value="FLR">FLR</option>
                  <option id="DOOR" value="DOOR">DOOR</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Number</label></div>
              <div class="col-md-8">
                <input maxlength="10" id="cvaddrAptNo" type="text" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.address.aptNo"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>City</label></div>
              <div class="col-md-8"><input type="text" maxlength="20" id="cvaddrCity" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.address.city"/></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>County</label></div>
              <div class="col-md-8"><input type="text" maxlength="20" id="cvaddrCounty" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.address.county"/></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>State</label></div>
              <div class="col-md-8"><input type="text" maxlength="20" id="cvaddrState" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.address.state"/></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Zip Code</label></div>
              <div class="col-md-8"><input type="text" maxlength="10" id="cvaddrZipCode" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.address.zipCode"/></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Telephone</label></div>
              <div class="col-md-8"><input type="text" maxlength="15" id="cvaddrTelephone" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.telephone"/></div>
            </div>

            <div class="row">
              <div class="col-md-4"><label>Fax</label></div>
              <div class="col-md-8"><input type="text" maxlength="15" id="cvaddrFax" [disabled]="workedit" [(ngModel)]="WorkaddressinfoList.fax"/></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="cvaddrWorkingSince">Working Since</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="workedit" [options]="myDatePickerOptions"
                                [(ngModel)]="WorkaddressinfoList.residingSince"
                                [selDate]="workResidingSince" id="cvaddrWorkingSince"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="tbl-head-btn" [hidden]="workedit">
                  <button type="button" (click)="cancelEdit('WORK')" id="cvaddrWorkAddrCancel2" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 0px!important;" *ngIf="workedit==false">Cancel</button>
                  <button type="submit" value="Save"  class="editbtn tbl-head-btn iportal-btnIMclient"  style="margin-top: 0px!important;color: #008000 !important; width: 65px;" id="cvaddrWorkAddrSave2" [ngClass]="{'loader': showWorkAddrSaveButtonProgress}" [disabled]="showWorkAddrSaveButtonProgress" (click)="saveClientAdress('WORK')" *ngIf="workedit==false">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="col-md-12 addresbox box-shadow">
            <div class="row">
              <div class="col-sm-12">
                <h2>Residence Address</h2>
                <button type="submit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" (click)="addressedit('RESIDENCE')" value="Edit" id="cvaddrResEdit"  *ngIf="residenceedit==true">Edit</button>
                <div class="tbl-head-btn" [hidden]="residenceedit">
                  <button type="button" (click)="cancelEdit('RESIDENCE')" id="cvaddrResCancel1" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="residenceedit==false">Cancel</button>
                  <button type="submit" value="Save"  class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important; width: 65px;" [ngClass]="{'loader': showResiAddrSaveButtonProgress}" [disabled]="showResiAddrSaveButtonProgress" id="cvaddrResSave1" (click)="saveClientAdress('RESIDENCE')" *ngIf="residenceedit==false">Save</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Country</label></div>
              <div class="col-md-8"><input type="text" maxlength="20" id="cvaddrResCountry" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.country" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Street 1</label></div>
              <div class="col-md-8"><input type="text" maxlength="255" id="cvaddrResStreet1" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.street1" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Street 2</label></div>
              <div class="col-md-8"><input type="text" maxlength="255" id="cvaddrResStreet2" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.street2" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Apt./Ste./Flr./Door</label></div>
              <div class="col-md-8">
                <select id="cvaddrResApt" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.aptType">
                  <option id="APT" value="APT">APT</option>
                  <option id="STE" value="STE">STE</option>
                  <option id="FLR" value="FLR">FLR</option>
                  <option id="DOOR" value="DOOR">DOOR</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Number</label></div>
              <div class="col-md-8">
                <input id="cvaddrResAptNo" maxlength="10" type="text" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.aptNo" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>City</label></div>
              <div class="col-md-8"><input type="text" maxlength="20" id="cvaddrResCity" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.city" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>County</label></div>
              <div class="col-md-8"><input type="text" maxlength="20" id="cvaddrResCounty" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.county" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>State</label></div>
              <div class="col-md-8"><input type="text" maxlength="20" id="cvaddrResState" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.state" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Zip Code</label></div>
              <div class="col-md-8"><input type="text" maxlength="10" id="cvaddrResZip" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.address.zipCode" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Telephone</label></div>
              <div class="col-md-8"><input type="text" maxlength="15" id="cvaddrResTel" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.telephone" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Fax</label></div>
              <div class="col-md-8"><input type="text" maxlength="15" id="cvaddrResFax" [disabled]="residenceedit" [(ngModel)]="ResidenceaddressinfoList.fax" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="wa-rs">Residing Since</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="residenceedit"  [options]="myDatePickerOptions"
                                [(ngModel)]="ResidenceaddressinfoList.residingSince"
                                [selDate]="resiResidingSince"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Use same for Mailing Address</label></div>
              <div class="col-md-8">
                <input type="checkbox" [disabled]="residenceedit" name="clientAddress" [(ngModel)]="checked" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="tbl-head-btn" [hidden]="residenceedit">
                  <button type="button" (click)="cancelEdit('RESIDENCE')" id="cvaddrResCancel2" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 0px!important;" *ngIf="residenceedit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient"  style="margin-top: 0px!important;color: #008000 !important;width: 65px;" [ngClass]="{'loader': showResiAddrSaveButtonProgress}" [disabled]="showResiAddrSaveButtonProgress" id="cvaddrResSave2" (click)="saveClientAdress('RESIDENCE')" *ngIf="residenceedit==false">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="col-md-12 addresbox box-shadow">
            <div class="row">
              <div class="col-sm-12">
                <h2>Mailing Address</h2>
                <button type="submit" (click)="addressedit('MAILING')" value="Edit" id="cvaddrMailingEdit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" *ngIf="mailingedit==true && !checked">Edit</button>
                <div class="tbl-head-btn" [hidden]="mailingedit && !checked">
                  <button type="button" (click)="cancelEdit('MAILING')" id="cvaddrMailingCancel1" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="mailingedit==false && !checked">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" id="cvaddrMailingSave1" style="color: #008000 !important; width: 65px;" [ngClass]="{'loader': showMailAddrSaveButtonProgress}" [disabled]="showMailAddrSaveButtonProgress" (click)="saveClientAdress('MAILING')" *ngIf="mailingedit==false && !checked">Save</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Country</label></div>
              <div class="col-md-8"><input type="text" maxlength="20" id="cvaddrMailingCountry" [disabled]="checked || mailingedit " [(ngModel)]="checked ? ResidenceaddressinfoList.address.country : MailingaddressinfoList.address.country" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Street 1</label></div>
              <div class="col-md-8"><input type="text" maxlength="255" id="cvaddrMailingStreet1" [disabled]="checked || mailingedit" [(ngModel)]="checked ? ResidenceaddressinfoList.address.street1 : MailingaddressinfoList.address.street1" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Street 2</label></div>
              <div class="col-md-8"><input type="text" maxlength="255" id="cvaddrMailingStreet2" [disabled]="checked || mailingedit" [(ngModel)]="checked ? ResidenceaddressinfoList.address.street2 : MailingaddressinfoList.address.street2" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Apt./Ste./Flr./Door</label></div>
              <div class="col-md-8">
                <select [disabled]="checked || mailingedit" id="cvaddrMailingApt" [(ngModel)]="checked ? ResidenceaddressinfoList.address.aptType : MailingaddressinfoList.address.aptType">
                  <option id="APT" value="APT">APT</option>
                  <option id="STE" value="STE">STE</option>
                  <option id="FLR" value="FLR">FLR</option>
                  <option id="DOOR" value="DOOR">DOOR</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Number</label></div>
              <div class="col-md-8">
                <input id="cvaddrMailingAptNo" type="text" maxlength="10" [disabled]="checked || mailingedit" [(ngModel)]="checked ? ResidenceaddressinfoList.address.aptNo : MailingaddressinfoList.address.aptNo" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>City</label></div>
              <div class="col-md-8"><input type="text" maxlength="20" id="cvaddrMailingCity" [disabled]="checked || mailingedit" [(ngModel)]="checked ? ResidenceaddressinfoList.address.city : MailingaddressinfoList.address.city" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>County</label></div>
              <div class="col-md-8"><input type="text" maxlength="20" id="cvaddrMailingCounty" [disabled]="checked || mailingedit" [(ngModel)]="checked ? ResidenceaddressinfoList.address.county : MailingaddressinfoList.address.county" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>State</label></div>
              <div class="col-md-8"><input type="text" maxlength="20" id="cvaddrMailingState" [disabled]="checked || mailingedit" [(ngModel)]="checked ? ResidenceaddressinfoList.address.state : MailingaddressinfoList.address.state" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Zip Code</label></div>
              <div class="col-md-8"><input type="text" maxlength="10" id="cvaddrMailingZip" [disabled]="checked || mailingedit" [(ngModel)]="checked ? ResidenceaddressinfoList.address.zipCode : MailingaddressinfoList.address.zipCode" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Telephone</label></div>
              <div class="col-md-8"><input type="text" maxlength="15" id="cvaddrMailingTel" [disabled]="checked || mailingedit" [(ngModel)]="checked ? ResidenceaddressinfoList.telephone : MailingaddressinfoList.telephone" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Fax</label></div>
              <div class="col-md-8"><input type="text" maxlength="15" id="cvaddrMailingFax" [disabled]="checked || mailingedit" [(ngModel)]="checked ? ResidenceaddressinfoList.fax : MailingaddressinfoList.fax" /></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="tbl-head-btn" [hidden]="checked || mailingedit">
                  <button type="button" (click)="cancelEdit('MAILING')" id="cvaddrMailingCancel2" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 0px!important;" *ngIf="mailingedit==false && !checked">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient"  style="margin-top: 0px!important;color: #008000 !important; width: 65px;" [ngClass]="{'loader': showMailAddrSaveButtonProgress}" [disabled]="showMailAddrSaveButtonProgress" id="cvaddrMailingSave2" (click)="saveClientAdress('MAILING')" *ngIf="mailingedit==false && !checked">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 12px!important;">
          <div class="col-md-12 addresbox box-shadow">
            <div class="row">
              <div class="col-sm-12">
                <h2>Foreign Address</h2>
                <button type="submit" (click)="addressedit('FOREIGN')" value="Edit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" id="cvaddrForiegnEdit" *ngIf="foreignedit==true">Edit</button>
                <div class="tbl-head-btn" [hidden]="foreignedit">
                  <button type="button" (click)="cancelEdit('FOREIGN')" id="cvaddrForiegnCancel1" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="foreignedit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important; width: 65px;" [ngClass]="{'loader': showForeignAddrSaveButtonProgress}" [disabled]="showForeignAddrSaveButtonProgress" id="cvaddrForiegnSave1" (click)="saveClientAdress('FOREIGN')" *ngIf="foreignedit==false">Save</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Country</label></div>
              <div class="col-md-8"><input type="text" maxlength="20" id="cvaddrForiegnCountry" [disabled]="foreignedit" [(ngModel)]="ForiegnaddressinfoList.address.country" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Street 1</label></div>
              <div class="col-md-8"><input type="text" maxlength="255" id="cvaddrForiegnStreet1" [disabled]="foreignedit" [(ngModel)]="ForiegnaddressinfoList.address.street1" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Street 2</label></div>
              <div class="col-md-8"><input type="text" maxlength="255" id="cvaddrForiegnStreet2" [disabled]="foreignedit" [(ngModel)]="ForiegnaddressinfoList.address.street2" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Apt./Ste./Flr./Door</label></div>
              <div class="col-md-8">
                <select id="cvaddrForiegnApt" [disabled]="foreignedit" [(ngModel)]="ForiegnaddressinfoList.address.aptType">
                  <option id="APT" value="APT">APT</option>
                  <option id="STE" value="STE">STE</option>
                  <option id="FLR" value="FLR">FLR</option>
                  <option id="DOOR" value="DOOR">DOOR</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Number</label></div>
              <div class="col-md-8">
                <input id="cvaddrForiegnAptNo" maxlength="10" type="text" [disabled]="foreignedit" [(ngModel)]="ForiegnaddressinfoList.address.aptNo" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>City</label></div>
              <div class="col-md-8"><input type="text" maxlength="20" id="cvaddrForiegnCity" [disabled]="foreignedit" [(ngModel)]="ForiegnaddressinfoList.address.city" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>County</label></div>
              <div class="col-md-8"><input type="text" maxlength="20" id="cvaddrForiegnCounty" [disabled]="foreignedit" [(ngModel)]="ForiegnaddressinfoList.address.county" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>State</label></div>
              <div class="col-md-8"><input type="text" maxlength="20" id="cvaddrForiegnState" [disabled]="foreignedit" [(ngModel)]="ForiegnaddressinfoList.address.state" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Zip Code</label></div>
              <div class="col-md-8"><input type="text" maxlength="10" id="cvaddrForiegnZip" [disabled]="foreignedit" [(ngModel)]="ForiegnaddressinfoList.address.zipCode" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Telephone</label></div>
              <div class="col-md-8"><input type="text" maxlength="15" id="cvaddrForiegnTel" [disabled]="foreignedit" [(ngModel)]="ForiegnaddressinfoList.telephone" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Fax</label></div>
              <div class="col-md-8"><input type="text" maxlength="15" id="cvaddrForiegnFax" [disabled]="foreignedit" [(ngModel)]="ForiegnaddressinfoList.fax" /></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="tbl-head-btn" [hidden]="foreignedit">
                  <button type="button" (click)="cancelEdit('FOREIGN')" id="cvaddrForiegnCancel2" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 0px!important;" *ngIf="foreignedit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient"style="margin-top: 0px!important;color: #008000 !important; width: 65px;" [ngClass]="{'loader': showForeignAddrSaveButtonProgress}" [disabled]="showForeignAddrSaveButtonProgress" id="cvaddrForiegnSave2" (click)="saveClientAdress('FOREIGN')" *ngIf="foreignedit==false">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
</div>
