<div class="main-content">
    <div class="table-data-forms">
        <h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">
            <img style="margin-bottom: 4px !important;" src="../../../../assets/images/Group984.png" />&nbsp;&nbsp;&nbsp;<span>{{appService.clientfirstName}} {{appService.clientlastName}}</span></h1>
        <div class="clearfix"></div>
        <h2 class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Passport Info</h2>
          <div class="col-md-6 addresbox box-shadow">
            <div class="row">
              <div class="col-sm-12">
                <h2>Passport</h2>
                <button type="submit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" (click)="editForm()" id="ivClientDtlsPInfoEdit" *ngIf="isEdit==true">Edit</button>
                <div class="tbl-head-btn" [hidden]="isEdit">
                  <button type="button" (click)="cancelEdit()" id="ivClientDtlsPInfoCancel" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="isEdit==false">Cancel</button>
                  <button type="submit" value="Save" id="ivClientDtlsPInfoSave" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important; width: 65px;" [ngClass]="{'loader': saveButtonProgress}" [disabled]="saveButtonProgress" (click)="saveClientPassport()" *ngIf="isEdit==false">Save</button>
                </div>
              </div>

            </div>
            <div class="row" *ngIf="warningMessage">
              <div class="col-md-12">
                <span class="redstar">* Fields are Mandatory.</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoPNo">Passport No.<span class="redstar">*</span></label></div>
              <div class="col-md-8"><input maxlength="10" [disabled]="isEdit" type="text" id="ivClientDtlsPInfoPNo" [(ngModel)]="passport.passportNumber" [ngClass]="passport.passportNumber == '' ? 'redborder': ''" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoPlace">Issuance Place</label></div>
              <div class="col-md-8"><input maxlength="45" [disabled]="isEdit" type="text" id="ivClientDtlsPInfoPlace" [(ngModel)]="passport.issuancePlace" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoState">Issuance State</label></div>
              <div class="col-md-8"><input maxlength="20" [disabled]="isEdit" type="text" id="ivClientDtlsPInfoState" [(ngModel)]="passport.issuanceState" /></div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoIssuanceCountry">Issuance Country</label></div>
              <div class="col-md-8"><input maxlength="20" [disabled]="isEdit" type="text" id="ivClientDtlsPInfoIssuanceCountry" [(ngModel)]="passport.issuanceCountry" />
                </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoIssuingCountry">Issuing Country<span class="redstar">*</span></label></div>
              <div class="col-md-8"><input maxlength="20" [disabled]="isEdit" type="text" id="ivClientDtlsPInfoIssuingCountry" [(ngModel)]="passport.issuingCountry" [ngClass]="passport.issuingCountry == '' ? 'redborder': ''" />
                </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoIssuingDate">Issuance Date<span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isEdit" id="ivClientDtlsPInfoIssuingDate" [options]="myDatePickerOptions" [(ngModel)]="passport.isuanceDate" [selDate]="isuanceDate" [ngClass]="passport.isuanceDate == '' ? 'redborder': ''">
                </my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoExpDate">Expiration Date<span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isEdit" id="ivClientDtlsPInfoExpDate" [options]="myDatePickerOptions" [ngClass]="passport.expirationDate == '' ? 'redborder': ''" [(ngModel)]="passport.expirationDate" [selDate]="expirationDate">
                </my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoDob">Date of Birth<span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isEdit" id="ivClientDtlsPInfoDob" [options]="myDatePickerOptions" [ngClass]="passport.dateOfBirth == '' ? 'redborder': ''" [(ngModel)]="passport.dateOfBirth" [selDate]="dateOfBirth">
                </my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoCob">City/Town/Village Of Birth</label></div>
              <div class="col-md-8"><input maxlength="20" [disabled]="isEdit" type="text" id="ivClientDtlsPInfoCob" [(ngModel)]="passport.cityOfBirth" />
            </div>
           </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoSob">State of Birth</label></div>
              <div class="col-md-8"><input maxlength="20" [disabled]="isEdit" type="text" id="ivClientDtlsPInfoSob" [(ngModel)]="passport.stateOfBirth" />
               </div>
              {{countryofbirth}}
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoCob">Country of Birth<span class="redstar">*</span></label></div>
              <div class="col-md-8"><input maxlength="20" [disabled]="isEdit" type="text" id="ivClientDtlsPInfoCob" [(ngModel)]="passport.countryOfBirth" />
                </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoNationality">Nationality</label></div>
              <div class="col-md-8"><input maxlength="20" [disabled]="isEdit" type="text" id="ivClientDtlsPInfoNationality" [(ngModel)]="passport.nationality" />
                </div>
            </div>

            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoMarks">Identification Marks</label></div>
              <div class="col-md-8"><input maxlength="255" [disabled]="isEdit" type="text" id="ivClientDtlsPInfoMarks" [(ngModel)]="passport.identificationMarks" />
               </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoLostPassport">Have you ever lost a passport?</label></div>
              <div class="col-md-8">
                <select [disabled]="isEdit" [(ngModel)]="passport.everLostPassport" class="form-control">
                  <option value="true" id="ivClientDtlsPInfoLostPassportYes">YES</option>
                  <option value="false" id="ivClientDtlsPInfoLostPassportNo">NO</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoTDoc">Travel Document#</label></div>
              <div class="col-md-8"><input maxlength="45" [disabled]="isEdit" type="text" id="ivClientDtlsPInfoTDoc" [(ngModel)]="passport.travelDocumentNumber" />
                </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="ivClientDtlsPInfoComments">Comments</label></div>
              <div class="col-md-8"><input maxlength="255" [disabled]="isEdit" type="text" id="ivClientDtlsPInfoComments" [(ngModel)]="passport.comments" />
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="tbl-head-btn" [hidden]="isEdit">
                  <button type="button" (click)="cancelEdit()" id="ivClientDtlsPInfoCancel1" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 4px!important;"*ngIf="isEdit==false">Cancel</button>
                  <button type="submit" value="Save" id="ivClientDtlsPInfoSave1" class="editbtn tbl-head-btn iportal-btnIMclient" style="margin-top: 4px!important;color: #008000 !important; width: 65px;" [ngClass]="{'loader': saveButtonProgress}" [disabled]="saveButtonProgress" (click)="saveClientPassport()" *ngIf="isEdit==false">Save</button>
                </div>
              </div>

            </div>
            <div class="row" *ngIf="warningMessage">
              <div class="col-md-12">
                <span class="redstar">* Fields are Mandatory.</span>
              </div>
            </div>
          </div>
      </div>
</div>
