<div class="main-content" *ngIf="getDocExpirations">

    <div class="table-data">
        <h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')"><img style="margin-bottom: 4px !important;" src="../../../../assets/images/Group984.png" />&nbsp;&nbsp;&nbsp;<span>{{appService.clientfirstName}} {{appService.clientlastName}}</span></h1>
        <div class="clearfix"></div>
        <h2 class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Document Expirations</h2>
          <ih-smart-table class="benadd" [settings]="settings" [data]="data"
                     (onAddClick)="addNewDocExps($event)" (onRowClick)="editDocuments($event)" (onDeleteClick)="deleteDocuments($event)"></ih-smart-table>
        <div class="clearfix"></div>
    </div>
</div>
<div *ngIf="addDocExpiration">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()" id="ivClientDtlsDocExpClose">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">Document Type:</div>
                            <div class="col-md-7"><input maxlength="50" type="text" id="ivClientDtlsDocExpDocType" [(ngModel)]="addNewDocExp.documentType" class="form-control"></div>
                            <div class="col-md-5">Valid From:</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="addNewDocExp.validFrom"
                                                [selDate]="validFrom" id="ivClientDtlsDocExpValidFrom"></my-date-picker>
                            </div>
                            <div class="col-md-5">Valid To:</div>
                            <div class="col-md-7">
                                <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" [(ngModel)]="addNewDocExp.validTo"
                                                [selDate]="validTo" id="ivClientDtlsDocExpValidTo"></my-date-picker>
                            </div>
                            <div class="col-md-5">Status:</div>
                            <div class="col-md-7"><input type="text" maxlength="45" id="ivClientDtlsDocExpStatus" [(ngModel)]="addNewDocExp.status" class="form-control"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" id="ivClientDtlsDocExpSave" class="editbtn tbl-head-btn iportal-btnIMclient"style="margin-top: 4px!important;color: #008000 !important;margin-right: 11px; width: 90%;" [ngClass]="{'loader': showWorkAddrSaveButtonProgress}" [disabled]="showWorkAddrSaveButtonProgress" (click)="docExpSave()">Save</button></div>
                                    <div class="col-md-6"><button type="button" id="ivClientDtlsDocExpCancel" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;width: 90%;margin-top: 4px!important;" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
