<div class="modal-dialog loginpopup">
    <div class="modal-content">
        <div class="newlogin">
            <div class="logBox">
                <div class="blueBox">
                    <h1>Welcome to Immigration Portal</h1>
                    <p>Linking the Beneficiaries to Immigration Officers portal...</p>
                    <div class="social">
                        <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="whiteBox">

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8"><img class="newloglogo" src="../../../../../assets/images/logo-black.png" /></div>
                        <div class="col-md-2"><button type="button" class="close" (click)="close()" style="opacity: 0.8; margin-right:10px;margin-top:10px;">&times;</button></div>
                        <div class="clear"></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <form action="" [formGroup]="login"
                                  (ngSubmit)="onSubmitClick(login.value, login.valid)"
                                  autocomplete="off">
                                <!--<h2>Immigration Hub</h2>-->
                                <div class="form-group row" [hidden]="!message">
                                    {{message}}
                                </div>
                                <div class="form-group" *ngIf="isforgotPwd==true">
                                    <div class="user_id">
                                        <!--<label>Email</label>-->
                                        <div class="emailicon"></div>
                                        <input type="email" class="form-control" id="userId"
                                               placeholder="Email Address" formControlName="emailId" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                               required />
                                    </div>
                                    <div class="password">
                                        <!--<label>PASSWORD</label>-->
                                        <div class="pwdicon"></div>
                                        <input type="password" class="form-control"
                                               id="inputPassword3" placeholder="Password"
                                               formControlName="password" required />
                                    </div>
                                    <div class="sign_in">
                                        <button type="submit" class="btn newlogbtn" [disabled]="!login.valid">Sign in</button>
                                    </div>
                                    <div class="forgot_password">
                                        <a (click)="frgtPwd(login)">Forgot Password?</a>
                                    </div>
                                </div>
                            </form>
                          <form [formGroup]="forgotPwd"
                                (ngSubmit)="onSubmitClick(forgotPwd.value, forgotPwd.valid)"
                                autocomplete="off">
                                <div class="form-group" *ngIf="isforgotPwd==false">
                                    <div class="user_id">
                                        <!--<label>Enter Registered Email Id</label>-->
                                        <div class="emailicon"></div>
                                        <input type="email" class="form-control" id="forgetPassword" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                               required placeholder="Email" formControlName="emailId">
                                    </div>
                                    <div class="sign_in">
                                        <button type="submit" class="btn newlogbtn" [disabled]="!forgotPwd.valid">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
