<div class="main-content">

    <div class="container">


        <h6>Please select Account</h6>
        <div>
            <select class="col-md-3 form-control" (change)="changeaccount($event.target.value)">
                <option *ngFor="let account of reportsCommonService.totalAccounts" [value]="account.accountId" id="{{account.accountName}}">{{account.accountName}}</option>
            </select>
        </div>

        <div class="row">
            <div class="col-md-6" *ngFor="let org of orgsNames">
                <canvas responsive="true" maintainAspectRatio="false" height="200" baseChart
                        [data]="pieChartData[org]"
                        [labels]="pieChartLabels[org]"
                        [chartType]="pieChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                <span style="color:white;">{{org}}</span>
            </div>
        </div>

    </div>
</div>


