<div class="main-content">
  <div class="table-data">
    <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
    <h1 style="float:right;">{{appService.petitionDetails}}</h1>
    <div class="clearfix"></div>-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <!--<a (click)="gotoPrev()" class="prevbtn">Back</a>-->
          </div>
          <div class="col-md-4 pagenoof36">Page 22 of 36</div>
          <div class="col-md-4">
            <a (click)="gotoNext()" class="nextbtn iportal-btnIMclient">Next</a>
            <a *ngIf="isQuestionnaireEdit" (click)="cancelQuestinnaireEdit()" class="nextbtn iportal-btnIMclient" style="color: #FF0000 !important;">Cancel</a>
            <a *ngIf="isQuestionnaireEdit" (click)="saveQuestionnaireInformation()" class="nextbtn iportal-btnIMclient" style="color: #008000 !important;">Save</a>
            <a *ngIf="!isQuestionnaireEdit" (click)="editQuestinnaireForm()" class="nextbtn iportal-btnIMclient">Edit</a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 addresbox box-shadow clientview-ques129h">
          <div>
            <div class="col-md-12" style="margin-top: 10px;">
              <div class="row">
                <div class="col-md-12">Name of the Petitioner</div>
                <div class="col-md-12"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page22.petitonerName"/></div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">Name of the Beneficiary</div>
              <div class="col-md-12"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page22.beneficiaryName"/></div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <p>This petition is (select only one box):</p>
              </div>
              <div class="col-md-4" *ngFor="let x of isPetition">


                <label for="">
                        <input type="radio" name="petitiontype" [disabled]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page22.petitionType" />
                        {{x.display}}
                      </label>

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-8">
                <p>Does the petitioner employ 50 or more individual in the U.S.?</p>
              </div>
              <div class="col-md-2" *ngFor="let x of questions">
                <label for="">
                        <input type="radio" name="petition50ormore" [disabled]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page22.doesPetitionerEmploy50OrMore"/>
                        {{x.display}}
                      </label>

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-8">
                <p>If yes, are more than 50 percent of these employee in H-1B,L-1A, or L-1B nonimmigrant status?</p>
              </div>
              <div class="col-md-2" *ngFor="let x of questions">
                <label for="">
                        <input type="radio" name="petitionh1b" [disabled]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page22.areMoreThan50EmployeeInH1BOrL1BOrL1A"/>
                        {{x.display}}
                      </label>

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <h2>Complete This Section If Filing For An Individual Petition</h2>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <p>Classification sought (select only one box): </p>
              </div>
              <div class="col-md-4" *ngFor="let x of classificationSought">
                <label for="">
                        <input type="radio" name="petitionindividual" [disabled]="!isQuestionnaireEdit"  [value]="x.value" [(ngModel)]="page22.sought"/>
                        {{x.display}}
                      </label>

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <p>List the beneficiary's and any dependent family member's prior periods of stay in an H or L classification in the United States for
              the last seven years.  Be sure to list only those periods in which the beneficiary and/or family members were physically present in
              the U.S. in an H or L classification.  Do not include periods in which the beneficiary was in a dependent status, for example, H-4
              the U.S. in an H or L classification.  Do not include periods in which the beneficiary was in a dependent status, for example, H-4 </p>
            <p>NOTE:  Submit photocopies of Forms I-94, I-797, and/or other USCIS issued documents noting these periods of stay in the H or L classification. (If more space is needed, attach an additional sheet.)</p>
            <table width='100%' border="1" cellpadding="3" cellspacing="0">
              <tr>
                <td width="70%" align="center" valign="middle">Subject's Name</td>
                <td width="30%;" colspan="2">
                  <table width='100%'>
                    <tr>
                      <td colspan="2" align="center" valign="middle">Period of Stay (mm-dd-yyyy)</td>
                    </tr>
                    <tr>
                      <td width="50%" align="center" valign="middle">From</td>
                      <td width="50%" align="center" valign="middle">To</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <!--<td><span></span><td>-->
                <td><input type="text"  class="form-control" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page22.subjectName1"/></td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page22.fromDate1" [selDate]="fromDate1"></my-date-picker>

                </td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page22.toDate1" [selDate]="toDate1"></my-date-picker>
                </td>
              </tr>
              <tr>
                <!--<td><span></span><td>-->
                <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page22.subjectName2"/></td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page22.fromDate2" [selDate]="fromDate2"></my-date-picker>
                </td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page22.toDate2" [selDate]="toDate2"></my-date-picker>
                </td>

              </tr>
              <tr>
                <!--<td><span></span><td>-->

                <td><input type="text" [disabled]="!isQuestionnaireEdit"  [(ngModel)]="page22.subjectName3"/></td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page22.fromDate3" [selDate]="fromDate3"></my-date-picker>
                </td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page22.toDate3" [selDate]="toDate3"></my-date-picker>
                </td>

              </tr>
              <tr>
                <!--<td><span></span><td>-->
                <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page22.subjectName4" /></td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page22.fromDate4" [selDate]="fromDate4"></my-date-picker>
                </td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page22.toDate4" [selDate]="toDate4"></my-date-picker>
                </td>

              </tr>
              <tr>
                <!--<td><span></span><td>-->
                <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page22.subjectName5" /></td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page22.fromDate5" [selDate]="fromDate5"></my-date-picker>
                </td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions"  [(ngModel)]="page22.toDate5" [selDate]="toDate5"></my-date-picker>
                </td>

              </tr>
              <tr>
                <!--<td><span></span><td>-->

                <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page22.subjectName6" /></td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page22.fromDate6" [selDate]="fromDate6"></my-date-picker>
                </td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page22.toDate6" [selDate]="toDate6"></my-date-picker>
                </td>

              </tr>
              <tr>
                <!--<td><span></span><td>-->
                <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page22.subjectName7" /></td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page22.fromDate7" [selDate]="fromDate7"></my-date-picker>
                </td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page22.toDate7" [selDate]="toDate7"></my-date-picker>
                </td>

              </tr>
            </table>
          </div>

          <div class="col-md-12"style="margin-top: 10px;">
              <div class="col-md-12">Name of the Employer Abroad</div>
              <div class="col-md-12"><input type="text" [disabled]="!isQuestionnaireEdit"  [(ngModel)]="page22.nameOfEmployer"/></div>
          </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4">Street Number and Name</div>
                    <div class="col-md-8">
                        <input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page22.employerAddress.street" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-5"><label>Apt./Ste./Flr./Door</label></div>
                    <div class="col-md-7">
                        <div class="col-md-3" *ngFor="let x of aptType">
                            {{x.display}}<input type="radio" name="aptType" [disabled]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page22.employerAddress.aptType">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="col-md-4">Number </div>
                    <div class="col-md-8">
                        <input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page22.employerAddress.houseNumber" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4">City or Town</div>
                    <div class="col-md-8">
                        <input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page22.employerAddress.city" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">State</div>
                    <div class="col-md-8">
                        <select [(ngModel)]="page22.employerAddress.state" [disabled]="!isQuestionnaireEdit">
                            <option *ngFor="let x of states" [value]="x.value">{{x.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="col-md-4">ZIP Code</div>
                        <div class="col-md-8">
                            <input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page22.employerAddress.zipCode" />
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-4">Province</div>
                    <div class="col-md-8">
                        <input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page22.employerAddress.province" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">Postal Code</div>
                    <div class="col-md-8">
                        <input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page22.employerAddress.postalCode" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">Country</div>
                    <div class="col-md-8">
                        <input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page22.employerAddress.country" />
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
