<div class="main-content">
    <div class="pagetitleandfilters">
        <div class="mainContainer">
            <h2>Petitions</h2>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="mainContainer">
        <div class="table-data">
            <ih-smart-table class="petitionslistTbl"
                         [settings]="settings"
                         [data]="data"
                         [paginationData]="paginationData"
                         (onRowClick)="moveToPetitionDetails($event)"
                         (dataWithQueryParams)="dataWithParameters($event)"></ih-smart-table>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
