<div class="main-content">
  <div class="table-data">
    <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <a (click)="gotoPrev()" class="prevbtn">Previous</a>
          </div>
          <div class="col-md-4 pagenoof36">Page 23 of 36</div>
          <div class="col-md-4">
            <a (click)="gotoNext()" class="nextbtn iportal-btnIMclient">Next</a>
            <a *ngIf="isQuestionnaireEdit" (click)="cancelQuestinnaireEdit()" class="nextbtn iportal-btnIMclient" style="color: #FF0000 !important;">Cancel</a>
            <a *ngIf="isQuestionnaireEdit" (click)="saveQuestionnaireInformation()" class="nextbtn iportal-btnIMclient" style="color: #008000 !important;">Save</a>
            <a *ngIf="!isQuestionnaireEdit" (click)="editQuestinnaireForm()" class="nextbtn iportal-btnIMclient">Edit</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 Questionnaireheader">
        <h2> Complete This Selection If Filing For An Individual Petition (Continued) </h2>
      </div>
      <div class="col-md-12" style="margin-top: 3%;">
        <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
            <div class="col-md-12" style="margin-top:2%;">
              <p>Dates of beneficiary employment with this employer. Explain any interruptions in employement.</p>
            </div>
            <div class="col-md-12">
              <table width='100%' border="1" cellpadding="3" cellspacing="0">
                <tr>
                <td width="70%" align="center" valign="middle">Explanation of Interruptions</td>
                <td width="30%;" colspan="2">
                  <table width='100%'>
                    <tr>
                      <td colspan="2" align="center" valign="middle">Date of employement (mm-dd-yyyy)</td>
                    </tr>
                    <tr>
                      <td width="50%" align="center" valign="middle">From</td>
                      <td width="50%" align="center" valign="middle">To</td>
                    </tr>
                  </table>
                </td>
              </tr>
                <tr>

                    <td><input type="text" class="form-control" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page23.interruption1" /></td>

                  <td>
                    <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page23.fromDate1" [selDate]="fromDate1"></my-date-picker>
                  </td>
                  <td>
                    <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page23.toDate1" [selDate]="toDate1" ></my-date-picker>
                  </td>
                </tr>
                <tr>
                  <!--<td><span></span><td>-->
                    <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page23.interruption2"/></td>

                  <td>
                    <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page23.fromDate2" [selDate]="fromDate2"></my-date-picker>
                  </td>
                  <td>
                    <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page23.toDate2" [selDate]="toDate2"></my-date-picker>
                  </td>
                </tr>
                <tr>
                  <!--<td><span></span><td>-->

                    <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page23.interruption3"/></td>

                  <td>
                    <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page23.fromDate3" [selDate]="fromDate3"></my-date-picker>
                  </td>
                  <td>
                    <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page23.toDate3" [selDate]="toDate3"></my-date-picker>
                  </td>
                </tr>
                <tr>
                  <!--<td><span></span><td>-->
                    <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page23.interruption4"/></td>

                  <td>
                    <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page23.fromDate4" [selDate]="fromDate4"></my-date-picker>
                  </td>
                  <td>
                    <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page23.toDate4" [selDate]="toDate4"></my-date-picker>
                  </td>
                </tr>
                <tr>
                  <!--<td><span></span><td>-->
                    <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page23.interruption5"/></td>
                  <td>
                    <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page23.fromDate5" [selDate]="fromDate5"></my-date-picker>
                  </td>
                  <td>
                    <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page23.toDate5" [selDate]="toDate5"></my-date-picker>
                  </td>
                </tr>
                <tr>
                    <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page23.interruption6"/></td>
                  <td>
                    <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page23.fromDate6" [selDate]="fromDate6"></my-date-picker>
                  </td>
                  <td>
                    <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page23.toDate6" [selDate]="toDate6"></my-date-picker>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
              <p>Describe the beneficiary's duties abroad for 3 years preceding the filing of the petition. (If the beneficiary
                is currently inside the United States, describe the beneficiary's duties abroad for the 3 years preceding
                the beneficiary admission to the United States.)</p>
            </div>
            <div class="col-md-12"><textarea rows="6" style="min-height:120px;"  [disabled]="!isQuestionnaireEdit" [(ngModel)]="page23.beneficiaryDutiesAbroad" textarea></textarea></div>
            <div class="col-md-12">
              <p>Describe the beneficiary's proposed duties in United States.</p>
            </div>
            <div class="col-md-12"><textarea rows="6" style="min-height:120px;" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page23.beneficiaryDutiesinUS"></textarea></div>
            <div class="col-md-12">
              <p>Summarize the beneficiary's education and work experience.</p>
            </div>
            <div class="col-md-12"><textarea rows="6" style="min-height:120px;" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page23.beneficiaryEducation"></textarea></div>
            <div class="col-md-12">
              <p>How is the U.S. company related to the compnay abroad? (select only one box)</p>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2" *ngFor="let x of companyRelated">
                  <label for="">
                        <input type="radio" [disabled]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page23.uscompanyRelationToAbroadCompany"/>
                        {{x.display}}
                      </label>
                </div>

              </div>
            </div>
        </div>
      </div>
  </div>
</div>
