
<div class="main-content" *ngIf="getShipping">
    <ul class="breadcrumb">
        <li><a href="#">Shipping Address</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2 class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 2.1em!important;">Shipping Address</h2>
        <ih-smart-table class="immiview-managAcctab-shippingaddress newclass" [settings]="settings"
                     [data]="data"
                     (onAddClick)="addFunction($event)"
                     (onRowClick)="editRecord($event)"
                     (onDeleteClick)="deleteRecord($event)">
        </ih-smart-table>
        <div class="clearfix"></div>
    </div>
</div>
<div *ngIf="addShippingAdress">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">Address Name:</div>
                            <div class="col-md-7"><input type="text" maxlength="25" [(ngModel)]="addAdress.addressName" class="form-control"></div>
                            <div class="col-md-5">Address:</div>
                            <div class="col-md-7"><textarea type="text" maxlength="100" [(ngModel)]="addAdress.address" class="form-control"></textarea></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="editbtn tbl-head-btn iportal-btnIMclient"style="color: #008000 !important;margin-top: 4px!important; width: 90%;margin-right: 11px;" (click)="shipAddressSave()">Save</button></div>
                                    <div class="col-md-6"><button type="button" class="editbtn tbl-head-btn iportal-btnIMclient"style="color: #FF0000 !important;margin-left: 4px;width: 90%;margin-top: 4px!important;"  (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
