<!DOCTYPE html>
<html>
<head>
    <title>The Immigration Hub</title>

</head>
<body>
    <div id='toTop'>
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>
    <div class="container-fluid">
        <ih-website-header></ih-website-header>
        <div class="row">
            <div class="blueHeader">About Us</div>
        </div>
        <div class="container no-pad">
            <div class="row">
                <div class="col-md-6">
                    <img src="../../../../../../assets/images/web/about-1.jpg" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <p>Immigration Hub has developed with the mission of linking IT with Immigration. We are aiming to give time-saving, innovative and reliable solutions to clients.  We are committed to providing the very best, intelligent and cost-effective immigration process to improve your scale, reduce your workload faster than ever with the market leading software Immigration Hub.</p>
                    <p>Immigration Hub acts as a powerful arbitrator to you and your clients. Client Web portal, easily understandable reports are the cornerstone of the Immigration Hub web portal.  The prodigious customized storage solution is a huge asset for you. Liberate your time and lessen your staff cost with increased compliance and accuracy. IH makes every aspect of your casework easier and faster. Our marvelous cloud-based SaaS Application and the software helps your clients more effectively in the market and manage their growth in their business.</p>
                </div>
            </div>
        </div>
      <ih-website-footer></ih-website-footer>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
         $('.collapse').on('shown.bs.collapse', function(){
         $(this).parent().find(".fa-angle-down").removeClass("fa-angle-down").addClass("fa-angle-up");
         }).on('hidden.bs.collapse', function(){
         $(this).parent().find(".fa-angle-up").removeClass("fa-angle-up").addClass("fa-angle-down");
         });
    </script>
    <script type="text/javascript">
         $(window).scroll(function() {
    if ($(this).scrollTop()) {
        $('#toTop').fadeIn();
    } else {
        $('#toTop').fadeOut();
    }
});

         $('#toTop').click(function(){
    $("html, body").animate({ scrollTop: 0 }, 600);
    return false;
 });
    </script>
</body>
</html>
