<div class="main-content" *ngIf="getAccountsData">
    <!--<ul class="breadcrumb">
        <li><a href="#">Accounts</a></li>
    </ul>-->
    <!--<div class="clearfix"></div>-->
  <div class="pagetitleandfilters">
    <div class="mainContainer">
      <h2>Accounts</h2>
      <div class="table-data">
        <ih-smart-table class="superUserViewAccounts benadd"
                        [settings]="settings"
                        [data]="data"
                        (onAddClick)="addFunction($event)"
                        [paginationData]="paginationData"
                        (onRowClick)="editRecord($event)"
                        (dataWithQueryParams)="dataWithParameters($event)"></ih-smart-table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="addAccounts">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" id="svActclose" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"><span class="redstar">*</span> Account Name:</div>
                            <div class="col-md-8"><input type="text" id="svActAccountName" [(ngModel)]="accountDetails.accountName" class="form-control" [ngClass]="accountDetails.accountName == '' ? 'redborder': ''" ></div>
                            <div class="col-md-4"><span class="redstar">*</span> First Name:</div>
                            <div class="col-md-8"><input type="text" id="svActFName" [(ngModel)]="accountDetails.firstName" class="form-control" [ngClass]="accountDetails.firstName == '' ? 'redborder': ''" ></div>
                            <div class="col-md-4"><span class="redstar">*</span> Last Name:</div>
                            <div class="col-md-8"><input type="text" id="svActLName" [(ngModel)]="accountDetails.lastName" class="form-control" [ngClass]="accountDetails.lastName == '' ? 'redborder': ''" ></div>
                            <div class="col-md-4"><span class="redstar">*</span> Email:</div>
                            <div class="col-md-8"><input type="text" id="svActEmail" [(ngModel)]="accountDetails.email" class="form-control" [ngClass]="accountDetails.email == '' ? 'redborder': ''" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required #emailId="ngModel" /></div>
                            <div class="col-md-4"><span class="redstar">*</span> Phone:</div>
                            <div class="col-md-8"><input type="text" id="svActphone" [(ngModel)]="accountDetails.phone" class="form-control" [ngClass]="accountDetails.phone == '' ? 'redborder': ''" ></div>
                            <div class="col-md-4"><span class="redstar">*</span> Storage Type::</div>
                            <div class="col-md-8">
                            <select [(ngModel)]="accountDetails.objectStore" class="form-control" [ngClass]="accountDetails.objectStore == '' ? 'redborder': ''">
                                <option value="S3" id="svActs3">S3</option>
                                <option value="GD" id="svActGd">GD</option>
                            </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row sfm" *ngIf="warningMessage">
                                    <div class="col-md-12">
                                        <span class="redstar">* Fields are Mandatory.</span>
                                    </div>
                                </div>
                                <div class="row sfm" [hidden]="emailId.valid || emailId.untouched">
                                    <div class="col-md-12">
                                        <div class="redstar" *ngIf="emailId.errors && emailId.errors.required">
                                            * Email is required
                                        </div>
                                        <div class="redstar" *ngIf="emailId.errors && emailId.errors.pattern">

                                            * Email is invalid
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" id="svActSave" class="editbtn tbl-head-btn iportal-btnIMclient" 
	style="color: #008000 !important;margin-top: 4px!important; width: 100%;margin-right: 33%;" [ngClass]="{'loader': showWorkAddrSaveButtonProgress}" [disabled]="showWorkAddrSaveButtonProgress" (click)="accountSave(emailId.errors)">Save</button></div>
                                    <div class="col-md-6"><button type="button" id="svActCancel" class="editbtn tbl-head-btn iportal-btnIMclient" 
	style="color: #FF0000 !important;margin-left: 4px;width: 100%;margin-top: 4px!important;"   (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

