<div class="main-content" *ngIf="getsuperUsers">
    <div class="table-data">
      <h2 _ngcontent-c6="" class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Super Users</h2>
        <ih-smart-table class="benadd" [settings]="settings" [data]="data"
                        [paginationData]="paginationData"
                        (dataWithQueryParams)="dataWithParameters($event)"
                        (onAddClick)="addFunction($event)" (onRowClick)="editRecord($event)" (onDeleteClick)="deleteRecord($event)">
        </ih-smart-table>
    </div>
</div>
<div *ngIf="addsuperuser">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()" id="svMiscSuperClose">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5"><span class="redstar">*</span>First Name:</div>
                            <div class="col-md-7"><input type="text" id="svMiscSuperFName" [(ngModel)]="addsuperUsers.firstName" class="form-control"></div>
                            <div class="col-md-5"><span class="redstar">*</span>Last Name:</div>
                            <div class="col-md-7"><input type="text" id="svMiscSuperLName" [(ngModel)]="addsuperUsers.lastName" class="form-control"></div>
                            <div class="col-md-5"><span class="redstar">*</span>Email:</div>
                            <div class="col-md-7">
                                <input type="text" id="svMiscSuperEmail" [(ngModel)]="addsuperUsers.emailId" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                       required #emailId="ngModel" class="form-control">
                            </div>
                            <div class="col-md-5">Phone:</div>
                            <div class="col-md-7"><input type="text" id="svMiscSuperPhone" [(ngModel)]="addsuperUsers.phone" class="form-control"></div>

                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row sfm" *ngIf="warningMessage">
                                    <div class="col-md-12">
                                        <span class="redstar">* Fields are Mandatory.</span>
                                    </div>
                                </div>
                                <div class="row sfm" [hidden]="emailId.valid || emailId.untouched">
                                    <div class="col-md-12">
                                        <div class="redstar" *ngIf="emailId.errors && emailId.errors.required">
                                            * Email is required
                                        </div>
                                        <div class="redstar" *ngIf="emailId.errors && emailId.errors.pattern">
                                            * Email is invalid
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div></div>
                                    <div class="col-md-6"> <button type="button" id="svMiscSuperSave" class="editbtn tbl-head-btn iportal-btnIMclient" 
	style="color: #008000 !important;margin-top: 4px!important; width: 100%;margin-right: 0%;"  [ngClass]="{'loader': showWorkAddrSaveButtonProgress}" [disabled]="showWorkAddrSaveButtonProgress" (click)="superuserSave(emailId.errors)">Save</button></div>
                                    <div class="col-md-6"> <button type="button" id="svMiscSuperCancel" class="editbtn tbl-head-btn iportal-btnIMclient" 
	style="color: #FF0000 !important;margin-left: 4px;width: 100%;margin-top: 4px!important;" (click)="cancel()">Cancel</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


