<div class="main-content">
    <div class="clearfix"></div>
    <h2 class="headerinsections" style="font-size: 18px!important;color: #4EA0F9 !important;margin-top: 0px !important;margin-bottom: 7px!important;">Change Password</h2>
    <div class="table-data-forms">       
            <!--<div _ngcontent-c4="" class="col-md-6 col-sm-6 col-xs-12 addresbox box-shadow" style="padding:12px 12px 12px 12px !important">-->
                <div class="col-md-6 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 _ngcontent-c4="">Change Password</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="profileCPCurrentPwd">Current password</label></div>
                        <div class="col-md-8">
                            <input type="password" maxlength="100" id="profileCPCurrentPwd" [(ngModel)]="profilechange.currentpwd" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="profileCPNewPwd">New password</label></div>
                        <div class="col-md-8">
                            <input type="password" maxlength="100" id="profileCPNewPwd" [formControl]="newpwd" [(ngModel)]="profilechange.newpwd" />
                        </div>
                    </div>
                      <div class="row sfm" *ngIf="newpwd.touched">
                                    <div class="col-md-12">
                                        <div class="redstar" *ngIf="newpwd.errors && newpwd.errors.pattern">
                                            * Must Contain 1 Alphabet 1 one Number and 1 Special Character
                                        </div>
                                    </div>
                                </div>
                    <div class="row">
                        <div class="col-md-4"><label for="profileCPReNewPwd">Retype New password</label></div>
                        <div class="col-md-8">
                            <input type="password" maxlength="100" id="profileCPReNewPwd" [(ngModel)]="profilechange.retypenewpwd" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8" style="text-align:right;">
                            <button class="iportal-btnIMclient" style="float:right;" (click)="changepwd()" id="profileCPSubmit">Submit</button>
                        </div>

                        </div>
                </div>
            <!--</div>-->
    </div>
</div>
