<div class="main-content">
    <div class="table-data">
        <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <a (click)="gotoPrev()" class="prevbtn">Previous</a>
                    </div>
                    <div class="col-md-4 pagenoof36">Page 8 of 36</div>
                    <div class="col-md-4">
                        <a *ngIf="isQuestionnaireEdit" (click)="cancelQuestinnaireEdit()" class="nextbtn iportal-btnIMclient" style="color: #FF0000 !important;">Cancel</a>
                        <a *ngIf="isQuestionnaireEdit" (click)="saveQuestionnaireInformation()" [ngClass]="{'loader': saveButtonProgress}" class="nextbtn iportal-btnIMclient" style="color: #008000 !important;">Save</a>
                        <a *ngIf="!isQuestionnaireEdit" (click)="editQuestinnaireForm()" class="nextbtn iportal-btnIMclient">Edit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 Questionnaireheader">
                <h2>9.&nbsp;Additional Information About Your Petition For Nonimmigrant Worker </h2>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                        <div class="col-md-12" style="margin-top: 20px !important;">
                            <p>If you require more space to provide any additional information within this petition, use the space below.  If you require more space than what is provided to complete this petition, you may make a copy of Part 9. to complete and file with this petition.  In order to assist us in reviewing your response, you must identify the Page Number, Part Number and Item Number corresponding to the additional information.</p>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6" style="margin-left: -30px !important;">
                                <div class="col-md-4"><b>1.</b>A-Number</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page8.anumber" /></div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4"><b>2.</b>Page Number</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page8.pageNumber1"/></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Part Number</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page8.partNumber1"/></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Item Number</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page8.itemNumber1"/></div>
                            </div>
                        </div>
                        <div class="col-md-12"><textarea rows="6" style="min-height:120px;" [(disabled)]="!isQuestionnaireEdit" textarea [(ngModel)]="page8.additionalInformation1"></textarea></div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4"><b>3.</b>Page Number</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page8.pageNumber2"/></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Part Number</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit"[(ngModel)]="page8.partNumber2"/></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Item Number</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page8.itemNumber2"/></div>
                            </div>
                        </div>
                        <div class="col-md-12"><textarea rows="6" style="min-height:120px;" [(disabled)]="!isQuestionnaireEdit" [(ngModel)]="page8.additionalInformation2"></textarea></div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4"><b>4.</b>Page Number</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page8.pageNumber3"/></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Part Number</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page8.partNumber3"/></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Item Number</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page8.itemNumber3"/></div>
                            </div>
                        </div>
                        <div class="col-md-12"><textarea rows="6" style="min-height:120px;" [(disabled)]="!isQuestionnaireEdit" [(ngModel)]="page8.additionalInformation3"></textarea></div>
                </div>
            </div>
    </div>
</div>
