<div class="main-content">
  <ul class="breadcrumb">
    <li><a href="#">Checklist</a></li>
  </ul>
  <div class="clearfix"></div>
  <div class="table-data">
    <h2 class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Checklist</h2>
    <ih-smart-table [settings]="settings" [data]="data"
                    (dataWithQueryParams)="dataWithParameters($event)"
    >
    </ih-smart-table>
    <div class="clearfix"></div>
  </div>
</div>
