
<div class="main-content">
    <div class="table-data">
        <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <a (click)="gotoPrev()" class="prevbtn">Previous</a>
                    </div>
                    <div class="col-md-4 pagenoof36">Page 21 of 36</div>
                    <div class="col-md-4">
                        <a *ngIf="isQuestionnaireEdit" (click)="cancelQuestinnaireEdit()" class="nextbtn iportal-btnIMclient" style="color: #FF0000 !important;">Cancel</a>
                        <a *ngIf="isQuestionnaireEdit" (click)="saveQuestionnaireInformation()" class="nextbtn iportal-btnIMclient" style="color: #008000 !important;">Save</a>
                        <a *ngIf="!isQuestionnaireEdit" (click)="editQuestinnaireForm()" class="nextbtn btn iportal-btnIMclient">Edit</a>

                    </div>
                </div>
            </div>
            <div class="col-md-12 Questionnaireheader">
                <h2>Numerical Limitation Information</h2>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                        <div class="col-md-12" style="margin-top:10px!important;">
                            <p class="fieldsetheading">If you answered Item Number 1.d. "CAP Exempt," you must specify the reason(s) this petition is exempt from the numerical limitation for H-1B classification:</p>
                        </div>
                        <div class="col-md-12"><input type="checkbox" [disabled]="!isQuestionnaireEdit" name="isPetitionerIn20USC1001a" value="" [(ngModel)]="page3.capExemptReason.isPetitionerIn20USC1001a" [checked]="page3.capExemptReason.isPetitionerIn20USC1001a === toggles[0].value" (change)="$event.target.checked? (page3.capExemptReason.isPetitionerIn20USC1001a = toggles[0].value) : (page3.capExemptReason.isPetitionerIn20USC1001a = toggles[1].value)"> The petitioner is an institution of higher education as defined in section 101(a) of the Higher Education Act, of 1965, 20 U.S.C. 1001(a).</div>
                        <div class="col-md-12"><input type="checkbox" [disabled]="!isQuestionnaireEdit" name="isPetitionerIn80CFR214h8iiF2" value=""  [(ngModel)]="page3.capExemptReason.isPetitionerIn80CFR214h8iiF2" [checked]="page3.capExemptReason.isPetitionerIn80CFR214h8iiF2 === toggles[0].value" (change)="$event.target.checked? (page3.capExemptReason.isPetitionerIn80CFR214h8iiF2 = toggles[0].value) : (page3.capExemptReason.isPetitionerIn80CFR214h8iiF2 = toggles[1].value)"> The petitioner is a nonprofit entity related to or affiliated with an institution of higher education as defined in 8 CFR 214.2(h)(8)(ii)(F)(2).</div>
                        <div class="col-md-12"><input type="checkbox" [disabled]="!isQuestionnaireEdit" name="isPetitionerIn80CFR214h8iiF3" value="" [(ngModel)]="page3.capExemptReason.isPetitionerIn80CFR214h8iiF3" [checked]="page3.capExemptReason.isPetitionerIn80CFR214h8iiF3 === toggles[0].value" (change)="$event.target.checked? (page3.capExemptReason.isPetitionerIn80CFR214h8iiF3 = toggles[0].value) : (page3.capExemptReason.isPetitionerIn80CFR214h8iiF3 = toggles[1].value)"> The petitioner is a nonprofit research organization or a governmental research organization as defined in 8 CFR 214.2(h)(8)(ii)(F)(3).</div>
                        <div class="col-md-12"><input type="checkbox" [disabled]="!isQuestionnaireEdit" name="isBeneficiaryIn80CFR214h8iiF4" value="" [(ngModel)]="page3.capExemptReason.isBeneficiaryIn80CFR214h8iiF4" [checked]="page3.capExemptReason.isBeneficiaryIn80CFR214h8iiF4 === toggles[0].value" (change)="$event.target.checked? (page3.capExemptReason.isBeneficiaryIn80CFR214h8iiF4 = toggles[0].value) : (page3.capExemptReason.isBeneficiaryIn80CFR214h8iiF4 = toggles[1].value)"> The beneficiary will be employed at a qualifying cap exempt institution, organization or entity pursuant to 8 CFR 214.2(h)(8)(ii)(F)(4)</div>
                        <div class="col-md-12"><input type="checkbox" [disabled]="!isQuestionnaireEdit" name="isPetitionerRequestingH1BClassification" value="" [(ngModel)]="page3.capExemptReason.isPetitionerRequestingH1BClassification" [checked]="page3.capExemptReason.isPetitionerRequestingH1BClassification === toggles[0].value" (change)="$event.target.checked? (page3.capExemptReason.isPetitionerRequestingH1BClassification = toggles[0].value) : (page3.capExemptReason.isPetitionerRequestingH1BClassification = toggles[1].value)"> The petitioner is requesting an amendment to or extension of stay for the beneficiary's current H-1B classification.</div>
                        <div class="col-md-12"><input type="checkbox" [disabled]="!isQuestionnaireEdit" name="isBeneficiaryRecievedWaiverInSection214I" value="" [(ngModel)]="page3.capExemptReason.isBeneficiaryRecievedWaiverInSection214I" [checked]="page3.capExemptReason.isBeneficiaryRecievedWaiverInSection214I === toggles[0].value" (change)="$event.target.checked? (page3.capExemptReason.isBeneficiaryRecievedWaiverInSection214I = toggles[0].value) : (page3.capExemptReason.isBeneficiaryRecievedWaiverInSection214I = toggles[1].value)"> The beneficiary of this petition is a J-1 nonimmigrant physician who has received a waiver based on section 214(l) of the Act.</div>
                        <div class="col-md-12"><input type="checkbox" [disabled]="!isQuestionnaireEdit" name="isBeneficiaryLimitationinSection104or106" value="" [(ngModel)]="page3.capExemptReason.isBeneficiaryLimitationinSection104or106" [checked]="page3.capExemptReason.isBeneficiaryLimitationinSection104or106 === toggles[0].value" (change)="$event.target.checked? (page3.capExemptReason.isBeneficiaryLimitationinSection104or106 = toggles[0].value) : (page3.capExemptReason.isBeneficiaryLimitationinSection104or106 = toggles[1].value)"> The beneficiary of this petition has been counted against the cap and (1) is applying for the remaining portion of the 6 year period of admission, or (2) is seeking an extension beyond the 6-year limitation based upon sections 104(c) or 106(a) of the American Competitiveness in the Twenty-First Century Act (AC21).</div>
                        <div class="col-md-12"><input type="checkbox" [disabled]="!isQuestionnaireEdit" name="isPetitionerPursuantOfPublicLaw110229" value="" [(ngModel)]="page3.capExemptReason.isPetitionerPursuantOfPublicLaw110229" [checked]="page3.capExemptReason.isPetitionerPursuantOfPublicLaw110229 === toggles[0].value" (change)="$event.target.checked? (page3.capExemptReason.isPetitionerPursuantOfPublicLaw110229 = toggles[0].value) : (page3.capExemptReason.isPetitionerPursuantOfPublicLaw110229 = toggles[1].value)"> The petitioner is an employer subject to the Guam-CNMI cap exemption pursuant to Public Law 110-229.</div>
                   
                </div>
            </div>
            <div class="col-md-12 Questionnaireheader">
                <h2>Off-Site Assignment of H-1B Beneficiaries </h2>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                        <div class="col-md-8" style="margin-top:10px!important;">The beneficiary of this petition will be assigned to work at an off-site location for all or part of the period for which H-1B classification sought. </div>
                        <div class="col-md-4" style="margin-top:10px!important;">
                            <div class="row">
                                 <div class="col-md-3" *ngFor="let x of questions"><input type="radio" [disabled]="!isQuestionnaireEdit" name="isBeneficiaryH1BClassificationSought" [value]="x.value" [(ngModel)]="page3.isBeneficiaryH1BClassificationSought">{{x.display}} </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading">If no, do not complete Item Numbers 2. and 3.</p>
                        </div>
                        <div class="col-md-8">Placement of the beneficiary off-site during the period of employment will comply with the statutory and regulatory requirements of the H-1B nonimmigrant classification.</div>
                        <div class="col-md-4">
                            <div class="row">
                                   <div class="col-md-3" *ngFor="let x of questions"><input type="radio" [disabled]="!isQuestionnaireEdit" name="isBeneficiaryH1BNonImmigrantClassification" [value]="x.value" [(ngModel)]="page3.isBeneficiaryH1BNonImmigrantClassification">{{x.display}} </div>
                            </div>
                        </div>
                        <div class="col-md-8">The beneficiary will be paid the higher of the prevailing or actual wage at any and all off-site locations.</div>
                        <div class="col-md-4">
                            <div class="row">
                                  <div class="col-md-3" *ngFor="let x of questions"><input type="radio" [disabled]="!isQuestionnaireEdit" name="isBeneficiaryPaidAtOffsiteLocation" [value]="x.value" [(ngModel)]="page3.isBeneficiaryPaidAtOffsiteLocation">{{x.display}} </div>
                            </div>
                        </div>
                </div>
            </div>
    </div>
</div>
