.pagination {
  display: inline-block;
  margin: -1% 15%;
  font-family: Roboto Bold !important;
     font-size: 10px!important;
  color: #232F3F !important;
}

.pagination a {
  padding: 11px 14px;
  text-decoration: none;
  font-family: Roboto Bold !important;
  font-size: 8pt !important;
  /*color: #FFFFFF !important;*/
}

/*.pagination a:hover {
  background: #109BF8;
  border-radius: 50%;
}*/

.selected-page {
  background: #109BF8;
  border-radius: 50%;
}

.pagination a:nth-child(1):hover {
  background: none;
}

.pagination a:nth-last-child(1):hover {
  background: none;
}
