<div class="main-content">
  <div class="table-data">
    <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
    <h1 style="float:right;">{{appService.petitionDetails}}</h1>
    <div class="clearfix"></div>-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <!--<a (click)="gotoPrev()" class="prevbtn">Back</a>-->
          </div>
          <div class="col-md-4 pagenoof36">Page 13 of 36</div>
          <div class="col-md-4">
            <a (click)="gotoNext()" class="nextbtn">Next</a>
            <a *ngIf="isQuestionnaireEdit" (click)="cancelQuestinnaireEdit()" class="nextbtn iportal-btnIMclient" style="color: #FF0000 !important;">Cancel</a>
            <a *ngIf="isQuestionnaireEdit" (click)="saveQuestionnaireInformation()" class="nextbtn iportal-btnIMclient" style="color: #008000 !important;">Save</a>
            <a *ngIf="!isQuestionnaireEdit" (click)="editQuestinnaireForm()" class="nextbtn iportal-btnIMclient">Edit</a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 addresbox box-shadow clientview-ques129h">
          <div *ngIf="appService.isImmigrationView()">
            <div class="col-md-12" style="margin-top: 2%;">
              <div class="row">
                <div class="col-md-4"><b>1.</b>Name of the Petitioner</div>
                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="I129Hpage1.petitonerName"/></div>
              </div>
            </div>
            <div class="col-md-12">
              <p class="fieldsetheading">Name of the beneficiary or if this petition includes multiple beneficiaries,
                the total number of beneficiaries</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4"><b>2.a.</b>Name of the Beneficiary</div>
              <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="I129Hpage1.beneficiaryName"/></div>
            </div>
          </div>
          <div *ngIf="appService.isImmigrationView()">
            <div class="col-md-12">
              <p class="fieldsetheading">Or</p>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4"><b>2.b.</b>Provide the total number of beneficiaries</div>
                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="I129Hpage1.totalNumberOfBeneficiaries"/></div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <p><b>3.</b>List each beneficiary's prior periods of stay in H or L classification in the United States for the last
              six years (beneficiaries requesting H-2A or H-2B classification need only list the last three years). Be
              sure to only list those periods in which each beneficiary was actually in the United States in an H or L
              classification. Do not include periods in which the beneficiary was in a dependent status, for example,
              H-4 or L-2 status.</p>
            <p>NOTE: Submit photocopies of Forms I-94, I-797, and/or other USCIS issued documents noting these periods
              of stay in the H or L classification. (If more space is needed, attach an additional sheet.)</p>
            <table width='100%' border="1" cellpadding="3" cellspacing="0">
              <tr>
                <td width="70%" align="center" valign="middle">Subject's Name</td>
                <td width="30%;" colspan="2">
                  <table width='100%'>
                    <tr>
                      <td colspan="2" align="center" valign="middle">Period of Stay (mm-dd-yyyy)</td>
                    </tr>
                    <tr>
                      <td width="50%" align="center" valign="middle">From</td>
                      <td width="50%" align="center" valign="middle">To</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <!--<td><span></span><td>-->
                <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="I129Hpage1.subjectName1" class="form-control"/></td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions"
                                  [(ngModel)]="I129Hpage1.fromDate1"
                                  [selDate]="fromDate1"></my-date-picker>
                </td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions"
                                  [(ngModel)]="I129Hpage1.toDate1"
                                  [selDate]="toDate1"></my-date-picker>
                </td>
              </tr>
              <tr>
                <!--<td><span></span><td>-->
                <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="I129Hpage1.subjectName2"/></td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions"
                                  [(ngModel)]="I129Hpage1.fromDate2"
                                  [selDate]="fromDate2"></my-date-picker>
                </td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions"
                                  [(ngModel)]="I129Hpage1.toDate2"
                                  [selDate]="toDate2"></my-date-picker>
                </td>

              </tr>
              <tr>
                <!--<td><span></span><td>-->

                <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="I129Hpage1.subjectName3"/></td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions"
                                  [(ngModel)]="I129Hpage1.fromDate3"
                                  [selDate]="fromDate3"></my-date-picker>
                </td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions"
                                  [(ngModel)]="I129Hpage1.toDate3"
                                  [selDate]="toDate3"></my-date-picker>
                </td>

              </tr>
              <tr>
                <!--<td><span></span><td>-->
                <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="I129Hpage1.subjectName4"/></td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions"
                                  [(ngModel)]="I129Hpage1.fromDate4"
                                  [selDate]="fromDate4"></my-date-picker>
                </td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions"
                                  [(ngModel)]="I129Hpage1.toDate4"
                                  [selDate]="toDate4"></my-date-picker>
                </td>

              </tr>
              <tr>
                <!--<td><span></span><td>-->
                <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="I129Hpage1.subjectName5"/></td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions"
                                  [(ngModel)]="I129Hpage1.fromDate5"
                                  [selDate]="fromDate5"></my-date-picker>
                </td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions"
                                  [(ngModel)]="I129Hpage1.toDate5"
                                  [selDate]="toDate5"></my-date-picker>
                </td>

              </tr>
              <tr>
                <!--<td><span></span><td>-->

                <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="I129Hpage1.subjectName6"/></td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions"
                                  [(ngModel)]="I129Hpage1.fromDate6"
                                  [selDate]="fromDate6"></my-date-picker>
                </td>
                <td>
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions"
                                  [(ngModel)]="I129Hpage1.toDate6"
                                  [selDate]="toDate6"></my-date-picker>
                </td>

              </tr>
            </table>
          </div>
          <div *ngIf="appService.isImmigrationView()">
            <div class="col-md-12">
              <p class="fieldsetheading"><b>4.</b>Classification sought (select only one box)</p>
            </div>
            <div class="col-md-12">
              <div class="row" *ngFor="let x of I129Hpage1Sought">
                <div class="col-md-12">
                  <input type="radio" name="sought" [disabled]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="I129Hpage1.sought">{{x.display}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-8"><b>5.</b>Are you filing this petition on behalf of a beneficiary subject to the Guam-CNMI
                  cap
                  exemption under Public Law 110-229?
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-3" *ngFor="let x of I129Hpage1questions">
                      <label for="">
                        <input type="radio" name="petitionfiledonbehalf" [disabled]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="I129Hpage1.petitionFiledOnBehalfOfBeneficiary"/>
                        {{x.display}}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-8"><b>6.</b>Are you requesting a change of employer and was the beneficiary previously subject
                  to the Guam-CNMI cap exemption under Public Law 110-229?
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-3" *ngFor="let x of I129Hpage1questions">
                      <label for="">
                        <input type="radio" name="changeemployer" [disabled]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="I129Hpage1.changeOfEmployer"/>
                        {{x.display}}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-8"><b>7.a.</b>Does any beneficiary in this petition have ownership interest in the petitioning
                  organization?
                </div>
                <div class="col-md-4">

                  <div class="row">
                    <div class="col-md-3" *ngFor="let x of I129Hpage1questions">
                      <label for="">
                        <input type="radio" name="ownership" [disabled]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="I129Hpage1.doesBeneficiaryHaveOwnership"/>
                        {{x.display}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
