<div class="main-content">
    <div class="table-data">
        <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
            <div class="col-md-12">

                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4 pagenoof36">Page 19 of 36</div>
                    <div class="col-md-4">
                        <a (click)="gotoNext()" class="nextbtn">Next</a>
                        <a *ngIf="isQuestionnaireEdit" (click)="cancelQuestinnaireEdit()" class="nextbtn iportal-btnIMclient" style="color: #FF0000 !important;">Cancel</a>
                        <a *ngIf="isQuestionnaireEdit" (click)="saveQuestionnaireInformation()" class="nextbtn iportal-btnIMclient" style="color: #008000 !important;">Save</a>
                        <a *ngIf="!isQuestionnaireEdit" (click)="editQuestinnaireForm()" class="nextbtn btn iportal-btnIMclient">Edit</a>
                    </div>
            </div>
        <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="padding: 0px 20px 0px !important;">
                        <div class="col-md-6"style="margin-top: 10px !important;">
                                <div class="col-md-4">Name of the Petitioner</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.petitionerName" /></div>
                        </div>
                        <div class="col-md-6"style="margin-top: 10px !important;">
                            
                                <div class="col-md-4">Name of the Beneficiary</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.beneficiaryname"/></div>
                        </div>
                </div>
        </div>
            <div class="col-md-12 Questionnaireheader">
                <h2>General Information</h2>
            </div>
            <div class="col-md-12"style="margin-top:10px!important;">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                        <div class="col-md-12">
                            <p class="fieldsetheading">Employer Information - (select all items that apply)</p>
                        </div>
                        <div class="col-md-8">Is the petitioner an H-1B dependent employer?</div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3" *ngFor="let x of questions">
                                    <input type="radio" name="isDepedentEmployers" [(disabled)]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page1.employerInfo.isDepedentEmployers"/>{{x.display}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">Has the petitioner ever been found to be a willful violator?</div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3" *ngFor="let x of questions">
                                    <input type="radio" name="isWillfulViolator" [(disabled)]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page1.employerInfo.isWillfulViolator"/>{{x.display}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">Is the beneficiary an H-1B nonimmigrant exempt from the Department of Labor attestation requirements?</div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3" *ngFor="let x of questions">
                                    <input type="radio" name="isNonimmigrantExempt" [(disabled)]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page1.employerInfo.isNonimmigrantExempt"/>{{x.display}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">If yes, is it because the beneficiary's annual rate of pay is equal to at least $60,000?</div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3" *ngFor="let x of questions">
                                    <input type="radio" name="isAnnualRateEq60K" [(disabled)]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page1.employerInfo.isAnnualRateEq60K"/>{{x.display}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            Or is it because the beneficiary has a master's degree or higher degree in a specialty related to
                            the employment?
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3" *ngFor="let x of questions">
                                    <input type="radio" name="isSpecialMasterDegree" [(disabled)]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page1.employerInfo.isSpecialMasterDegree"/>{{x.display}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">Does the petitioner employ 50 or more individuals in the United States?</div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3" *ngFor="let x of questions">
                                    <input type="radio" name="isEmployeesSizeMoreThan50" [(disabled)]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page1.employerInfo.isEmployeesSizeMoreThan50"/>{{x.display}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">If yes, are more than 50 percent of those employees in H-1B, L-1A, or L-1B nonimmigrant status?</div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3" *ngFor="let x of questions">
                                    <input type="radio" [(disabled)]="!isQuestionnaireEdit" name="isNonimmigrantStatus_HB_LA_LB" [value]="x.value" [(ngModel)]="page1.employerInfo.isNonimmigrantStatus_HB_LA_LB"/>{{x.display}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading">Beneficiary's Highest Level of Education (select only one box)</p>
                        </div>
                        <div class="col-md-6" *ngFor="let x of higherEducation"><input type="radio" name="higherEducation" [(disabled)]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page1.higherEducation"/>{{x.display}}</div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">Major/Primary Field of Study</div>
                                <div class="col-md-8">
                                    <input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.primaryStudy" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">Rate of Pay Per Year</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.ratePerYear"/></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">DOT Code</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.dotcode" /></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">NAICS Code</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page1.naicscode" /></div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-12 Questionnaireheader">
                <h2>Fee Exemption and/or Determination</h2>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                        <div class="col-md-12" style="margin-top: 10px!important;">
                            <p>
                                In order for USCIS to determine if you must pay the additional $1,500 or $750 American Competitiveness
                                and Workforce Improvement Act (ACWIA) fee, answer all of the following questions:
                            </p>
                        </div>
                        <div class="col-md-8">
                            Are you an institution of higher education as defined in section 101(a) of the Higher Education Act
                            of 1965, 20 U.S.C. 1001(a)?
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3" *ngFor="let x of questions">
                                    <input type="radio" [(disabled)]="!isQuestionnaireEdit" name="isHigherEducationAct20USC" [value]="x.value" [(ngModel)]="page1.isHigherEducationAct20USC"/>{{x.display}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            Are you a nonprofit organization or entity related to or affiliated with an institution of higher
                            education, as defined in 8 CFR 214.2(h)(19)(iii)(B)
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3" *ngFor="let x of questions">
                                    <input type="radio" [(disabled)]="!isQuestionnaireEdit" name="isOrgOrEntityDefinedIn8CFR19B" [value]="x.value" [(ngModel)]="page1.isOrgOrEntityDefinedIn8CFR19B"/>{{x.display}}
                                </div>
                            </div>
                        </div>
                </div>
            </div>
    </div>
</div>
