    <div class="main-content" style="margin-top: 16px;">
        <div class="petition-docs">
            <h2 class="headerinsections" style="font-weight: 500!important;color: #4EA0F9 !important;border-bottom: none;margin-top: 0px !important;margin-bottom: 7px!important;">Petition Type Stages</h2>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">                        
                        <div class="left-form petition-type-stages-left">
                            <form class="scroll-form">
                                <h5 style="color:#283343!important;padding: 8px!important;"><strong>Petition Type</strong></h5>                        
                                <div class="row" style="margin:0px; padding:0px 15px;overflow: hidden !important;">
                                    <ul class="col-md-12 right-form petition-type-stages" >
                                        <li *ngFor="let petitionType of petitionTypes;let i = index" style="cursor: auto !important;" (click)="onClickOfPetitionType(petitionType,i)" [ngClass]="{'slecteditemcolor': petitionType.petitionTypeId == selectedPetitionType.petitionTypeId,'selecteditems':petitionType.petitionTypeId != selectedPetitionType.petitionTypeId}" title="{{petitionType.petitiontype}}">{{petitionType.petitiontype}}</li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">                      
                        <div class="left-form petition-type-stages-left">
                            <form>
                                <h5 style="color:#283343!important;padding: 8px!important;"><strong>Stages</strong></h5>
                                <button *ngIf="addDeleteBtn" type="button" class="iportal-btnIMclient pull-right" style="margin-top: -40px!important;margin-right: 7px !important" (click)="addPetitionStages()">Add</button>
                                <div class="tbl-head-btn" style="margin-top: -43px!important;">
                                    <button *ngIf="cancelBtn" type="button" class="iportal-btnIMclient pull-left" style="margin-top: 5px!important; margin-bottom: 5px;color:#F87A00 !important;" (click)="cancelPetitionStages()">Cancel</button>
                                    <button *ngIf="saveBtn" type="button" class="iportal-btnIMclient pull-right" style="margin-top: 5px!important; margin-bottom: 5px;color: #008000 !important;" (click)="savePetitionStages(petitionStages)">Save</button>
                                </div>
                                <div class="row" style="margin:0px; padding:0px 15px;overflow: hidden !important;" >
                                    <ul class="col-md-12 right-form petition-type-stages" [dragula]="dragbox" [dragulaModel]="petitionStages">
                                        <li *ngFor="let stage of petitionStages;let i = index" id="petitionstage"  (click)="setClickedRowstages(stage,i)">
                                            <div *ngIf="!stage.edit">
                                                <label style="width: 80%;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;font-weight: normal;" title="{{ i + 1 }}  {{stage.name}}">{{ i + 1 }}  {{stage.name}}</label>
                                                <span class="" style="float:right;margin-top:-7%">
                                                    <a><i class="fa fa-pencil" (click)="editStagesList(stage)" aria-hidden="true" style="padding-left: 15px;"></i></a>
                                                    <a><i class="fa fa-trash" (click)="deleteStagesList(stage, i)" aria-hidden="true"></i></a>
                                                </span>
                                            </div>
                                            <div *ngIf="stage.edit">
                                                <input type="text" class="selecteditems" maxlength="100" [value]="stage.name" (input)="updatename=$event.target.value" />
                                                <div class="" style="float:right;">
                                                    <a><i (click)="updateStages(stage,i)" class="fa fa-check" aria-hidden="true"></i></a>
                                                    <a><i (click)="editCancel(stage)" class="fa fa-times" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                        </li>
                                        <input *ngIf="addStages" type="text" class="selecteditems" [value]="addPetionStagesName" (input)="addPetionStagesName=$event.target.value" autofocus/>
                                    </ul>
                                    <button *ngIf="saveorder" type="button" class="iportal-btnIMclient pull-right no-marg-right" style="margin-top: 5px!important;margin-bottom: 5px;" (click)="saveOrder()">Save Order</button>                                    
                                </div>                            

                            </form>
                    </div>

                    <div class="col-md-6 right-form petition-type-stages">
                        <div class="row">
                            <div class="col-md-6">
                               
                            </div>
                            <div class="col-md-6"></div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
        </div>
