<div class="main-content">
    <div class="table-data">
        <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <a (click)="gotoPrev()" class="prevbtn">Back</a>
                    </div>
                    <div class="col-md-4 pagenoof36">Page 18 of 36</div>
                    <div class="col-md-4">
                        <a (click)="gotoNext()" class="nextbtn">Save</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h2>Complete This Section If Filing for H-3 Classificatio</h2>
         </div>
            <div class="col-md-12">
                        <div class="col-md-12 addresbox box-shadow clientview-ques129h">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="fieldsetheading">If you answer yes to any of the following questions, attach a full explanation.</p>
                                </div>
                                <div class="col-md-10">Is the training you intend to provide, or similar training, available in the beneficiary's country?</div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-6"><input type="checkbox" name="" value="" [(ngModel)]="I129Hpage6.isTrainingInBeneficiaryCountry"
> Yes</div>
                                        <div class="col-md-6"><input type="checkbox" name="" value=""> No</div>
                                    </div>
                                </div>
                                <div class="col-md-10">Will the training benefit the beneficiary in pursuing a career abroad?</div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-6"><input type="checkbox" name="" value="" [(ngModel)]="I129Hpage6.willTrainingBenefit"
> Yes</div>
                                        <div class="col-md-6"><input type="checkbox" name="" value=""> No</div>
                                    </div>
                                </div>
                                <div class="col-md-10">Does the training involve productive employment incidental to the training?  If yes, explain the amount of compensation employment versus the classroom in Part 9. of Form I-129.</div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-6"><input type="checkbox" name="" value="" [(ngModel)]="I129Hpage6.isTrainingProductive"
> Yes</div>
                                        <div class="col-md-6"><input type="checkbox" name="" value=""> No</div>
                                    </div>
                                </div>
                                <div class="col-md-10">Does the beneficiary already have skills related to the training?</div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-6"><input type="checkbox" name="" value="" [(ngModel)]="I129Hpage6.doesBeneficairyAlreadySkilled"
> Yes</div>
                                        <div class="col-md-6"><input type="checkbox" name="" value=""> No</div>
                                    </div>
                                </div>
                                <div class="col-md-10">Is this training an effort to overcome a labor shortage?</div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-6"><input type="checkbox" name="" value="" [(ngModel)]="I129Hpage6.isTrainingToOvercomeLaborShortage"
> Yes</div>
                                        <div class="col-md-6"><input type="checkbox" name="" value=""> No</div>
                                    </div>
                                </div>
                                <div class="col-md-10">Do you intend to employ the beneficiary abroad at the end of this training?</div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col-md-6"><input type="checkbox" name="" value="" [(ngModel)]="I129Hpage6.isIntendToEmployAtEndOfTraining"
> Yes</div>
                                        <div class="col-md-6"><input type="checkbox" name="" value=""> No</div>
                                    </div>
                                </div>

                                        <div class="col-md-12">If you do not intend to employ the beneficiary abroad at the end of this training, explain why you wish to incur the cost of providing this training and your expected return from this training.</div>
                                        <div class="col-md-12"><textarea style="height:300px;" [(ngModel)]="I129Hpage6.expectedReturnFromThisTraining"
></textarea></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
