<div class="main-content" *ngIf="getacntpref">
  <div class="table-data">
    <h1 _ngcontent-c8="" class="clickname">
      <img _ngcontent-c15="" src="../../../../assets/images/Profile.png" style="margin-bottom: 4px !important;height: 18px!important;">
      <span _ngcontent-c8="">{{accountDetailsCommonService.accountName}}</span>
    </h1>
    <div _ngcontent-c6="" class="clearfix"></div>
    <h2 _ngcontent-c6="" class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Account Preferences</h2>
    <h2 class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Products</h2>
    <ih-smart-table class="superUserViewaccprefProducts benadd" [settings]="settings" [data]="data" (onAddClick)="addProducts($event)" (onRowClick)="editProducts($event)">
    </ih-smart-table>
    <div class="clearfix"></div>
    <h2 class="headerinsections" style="margin-top: 20px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Discounts</h2>
    <ih-smart-table class="superUserViewaccprefDiscounts benadd" [settings]="discountSettings" [data]="discountData" (onAddClick)="addDiscounts($event)" (onRowClick)="editDiscounts($event)">
    </ih-smart-table>
  </div>

</div>
<div *ngIf="adddprdctPref">
  <div class="modal-dialog" ngDraggable>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" id="svActPrefClose" (click)="close()">&times;</button>
      </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">Code:<span class="redstar">*</span></div>
                        <div class="col-md-8">
                            <select class="form-control" [(ngModel)]="addproduct.productCatalog.productCode">
                                <option *ngFor="let productCode of allProducts" [value]="productCode" id="{{productCode}}">{{ productCode }}</option>
                            </select>
                        </div>
                        <div class="col-md-4">Start Date:<span class="redstar">*</span></div>
                        <div class="col-md-8">
                            <my-date-picker [options]="myDatePickerOptions" id="svActPrefStartDate" [(ngModel)]="addproduct.startDate" [selDate]="startDate"></my-date-picker>
                        </div>
                        <div class="col-md-4">End Date:<span class="redstar">*</span></div>
                        <div class="col-md-8">
                            <my-date-picker [options]="myDatePickerOptions" id="svActPrefEndDate" [(ngModel)]="addproduct.endDate" [selDate]="endDate"></my-date-picker>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="row sfm" *ngIf="warningMessage">
                                <div class="col-md-12">
                                    <span class="redstar">* Fields are Mandatory.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6"><button type="button" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important;margin-top: 4px!important; width: 100%;margin-right: 33%;" [ngClass]="{'loader': showWorkAddrSaveButtonProgress}" [disabled]="showWorkAddrSaveButtonProgress" id="svActPrefSave" (click)="productSave()">Save</button></div>
                                <div class="col-md-6"><button type="button" class="editbtn tbl-head-btn iportal-btnIMclient"style="color: #FF0000 !important;margin-left: 4px;width: 100%;margin-top: 4px!important;"  id="svActPrefCancel" (click)="cancel()">Cancel</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div *ngIf="adddiscntPref">
  <div class="modal-dialog" ngDraggable>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" id="svActPrefClose1" (click)="close()">&times;</button>
      </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">Code:<span class="redstar">*</span></div>
                        <div class="col-md-8">
                          <select class="form-control" [disabled]="editdscnt" [(ngModel)]="discounts.discountCatalog.discountCode">
                            <option *ngFor="let discountCode of allDiscounts" [value]="discountCode" id="{{discountCode}}">{{ discountCode }}</option>
                          </select>
                        </div>
                        <div class="col-md-4">Start Date:<span class="redstar">*</span></div>
                        <div class="col-md-8">
                            <my-date-picker [options]="myDatePickerOptions" id="svActPrefStartDate1" [(ngModel)]="discounts.startDate" [selDate]="startDate"></my-date-picker>
                        </div>
                        <div class="col-md-4">End Date:<span class="redstar">*</span></div>
                        <div class="col-md-8">
                            <my-date-picker [options]="myDatePickerOptions" id="svActPrefEndDate1" [(ngModel)]="discounts.endDate" [selDate]="endDate"></my-date-picker>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="row sfm" *ngIf="warningMessage">
                                <div class="col-md-12">
                                    <span class="redstar">* Fields are Mandatory.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6"><button type="button" class="editbtn tbl-head-btn iportal-btnIMclient"style="color: #008000 !important;margin-top: 4px!important; width: 100%;margin-right: 33%;" id="svActPrefSave1" [ngClass]="{'loader': showWorkAddrSaveButtonProgress}" [disabled]="showWorkAddrSaveButtonProgress" (click)="discountSave()">Save</button></div>
                                <div class="col-md-6"><button type="button" class="editbtn tbl-head-btn iportal-btnIMclient"style="color: #FF0000 !important;margin-left: 4px;width: 100%;margin-top: 4px!important;" id="svActPrefCancel1" (click)="cancel()">Cancel</button></div>
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
        </div>
        </div>
  </div>
</div>
