<div class="main-content" *ngIf="getPayments">
    <ul class="breadcrumb">
        <li><a href="#">Account Preferences</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2 class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Payments</h2>
        <ih-smart-table class="immiview-managAcctab-payments" [settings]="settings" [data]="data" (onAddClick)="addFunction($event)"
            (onRowClick)="editRecord($event)" (onDeleteClick)="deleteRecord($event)"></ih-smart-table>
    </div>

</div>
<div class="table-data-forms" *ngIf="viewAccountPopup">
    <div class="modal-dialog" ngDraggable style="margin-top:5% !important;max-width:900px;width: 881px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 addresbox box-shadow">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">Payment Id:</div>
                                            <div class="col-md-8">
                                                <input type="text" [disabled]="true" *ngIf="false" [(ngModel)]="payment.paymentId" class="form-control">
                                                <span *ngIf="true" style="width: 100%!important;">{{payment.paymentId}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">Transaction Id:</div>
                                            <div class="col-md-8">
                                                <input type="text" *ngIf="false" [(ngModel)]="payment.transactionId" class="form-control">
                                                <span *ngIf="true">{{payment.transactionId}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">Transaction Type:</div>
                                            <div class="col-md-8">
                                                <input type="text" *ngIf="false" [(ngModel)]="payment.transactionType" class="form-control">
                                                <span *ngIf="true">{{payment.transactionType}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">Account Name:</div>
                                            <div class="col-md-8">
                                                <input type="text" *ngIf="false" [(ngModel)]="payment.accountName" class="form-control">
                                                <span *ngIf="true">{{payment.accountName}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">

                                            <div class="col-md-4">Account Number:</div>
                                            <div class="col-md-8">
                                                <input type="text" *ngIf="false" [(ngModel)]="payment.accountNumber" class="form-control">
                                                <span *ngIf="true">{{payment.accountNumber}}</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">Invoice Date:</div>
                                            <div class="col-md-8">
                                                <input type="text" *ngIf="false" [(ngModel)]="payment.invoiceDate" class="form-control">
                                                <span *ngIf="true">{{payment.invoiceDate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">Invoice Number:</div>
                                            <div class="col-md-8">
                                                <input type="text" *ngIf="false" [disabled]="true" [(ngModel)]="payment.invoiceNumber" class="form-control">
                                                <span *ngIf="true">{{payment.invoiceNumber}}</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">Invoice Amount:</div>
                                            <div class="col-md-8">
                                                <input type="text" *ngIf="false" [disabled]="true" [(ngModel)]="payment.invoiceAmount" class="form-control">
                                                <span *ngIf="true">{{payment.invoiceAmount}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">Bill Start Date:</div>
                                            <div class="col-md-8">
                                                <input type="text" *ngIf="false" [disabled]="true" [(ngModel)]="payment.billStartDate" class="form-control">
                                                <span *ngIf="true">{{payment.billStartDate}}</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">Bill End Date:</div>
                                            <div class="col-md-8">
                                                <input type="text" *ngIf="false" [disabled]="true" [(ngModel)]="payment.billEndDate" class="form-control">
                                                <span *ngIf="true">{{payment.billEndDate}}</span>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">Payment Date:</div>
                                            <div class="col-md-8">
                                                <input type="text" *ngIf="false" [disabled]="true" [(ngModel)]="payment.paymentDate" class="form-control">
                                                <span *ngIf="true">{{payment.paymentDate}}</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">Payment Amount:</div>
                                            <div class="col-md-8">
                                                <input type="text" *ngIf="false" [disabled]="true" [(ngModel)]="payment.paymentAmount" class="form-control">
                                                <span *ngIf="true">{{payment.paymentAmount}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">Payment Status:</div>
                                            <div class="col-md-8">
                                                <input type="text" *ngIf="false" [disabled]="true" [(ngModel)]="payment.paymentStatus" class="form-control">
                                                <span *ngIf="true">{{payment.paymentStatus}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div clas="clearfix"></div>
                                            </div>
                                            <div class="col-md-4"><button type="button" class="btn btn-default" (click)="cancel()">Close</button></div>
                                            <div class="col-md-4">
                                                <div clas="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
