<div class="main-content">
  <div class="table-data">
    <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <a (click)="gotoPrev()" class="prevbtn">Previous</a>
          </div>
          <div class="col-md-4 pagenoof36">Page 25 of 36</div>
          <div class="col-md-4">
            <!--<a (click)="gotoNext()" class="nextbtn">Save</a>-->
            <a *ngIf="isQuestionnaireEdit" (click)="cancelQuestinnaireEdit()" class="nextbtn iportal-btnIMclient" style="color: #FF0000 !important;">Cancel</a>
            <a *ngIf="isQuestionnaireEdit" (click)="saveQuestionnaireInformation()" class="nextbtn iportal-btnIMclient" style="color: #008000 !important;">Save</a>
            <a *ngIf="!isQuestionnaireEdit" (click)="editQuestinnaireForm()" class="nextbtn iportal-btnIMclient">Edit</a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <h2> Complete This Selection If Filing A Blanket Petition</h2>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
            <div class="col-md-12" style="margin-top: 10px;">
              <p>List all U.S. and foreign parent, branches, subsidiaries, and affiliates included in this petition.  (Attach separate sheets of paper if
               additional space is needed.)</p>
            </div>
            <div class="col-md-12">
              <table width='100%' border="1" cellpadding="3" cellspacing="0">
                <tr>
                  <td width="50%" align="center" valign="middle">Name and Address</td>
                  <td width="50%" align="center" valign="middle">Relationship</td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page25.foreignOrUSCompanyAddress1"/></td>
                  <td><input type="text" class="form-control" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page25.relationship1"/></td>
                </tr>
                <tr>
                  <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page25.foreignOrUSCompanyAddress2"/></td>
                  <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page25.relationship2"/></td>
                </tr>
                <tr>
                  <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page25.foreignOrUSCompanyAddress3"/></td>
                  <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page25.relationship3"/></td>
                </tr>
                <tr>
                  <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page25.foreignOrUSCompanyAddress4"/></td>
                  <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page25.relationship4"/></td>
                </tr>
                <tr>
                  <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page25.foreignOrUSCompanyAddress5"/></td>
                  <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page25.relationship5"/></td>
                </tr>
                  <tr>
                      <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page25.foreignOrUSCompanyAddress6" /></td>
                      <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page25.relationship6" /></td>
                  </tr>
                  <tr>
                      <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page25.foreignOrUSCompanyAddress7" /></td>
                      <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page25.relationship7" /></td>
                  </tr>
                  <tr>
                      <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page25.foreignOrUSCompanyAddress8" /></td>
                      <td><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page25.relationship8" /></td>
                  </tr>
              </table>
            </div>
            <div class="col-md-12" style="margin-top:10px">
              <h2>Additional Fees</h2>
            </div>
            <div class="col-md-12">
              <p>
                NOTE:  A petitioner that seeks initial approval of L nonimmigrant status for a beneficiary, or seeks approval to employ an L
                nonimmigrant currently working for another employer, must submit an additional $500 Fraud Prevention and Detection fee.  For
                petitions filed on or after December 18, 2015, you must submit an additional fee of $4,500 if you responded yes to both questions in
                Item Numbers 4.a. and 4.b. on the first page of this L Classification Supplement.  This $4,500 fee is mandated by the provisions of
                Item Numbers 4.a. and 4.b. on the first page of this L Classification Supplement.  This $4,500 fee is mandated by the provisions of
                Public Law 114-113.
              </p>
              <p>
                These fees, when applicable, may not be waived. You must include payment of the fees with your submission of this form. Failure
                to submit the fees when required will result in rejection or denial of your submission.  Each of these fees should be paid by separate
                checks or money orders.
              </p>
            </div>
        </div>
      </div>
  </div>
</div>
