<div class="main-content">
    <div class="table-data-forms">
        <h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">
            <img style="margin-bottom: 4px !important;" src="../../../../assets/images/Group984.png" />&nbsp;&nbsp;&nbsp;<span>{{appService.clientfirstName}} {{appService.clientlastName}}</span> </h1>
        <div class="clearfix"></div>
        <h2 class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Job Details</h2>
                <div class="col-md-6 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Current Job Info</h2>
                            <button type="submit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" (click)="editJobInfoForm()" id="ivClientDtlsJDtlsEdit" *ngIf="isjobdetailsEdit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="isjobdetailsEdit">
                                <button type="button" (click)="cancelJobInfoEdit()" id="ivClientDtlsJDtlsCancel" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="isjobdetailsEdit==false">Cancel</button>
                                <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important; width: 65px;" [ngClass]="{'loader': saveButtonProgress}" [disabled]="saveButtonProgress" id="ivClientDtlsJDtlsSave" (click)="saveJobInformation()" *ngIf="isjobdetailsEdit==false">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsTitle">Job Title</label></div>
                        <div class="col-md-8">
                            <input type="text" id="ivClientDtlsJDtlsTitle" maxlength="100"  [disabled]="isjobdetailsEdit" [(ngModel)]="jobDetails.jobTitle" style="cursor: default!important;border-radius: 4px;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsType">Job Type</label></div>
                        <div class="col-md-8">
                            <input  type="text" id="ivClientDtlsJDtlsType" maxlength="45" [disabled]="isjobdetailsEdit" [(ngModel)]="jobDetails.jobType" style="cursor: default!important;border-radius: 4px;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsCode">Job Code</label></div>
                        <div class="col-md-8">
                            <input   type="text" id="ivClientDtlsJDtlsCode" maxlength="45"  [disabled]="isjobdetailsEdit" [(ngModel)]="jobDetails.jobCode" style="cursor: default!important;border-radius: 4px;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsSal">Annual Salary</label></div>
                        <div class="col-md-8">
                            <input  type="text" id="ivClientDtlsJDtlsSal" maxlength="20"  [disabled]="isjobdetailsEdit" [(ngModel)]="jobDetails.annualSalary" style="cursor: default!important;border-radius: 4px;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsDuties">Duties And Responsibilites</label></div>
                        <div class="col-md-8">
                            <input  type="text" id="ivClientDtlsJDtlsDuties" [disabled]="isjobdetailsEdit" [(ngModel)]="jobDetails.dutiesAndResponsibilities"  style="cursor: default!important;border-radius: 4px;"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsProjName">Project Name</label></div>
                        <div class="col-md-8">
                            <input  type="text" id="ivClientDtlsJDtlsProjName" maxlength="100" [disabled]="isjobdetailsEdit" [(ngModel)]="jobDetails.projectName" style="cursor: default!important;border-radius: 4px;"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsProjCode">Project Code</label></div>
                        <div class="col-md-8">
                            <input  type="text" id="ivClientDtlsJDtlsProjCode" [disabled]="isjobdetailsEdit"  maxlength="20" [(ngModel)]="jobDetails.projectCode" style="cursor: default!important;border-radius: 4px;"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsNoHrs">No Of Hours/Week</label></div>
                        <div class="col-md-8">
                            <input  type="number" id="ivClientDtlsJDtlsNoHrs" maxlength="11" [disabled]="isjobdetailsEdit" [(ngModel)]="jobDetails.noOfHoursPerWeek" style="cursor: default!important;border-radius: 4px;"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsHireDate">Hire Date</label></div>
                        <div class="col-md-8">
                            <my-date-picker id="ivClientDtlsJDtlsHireDate" [disabled]="isjobdetailsEdit"  [options]="myDatePickerOptions" [(ngModel)]="jobDetails.hireDate" [selDate]="hireDate"></my-date-picker>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsIntHireDate">International Hire Date</label></div>
                        <div class="col-md-8">
                            <my-date-picker id="ivClientDtlsJDtlsIntHireDate" [disabled]="isjobdetailsEdit"  [options]="myDatePickerOptions" [(ngModel)]="jobDetails.internationalHireDate" [selDate]="internationalHireDate"></my-date-picker>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsReHireDate">Rehire Date</label></div>
                        <div class="col-md-8">
                            <my-date-picker id="ivClientDtlsJDtlsReHireDate" [disabled]="isjobdetailsEdit"  [options]="myDatePickerOptions" [(ngModel)]="jobDetails.rehireDate" [selDate]="rehireDate"></my-date-picker>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsLastWorkDate">Last Day Worked Date</label></div>
                        <div class="col-md-8">
                            <my-date-picker id="ivClientDtlsJDtlsLastWorkDate" [disabled]="isjobdetailsEdit"  [options]="myDatePickerOptions" [(ngModel)]="jobDetails.lastDayWorkedDate" [selDate]="lastDayWorkedDate"></my-date-picker>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="ivClientDtlsJDtlsTermDate">Termination Date</label></div>
                        <div class="col-md-8">
                            <my-date-picker id="ivClientDtlsJDtlsTermDate" [disabled]="isjobdetailsEdit" [options]="myDatePickerOptions" [(ngModel)]="jobDetails.terminationDate" [selDate]="terminationDate"></my-date-picker>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tbl-head-btn" [hidden]="isjobdetailsEdit">
                                <button type="button" (click)="cancelJobInfoEdit()" id="ivClientDtlsJDtlsCancel1" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 4px!important;" *ngIf="isjobdetailsEdit==false">Cancel</button>
                                <button type="submit" value="Save" id="ivClientDtlsJDtlsSave1" class="editbtn tbl-head-btn iportal-btnIMclient" style="margin-top: 4px!important;color: #008000 !important; width: 65px;" [ngClass]="{'loader': saveButtonProgress}" [disabled]="saveButtonProgress" (click)="saveJobInformation()" *ngIf="isjobdetailsEdit==false">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
