<div class="modal-dialog">
  <div class="modal-content" style="border-radius: 1px !important;">
    <div class="modal-header">
      <button type="button" class="close" (click)="cancelClick()" tabindex=-1 >&times;</button>
      <h4 class="modal-title" mat-dialog-title>Reset Your Password</h4>
    </div>
    <div class="modal-body" mat-dialog-content>
      <form action="" [formGroup]="login" (ngSubmit)="loginSubmit(login.value, login.valid)">
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-6 password">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Email" formControlName="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 password">
                    <label>Old Password</label>
                    <input type="password" class="form-control" placeholder="Old Password" formControlName="oldPassword" (blur)="validatePassword()" required>
                </div>
                <div class="col-md-6 row sfm" *ngIf="oldPasswordValidationFlag">
                        <div class="redstar" style="margin-top: 10%;margin-left: 7%;">
                            Old Password cannot be same as New Password
                        </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 password">
                    <label>New Password</label>
                    <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword"
               (blur)="validatePassword()" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?#_&+=^,.:;\-])[A-Za-z\d$@$!%*?#_&+=^,.:;\-]{8,}" />
                </div>
                <div class="col-md-6 row sfm">
                        <div class="redstar"style="margin-top: 5%;margin-left: 1%;">
                          <span>Password should contain :</span><br/>
                          <span [style.color]="getPasswordLengthStyle(login.value.newPassword)">atleast 8 characters</span><br/>
                          <span [style.color]="getUpperCaseStyle(login.value.newPassword)">1 uppercase</span><br/>
                          <span [style.color]="getLowerCaseStyle(login.value.newPassword)">1 lowercase</span><br/>
                          <span [style.color]="getNumberStyle(login.value.newPassword)">1 number</span><br/>
                          <span [style.color]="getSpecialCharStyle(login.value.newPassword)">1 special character (@!%*?#_&+=^,.:;-)</span><br/>
                        </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 password">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" (blur)="validatePassword()" required>
                </div>
                <div class="col-md-6 row sfm" *ngIf="confirmPasswordValidFlag">
                        <div class="redstar" style="margin-top: 10%;margin-left: 7%;" >
                            Should be same as New Password
                        </div>
                </div>
                </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4" style="margin-left: 3%!important;">
                        <div class="sign_in">
                            <button type="submit" class="btn btn-primary" [disabled]="!login.valid">Submit</button>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
            </div>
      </form>
    </div>
  </div>
</div>
