<div class="main-content">

    <div class="clearfix"></div>
    <div class="table-data-forms">
      <h1 _ngcontent-c8="" class="clickname">
              <img _ngcontent-c15="" src="../../../../assets/images/Profile.png" style="margin-bottom: 4px !important;height: 18px!important;">
       <span _ngcontent-c8="">{{accountDetailsCommonService.accountName}}</span>
      </h1>
      <div _ngcontent-c6="" class="clearfix"></div>
      <h2 _ngcontent-c6="" class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Account Details</h2>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12 addresbox box-shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Account Info</h2>
                            <button type="submit" class="editbtn  no-marg-right iportal-btnIMclient" id="svActDetailsEdit" (click)="editForm()" *ngIf="isEdit==true">Edit</button>
                            <div class="tbl-head-btn" [hidden]="isEdit">
                                <button type="button" (click)="cancelEdit()" id="svActDetailsCancel1" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;" *ngIf="isEdit==false">Cancel</button>
                                <button type="submit" id="svActDetailsSave1" value="Save" class="editbtn iportal-btnIMclient" style="color: #008000 !important;margin-right: 11px;width: 65px;"[ngClass]="{'loader': showWorkAddrSaveButtonProgress}" [disabled]="showWorkAddrSaveButtonProgress" (click)="saveAccountDetails()" *ngIf="isEdit==false">Save</button>

                            </div>
                        </div>
                    </div>
                    <div class="row sfm" *ngIf="errormsg">
                        <div class="col-md-12">
                            <span class="redstar">* Fields are Mandatory.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="svActDetailsActName">Account Name <span class="redstar">*</span></label></div>
                        <div class="col-md-8"><input [disabled]="true" maxlength="100" type="text" id="svActDetailsActName" [ngClass]="accountDetails.accountName == '' ? 'redborder': ''" [(ngModel)]="accountDetails.accountName" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="svActDetailsActNo">Account Number <span class="redstar">*</span></label></div>
                        <div class="col-md-8"><input [disabled]="true" type="text" id="svActDetailsActNo" [(ngModel)]="accountDetails.accountNumber"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="svActDetailsFName">First Name <span class="redstar">*</span></label></div>
                      <div class="col-md-8"><input [disabled]="isEdit" maxlength="50" type="text" id="svActDetailsFName" [ngClass]="accountDetails.firstName == '' ? 'redborder': ''" [(ngModel)]="accountDetails.firstName" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="svActDetailsLName">Last Name <span class="redstar">*</span></label></div>
                      <div class="col-md-8"><input [disabled]="isEdit" maxlength="50" type="text" id="svActDetailsLName" [ngClass]="accountDetails.lastName == '' ? 'redborder': ''" [(ngModel)]="accountDetails.lastName" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="svActDetailsEmail">Email <span class="redstar">*</span></label></div>
                      <div class="col-md-8"><input [disabled]="isEdit" maxlength="100" type="text" id="svActDetailsEmail" [ngClass]="accountDetails.email == '' ? 'redborder': ''" [(ngModel)]="accountDetails.email" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="svActDetailsPhone">Phone <span class="redstar">*</span></label></div>
                      <div class="col-md-8"><input [disabled]="isEdit" maxlength="15" type="text" id="svActDetailsPhone" [ngClass]="accountDetails.phone == '' ? 'redborder': ''" [(ngModel)]="accountDetails.phone" /></div>
                    </div>
                    <div class="row">
                       <div class="col-md-4"><label for="svActDetailsCreatedOn">Created On</label></div>
                        <div class="col-md-8">
                            <my-date-picker [disabled]="true" id="svActDetailsCreatedOn" [options]="myDatePickerOptions" [(ngModel)]="accountDetails.createdOn" [selDate]="createdOn">
                            </my-date-picker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="svActDetailsStatus">Status <span class="redstar">*</span></label></div>
                        <div class="col-md-8">
                            <select [disabled]="isEdit" [(ngModel)]="accountDetails.status" [ngClass]="accountDetails.status == '' ? 'redborder': ''" class="form-control" (change)="statuschange()">
                                <option [value]="status.value" *ngFor="let status of accountStatus()" id="{{status.name}}">{{status.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="svActDetailsLastPaymentStatus">Last Payment Status</label></div>
                        <div class="col-md-8"><input [disabled]="isEdit" maxlength="100" type="text" id="svActDetailsLastPaymentStatus" [(ngModel)]="accountDetails.lastPaymentStatus" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="svActDetailsStorage">Storage Type <span class="redstar">*</span></label></div>
                        <div class="col-md-8">
                            <select [disabled]="isEditstorage" [(ngModel)]="accountDetails.storageType" [ngClass]="accountDetails.storageType == '' ? 'redborder': ''" class="form-control">
                                <option value="S3" id="svActDetailsStorageS3">S3</option>
                                <option value="GD" id="svActDetailsStorageGD">GD</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="svActDetailsMdel">Mark for Deletion <span class="redstar">*</span></label></div>
                        <div class="col-md-8">
                            <select [disabled]="isEdit" [(ngModel)]="accountDetails.markForDeletion"  [ngClass]="accountDetails.markForDeletion == undefined ? 'redborder': ''" class="form-control">
                                <option [value]="true" [selected] = "accountDetails.markForDeletion == true">YES</option>
                                <option [value]="false" [selected] = "accountDetails.markForDeletion == false">NO</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="svActDetailsMdelDetails">Mark For Deletion details</label></div>
                        <div class="col-md-8"><input [disabled]="isEdit" maxlength="100" type="text" id="svActDetailsMdelDetails" [(ngModel)]="accountDetails.mfdBy"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="svActDetailsComments">Notes/Comments</label></div>
                        <div class="col-md-8"><input [disabled]="isEdit" type="text" maxlength="1000" id="svActDetailsComments" [(ngModel)]="accountDetails.notes"/></div>
                    </div>
                    <div class="row sfm" *ngIf="errormsg">
                        <div class="col-md-12">
                            <span class="redstar">* Fields are Mandatory.</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
