.loader{
  background-image: url("../images/icons/source.gif") !important;
  background-size: 23px 23px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  font-size: 0 !important;
}
