body {
font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
a, button{
    cursor:pointer;
}
.float-right > .dropdown-menu{left:auto;right:0px;}
body a{
    text-decoration: none !important;
}
h1,h2,h3,h4,h5,h6{
    color: #fff;
}
.show > .dropdown-menu{
    display:block;
}
.cancelbtn, .savebtn{    
    margin:0;
    width: 80px;
    height: 30px;
    border: none;
    color: #ffffff !important;
    border-radius: 5px;
}
.cancelbtn, .cancelbtn.no-marg{
        background:#c62828;
        margin-right:10px !important;
}
.pad-x15{
    padding-right: 15px;
    padding-left: 15px;
}
.savebtn{
        background: #5cc34a;
}
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  /*::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }*/

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

/*.box-shadow{
    -webkit-box-shadow:2px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:2px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow:2px 1px 4px rgba(0, 0, 0, 0.4);
}*/

@include scrollbars(.5em, slategray);

.no-pad {
  padding: 0px !important;
}

.no-pad-left {
  padding-left: 0px !important;
}

.no-pad-right {
  padding-right: 0px !important;
}

.no-pad-top {
  padding-top: 0px !important;
}

.no-pad-bottom {
  padding-bottom: 0px !important;
}

.no-marg {
  margin: 0px !important;
}

.no-marg-left {
  margin-left: 0px !important;
}

.no-marg-right {
  margin-right: 0px !important;
}

.no-marg-top {
  margin-top: 0px !important;
}

.no-marg-bottom {
  margin-bottom: 0px !important;
}
button{cursor:pointer;}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}
placeholder{
    @include placeholder {
        color:#fff;
    }
}
@mixin noborder-radius-right($radius) {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-bottomleft: $radius;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
}
.ico-arrow-down{
    background: url(../images/icons/down-arrow.png) no-repeat 0 0;
}
.ico-arrow-up{
    background: url(../images/icons/up-arrow.png) no-repeat 0 0;
}
/*.ico-client-details{
    background: url(../images/icons/client-details.png) no-repeat 0 0;
}
.ico-address{
    background: url(../images/icons/address.png) no-repeat 0 0;
}
.ico-dependents{
    background: url(../images/icons/depenedents.png) no-repeat 0 0;
}
.ico-documents{
    background: url(../images/icons/documents.png) no-repeat 0 0;
}
.ico-documents-expirations{
    background: url(../images/icons/document-expirations.png) no-repeat 0 0;
}
.ico-passport-info{
    background: url(../images/icons/passport-info.png) no-repeat 0 0;
}
.ico-job-details{
    background: url(../images/icons/job-details.png) no-repeat 0 0;
}
.ico-arrival-desparture-info{
    background: url(../images/icons/arrival-departure-info.png) no-repeat 0 0;
}
.ico-visas{
    background: url(../images/icons/visas.png) no-repeat 0 0;
}
.ico-history{
    background: url(../images/icons/history.png) no-repeat 0 0;
}
.ico-questionnaire{
    background: url(../images/icons/questionnaire.png) no-repeat 0 0;
}
.ico-flight{
    background: url(../images/icons/flight.png) no-repeat 0 0;
}
.ico-leaf{
    background: url(../images/icons/leaf.png) no-repeat 0 0;
}*/
.ico-edit{
    background: url(../images/icons/search.png) no-repeat 0 0;
}
.smoothness {
  transition: all 0.3s ease;
}
.iportal-btn{
    margin:0px 20px 0 0;
    width:auto;
    height: 30px;
    padding:6px 12px;
    font-size: 13px;
    border: none;
    background: #04a9fc;
    color: #ffffff !important;
    border-radius: 5px;
}