html,
body {
    font-family: 'Roboto', sans-serif !important;
    background:none;
}
.container-fluid {
    background: #fff;
}
.top-strip {
    background: #222222;
    width: 100% !important;
    height: 60px;
    display: block;
}
.logo {
    margin: 5px 0 0 0;
    float: left;
}
a.login {
    background: #2298e7;
    float: right;
    width: 140px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 0px;
    margin: 10px 10px 0 0;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
}
a.login:hover {
    text-decoration: none;
    color: #fff;
}
.no-pad {
    padding: 0px;
}
.contact {
    height: 70px;
    padding-top: 18px;
    position: relative;
    width:100%;
}
@media screen and (max-width: 500px) {
  .contact {
    height: 70px;
    padding-top: 8px;
    position: relative;
    width: 100%;
  }
}
.contact .email,
.contact .phone {
    font-size: 14px;
    color: #3f3f3f;
    float: right;
    margin-left: 30px;
}
.contact .email img,
.contact .phone img {
    width: 20px;
    margin-right: 5px;
    height: auto;
}
.carousel-control.left,
.carousel-control.right {
    background: rgba(0, 0, 0, 0.5) !important;
}
.carousel-inner > .item > img {
    display: block;
    height: 500px;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;
}
.main-slider {
    width: 50px;
    height: 100px;
    top: calc(50% - 50px);
}
.main-slider i {
    font-size: 34px;
    margin: 32px 0 0 -7px;
}
.main-slider i.fa-angle-right {
    margin: 32px -7px 0 0px;
}
.clients {
    background: #f2f2f2;
    width: 100%;
    height: 130px;
    padding: 20px 0px;
}
.clients-slider-left,
.clients-slider-right {
    left: -60px;
    color: #7d7d7d;
    text-shadow: none;
}
.clients-slider-right {
    right: -60px !important;
}
.carousel-control.clients-slider-left,
.carousel-control.clients-slider-right {
    background: none !important;
}
.clientitem {
    background: #fff;
    width: 162px;
    margin: 0px 90px 0 0;
    height: 90px;
    float: left;
    text-align: center;
    vertical-align: middle;
    padding-top: 28px;
}
.clientitem:last-child {
    margin-right: 0px;
}
.section-heading {
	width: 100%;
    color:#333 !important;
	text-align: center;
	font-size:26px;
	font-weight: 300;
	margin: 60px 0 40px 0;
}
.bdrline {
	background: #2298e7;
	width: 110px;
	margin: 10px auto;
	height: 2px;
}
.businessgrowth, .sustainability, .performance {
	background: url(../../assets/images/web/business-growth.jpg) no-repeat right top;
	width: 100%;
	height: 420px;
    margin-bottom:20px;
}
.blackpatch {
	width: 70%;
	height: 100%;
	min-height: 100%;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 20px 0 0 20px;
}
.blackpatch h3 {
	font-size: 24px;
	font-weight: 400;
	margin: 15px 0 10px 0;
}
.blackpatch p {
	font-size: 16px;
	line-height: 32px;
	max-width: 80%;
}

.sustainability {
	background: url(../../assets/images/web/Mask-Group-28@2x.jpg) no-repeat right top;
}
.performance {
	background: url(../../assets/images/web/Mask-Group-30@2x.jpg) no-repeat right top;
}
.ourfeaturescnt {
	font-size: 18px;
	color: #404040;
	font-weight: 300;
	line-height: 34px;
	text-align: center;
	margin: 0px auto 15px auto;
	max-width: 700px;
}
.ourfeatures {
	cursor: pointer;
	text-align: center;
}
.ourfeatures img {
	margin: 15px auto;
	width: 45px;
	height: auto;

}
.ourfeatures h3 {
	font-size: 18px;
	font-weight: 600;
	color: #333;
	padding: 0px;
	margin: 0px 0 20px 0;
}
.ourfeatures p {
font-size: 12px;
color: #7a7a7a;
max-width: 70%;
margin: 10px auto;
	}

.ourfeatures a {
font-size: 12px;
text-transform: uppercase;
color: #d3d3d3;
}
.ourfeatures:hover h3, .ourfeatures:hover a {
	color: #2298e7;
	}
	.video-strip {
		background: url(../../assets/images/web/BG-mask.png) no-repeat center top;
		width: 100%;
		height: 385px;
		margin: 80px 0px;
		padding: 0px;

	}
.videotxt {
	color: #fff;
	text-align:center;
}
.playbtn {
	width: 60px;
	height: 60px;
	background: url(../../assets/images/web/play.png) no-repeat left top;
	margin: 50px auto 40px auto;
	display: block;
}
.videotxt h2 {
	text-transform: uppercase;
	font-size: 30px;
	padding: 0px;
	margin: 0px 0px 30px 0;
}
.videotxt p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 20px;
	}
.videotxt button {
	width: 225px;
	background: #2298e7;
	border:none;
	border-radius: 4px;
	height: 56px;
	font-size: 16px;
	font-weight: 500;
	padding: 5px 0 0 0;
	margin:25px 0px;

}
.propic {
	border-radius: 50%;
	border: solid 1px #dadada;
}
.current {
	width: 110px;
	height: auto;
	margin: 0px auto 30px auto;
}
.previous, .next  {
	width: 70px;
	height: 70px;
	float: right;
}
.next {
	float: left;
}
.pro-cnt {
	font-size: 18px;
    color: #404040;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    margin: 0px auto;
    max-width: 700px;
    margin-bottom: 50px;
}
.name {
	font-size: 16px;
    color: #404040;
    font-weight: 700;
    display: block;
}
.role {
	font-size: 14px;
    color: #cccccc;
    font-weight: 300;
    display: block;
}
.item {
	text-align: center;
}
.prevnxtimgs {
	padding-top: 30px;
}
.main-nav {
	background: #2298e7;
	height: 60px;
	position: absolute;
	bottom: -40px;
	z-index: 999;
	width: 100%;
    border:none;
    border-radius:4px;
}
.navitems {
	margin: 0px;
	padding: 0px;
	float: left;
}
.navitems li {
	display: inline;
	margin-right: 40px;
	float: left;
}
.navitems li a, .navitems li a:hover {
color: #fff !important;
font-size: 14px;
font-weight: 500;
	}

.trackrecord-strip {
	background: #f6f6f6;
	margin-top: 100px;
	padding:35px 0;
}
.tcs-img {
	width: 32px;
	height: auto;
	display: block;
	margin: 0px auto;
}
.tcs-count {
	font-size: 40px;
	display: block;
	margin: 20px 0 10px 0;
}
.tcs-status {
	font-size: 22px;
	display: block;
}
.img50 {
	background: url(../../assets/images/web/Group-142.jpg) no-repeat right top;
	background-size: cover;
	height: 430px;
	margin-top: 80px;
}
.color50 {
	height: 430px;
	background:#000;
	margin-top: 80px;
}
.form {
	float: left;
	margin: 60px 0 0 0;
	min-width: 200px;
	color: #fff;
	width:100%;
}
.form-title {
	font-size: 14px;
	margin-bottom: 40px;
	width: 100%;
	float: left;

}
.form input {
	background: none;
	border: solid 1px #fff;
	padding: 2px 3px 2px 4px;
	margin: 0px;
	color: #ccc;
	width: 100%;
    margin-bottom: 30px;
    line-height: 26px;
}
.form button {
	width: 100%;
	color: #fff;
	    background: #2298e7;
    border: none;
    height: 56px;
    font-size: 16px;
    font-weight: 500;
}
.slide {
    width: 100% !important;
}
.slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7, .slide8, .slide9 {
     background: #164a65;
	width: 100%;
	min-height: 500px;
	text-align: left;
	color: #fff;
}

/*.slide1 span,
.slide2 span,
.slide3 span,
.slide4 span,
.slide5 span,
.slide6 span,
.slide7 span,
.slide8 span,
.slide9 span {
	font-size: 16px;
	font-weight: 400;
	width: 100%;
	margin: 160px 0px 10px 0;
	float: left;
}*/
.slide1 h1,
.slide2 h1,
.slide3 h1,
.slide4 h1,
.slide5 h1,
.slide6 h1,
.slide7 h1,
.slide8 h1,
.slide9 h1 {
	font-size:36px;
	font-weight:700;
	margin: 180px 0px 0px 0;
	padding:0px;
	margin-bottom: 20px;
}
.slide2 {
    background:#00bcd4;
    color:#fff !important;
    border:solid 1px #d1d1d1;
}
.slide3 {
    background: #90a4ae;
    color:#fff !important;
    border:solid 1px #d1d1d1;
}
.slide4 {
    background: #67a39d;
    color:#fff !important;
}
.slide5 {
    background:#ff7a7d;
    color:#333 !important;
    border:solid 1px #d1d1d1;
}
.slide6 {
    background:#c9ac69;
    color:#fff !important;
}
.slide7 {
    background:#90a4ae;
    color:#fff !important;
}
.slide8 {
    background:#00bcd4;
    color:#fff !important;
}
.slide9 {
    background:#ff7a7d;
    color:#fff !important;
}
.top-carousel-indicators {
	margin: 0px !important;
	padding: 0px !important;
	position: absolute !important;
    left: 50% !important;
    bottom: 10px !important;
    /*z-index: 99999 !important;*/
    justify-content: left !important;
}
.top-carousel-indicators li {
	display: inline-block !important;
    width: 14px !important;
    height: 14px !important;
    margin: 2px !important;
    text-indent: -999px !important;
    cursor: pointer !important;
    background-color: #000 \9 !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid #456e84 !important;
    border-radius: 0px  !important;
    float: left;
    max-width:14px !important;
}
.top-carousel-indicators .active {
    background-color: #fff !important;
    border: none !important;
}
.ourservice, .getstart {
	background: #2298e7;
	width: 100%;
	color: #fff;
	height: 56px;
	text-transform: capitalize;
	border: solid 1px #2298e7;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 400;
	margin: 52px 0 25px 0;
}
.getstart {
	background: none;
	border: solid 1px #fff;
}
.immi-software {
	font-weight: 300;
	font-size: 34px;
	text-align: center;
	margin: 10px 0 80px 0;
	color: #333;
	line-height: 34px;
    width:100%;
}
.immi-software span {
font-weight: 300;
	font-size: 30px;
	color: #ccc;
	}
.projdisc {
	font-size: 14px;
	font-weight: 500;
	color: #333;
	line-height: 24px;
	text-transform: capitalize;
}
h4 {
	color: #2298e7;
	font-weight: 400;
	font-size: 22px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
}
.projdisc ul {
		margin: 20px 0 0 0;
	padding: 0px;
}
.projdisc ul li {
	list-style: none;
	background: url(../../assets/images/web/dot.jpg) no-repeat left 9px;
	margin-bottom: 10px;
	padding: 0 0 0 20px;

}
.footer-links, .copyright {
	width: 100%;
	padding: 50px 0;
	background: #f2f2f2;
	border-bottom: solid 1px #95989a;
	color: #333;
}
.copyright {
	padding: 25px 0px;
	border:none;
	text-align: right;
}
.footer-links h1 {
	font-size: 36px;
	font-weight: 700;
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
    color: #333;
	text-transform: uppercase;
}

.footer-links .email,
.footer-links .phone {
    font-size: 14px;
    color: #3f3f3f;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.footer-links .email img,
.footer-links .phone img {
    width: 25px;
    margin-right: 20px;
    height: auto;
}
.footer-links h4 {
	font-size: 24px;
	font-weight: 700;
	margin: 0px;
	padding: 0px;
	margin-bottom: 31px;
	color: #595959;
}
.flinks {
	width: 50%;
	float: left;
	margin:0px;
	padding: 0px;
}
.flinks li {
	list-style: none;
	padding: 0px;
	margin-bottom: 15px;
}
.flinks li a {
	color: #333;
}

.slinks {
	float: left;
	margin:0px;
	padding: 0px;
}
.slinks li {
	list-style: none;
	padding: 0px;
	margin-right: 15px;
	float: left;
}
.slinks li a.fb, .slinks li a.twitter, .slinks li a.insta {
	width: 32px;
	height: 32px;
	float: left;
	background: url(../../assets/images/web/facebook.png) no-repeat center center;
	background-size: 100%;
	border-radius: 50%;
}
.slinks li a.twitter {
	background: url(../../assets/images/web/twitter.png) no-repeat  center center;
	background-size: 100%;
}
.slinks li a.insta {
	background: url(../../assets/images/web/instagram.png) no-repeat  center center;
	background-size: 100%;
}

/*===============================================================================*/
.contentpage p {
	font-size: 16px;
	line-height: 26px;
	color: #333;
	margin-bottom: 20px;

}
.clear {
	clear: both;
}
.img50-2 {
	background: url(../../assets/images/web/img502.jpg) no-repeat left top;
	background-size: cover;
	height: 600px;
}
.color50-2 {
	height: 600px;
	background:#000;
}
.blueHeader {
	background: #2b67ac; width: 100%; height: 200px; text-align: center; color: #fff;padding-top: 100px;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 5%;
}
.iph {
	color: #333;
	font-weight: 400;
	font-size: 32px;
	margin: 0px;
	padding:0px;
	margin-bottom: 20px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 15px 0px !important;
    background:none !important;
    border: none !important;
    border-bottom: 1px solid #ddd !important;
    font-size: 20px;
}
.clicktocall {
	width: 100%;
	background: url(../../assets/images/web/white-phone-call.png) no-repeat center 25px #32ae82;
	min-height: 200px;
	text-align: center;
	color: #fff;
	padding: 50px 15px 15px 15px;
	margin: 60px 0 0 0;
	font-size: 18px;
}
.clicktocall h3 {
	font-size: 28px;
	margin-bottom: 20px;
	font-weight: 500;
	display: block;

}
.clicktocall a {
	color: #fff !important;
	font-size: 18px;
}
.clicktocall span {
	font-size: 22px;
	margin-bottom: 10px;
	display: block;
	font-weight: 500;

}
.contentheading {
	font-size: 24px;
	font-weight: 500;
	color: #333;
	margin: 0px;
	margin-bottom: 30px;
	display: block;
}
.douneed {
	float: right;
	margin:30% 10% 0 0;
	text-align: left;
	font-size: 40px;
	font-weight: 300;
	color: #fff;
	width: 65%;
}
.pricingoptions {
	margin-top: -110px;
}


.permonth {
	text-align: center;
	color: #333;
	font-size: 16px;
	width: 100%;
	float: left;
}
.sign {
	font-size: 18px;
	font-weight: 500;
}



.corner-ribbon {
	  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #fff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
      font-size: 18px;
}
.corner-ribbon.sticky{
  position: absolute;
}
.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.corner-ribbon.top-left{
  top: 10px;
    left: -60px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.corner-ribbon.voilet{background: #7f65b8;}


.enjoy {
	text-align: center;
	font-size: 36px;
	color: #333;
	font-weight: 300;
	margin: 80px auto;
}
.enjoy span{
	font-weight: 500;
}
.datatbl {
	margin-bottom: 50px;
}
.theads {
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 20px;
}
.tblname {
	font-size: 34px;
	font-weight: 300;
}
.dataitem {
	padding: 15px 0px;
	font-size: 14px;
	color: #000;
	background: #f5f5f5;
}
.dataitem:nth-child(even) {
	background: #fff;
	border:solid 1px #e3e3e3;
}
.dataitem .col-md-4:first-child, .theads .col-md-4:first-child {
	padding-left: 60px;
}
.requestademo {
	background: url(../../assets/images/web/request-a-demo.jpg) no-repeat center top;
	width: 100%;
	height: 320px;
	background-size: cover;
}
#exTab1 .tab-content {
  color : #333;
  padding : 70px 0px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0px !important;
      font-size: 20px;
    font-weight: 400;
    color: #333;
    padding: 15px;
    border: solid 1px #ccc;
    border-top: none;
    border-left: none;
}


#exTab1 .nav-pills > li.active > a {
	border-color: #000;
	background: #000;
	color: #fff;
	position: relative;
}
#exTab1 .nav-pills > li.active > a div.arrow-up{
    width: 0;
    height: 0;
    margin: 0px auto;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #000;
    position: absolute;
    bottom: -12px;
    left: 47%;

}
#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.faqtab {
	width: 20%;
	padding:0px !important;
	text-align: center;
	margin: 0px !important;
}
.question {
	font-size: 18px;
	font-weight: 500;
}
.answer {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

/*===== Tabs =========*/

/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  padding: 0 !important;
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background:none !important;
  background-image: none !important;
  color: #2298e7;
  border-bottom: solid 1px #2298e7 !important;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
  display: none;
}

div.bhoechie-tab-content{
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}
.bhoechie-tab-content p {
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 15px;
}
div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

/*===== ends tabs =========*/
.accordion-toggle:hover {
      text-decoration: none;
    }
.panel-group .panel {
	border-radius: 0px !important;
}
.panel-default > .panel-heading {
	background: none !important;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	font-size: 14px;
    line-height: 24px;
    border-top: none !important;
}
.panel-heading {
    padding:0px;
    }
.panel-title a {
	padding: 10px 15px;
    width: 100%;
    display: block;
}
.panel-group {
    margin-bottom: 0px !important;
}
.panel-group .panel + .panel {
    margin-top: 33px !important;
}

.panel-title a i {
	float: right;
    font-size: 22px;
    font-weight: 100;
    margin: -2px 0 0 0;
}
.panel-body .rmore {
	margin: 31px 0px 10px 0;
	color: #2298e7;
	font-weight: 400;
	font-style: italic;
	float: left;
}
.faq-immi-services, .faq-h1b1, .faq-19forms, .faq-b1b2, .faq-visacomps {
	background: url(../../assets/images/web/about-2.jpg) no-repeat right center;
	background-size: cover;
	width: 50%;
	height: 240px;
	float: left;
}
.faq-h1b1 {
	background: url(../../assets/images/web/about-3.jpg) no-repeat left top;
	background-size: cover;
}

.faq-19forms {
	background: url(../../assets/images/web/about-6.jpg) no-repeat right center;
	background-size: cover;
}

.faq-b1b2 {
	background: url(../../assets/images/web/about-4.jpg) no-repeat left top;
	background-size: cover;
}

.faq-visacomps {
	width: 100%;
	background: url(../../assets/images/web/about-5.jpg) no-repeat center center;
	background-size: cover;
}
.faq-black-patch {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	min-height: 100%;
	height:100%;
	    padding-top: 120px;
}
a, a:hover {
	text-decoration: none;
}
.contactform{
	height: 500px;
	position: absolute;
	bottom: -400px;
	width: 100%;

}
.cinfo {
	background: #fff;
	padding: 30px;
	color: #333;
	font-size: 14px;
	text-align: left;
	height: 500px;
	box-shadow: 1px 1px 5px #d6d6d6;
}
.cform {
	background: #193d55;
	color: #fff !important;
	padding: 40px 60px;
	border: solid 1px #95989a;
	height: 500px;
	box-shadow: 1px 1px 5px #d6d6d6;
	font-size: 14px;
}
.cinfo h1 {
	margin: 20px 0 60px 0;
    padding: 0px;
    font-size: 34px;
    font-weight: 400;
	}
.cinfo .email, .cinfo .phone {
    font-size: 14px;
    color: #3f3f3f;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    }
.cinfo .email img, .cinfo .phone img {
	width: 25px;
    margin-right: 20px;
    height: auto;
}
.cform span {
	text-align: left;
	float: left;
	display: block;
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 300;
}
.cform input, .cform textarea {
	background: none;
	border: solid 1px #fff;
	padding: 2px 3px 2px 4px;
	margin: 0px;
	color: #fff;
	width: 100%;
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 14px;
	font-weight: 300;
}
.cform button {
	width: 100%;
	color: #fff;
	    background: #2298e7;
    border: none;
    height: 56px;
    font-size: 16px;
    font-weight: 500;
}
::-webkit-input-placeholder { /* Chrome */
  color: #fff;
}
.blueHeader p {
	font-size: 24px;
	font-weight: 400;
	width: 70%;
	margin: 30px auto 0px auto;
	max-width: 900px;
}
#toTop {
    padding:2px 0 0 0;
    background: #2298e7;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    position: fixed;
    bottom:15px;
    right: 15px;
    text-align: center;
    cursor: pointer;
}
.cmap {
    width:100% !important;
    height:680px !important;
}
#exTab1 {
    width:100%;
}
.navbar {
    margin-bottom:0px !important;
}
.navitems li a {
    padding: 20px 0px 18px 0;
    border-bottom: solid 2px #2298e7;
}
.navitems li a:hover, .navitems li a.active {
        border-bottom: solid 2px #fff;
    }
.navitems li:first-child {
    margin-left:30px;
}
.navitems li:last-child {
    margin-right:0px;
    float:right;

}
.navitems li a.req-demo, .navitems li a.req-demo:hover  {
	float: right;
	color: #2298e7 !important;
	padding: 10px 0px;
	margin: 10px 10px 0 0;
	background: #fff !important;
    border:none !important;
	font-size: 16px;
    font-weight:400;
    border-radius:4px;
    width: 140px;
    text-align: center;
}
.navbar-inverse   .navbar-collapse, .navbar-inverse   .navbar-form {
    border:none;
    background:#2298e7;
    border-radius:4px;
}
.innot {
       margin-top: 46px;
    margin-right: 10px;
}
.show768 {
        display:none;
    }
.immiservicetab {

    width:100%;

}
.immiservicetab a {
    width:100% !important;
    border-radius:0px !important;
    padding:20px 15px !important;
    border-bottom:solid 1px #ccc !important;
    font-size:16px !important;
    font-weight:600 !important;
    background:none !important;
    color:#333 !important;
}


#imsTab1 .nav-pills > li.active > a {
    background:none;
    border-color:#2298e7 !important;
    color:#2298e7 !important;
}
#imsTab1 .nav-pills > li.active > a div.arrow-up{
    width: 0;
    height: 0;
    margin: 0px auto;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #000;
    position: absolute;
    bottom: -12px;
    left: 47%;
}
#imsTab1 {
    margin-bottom:40px;
}
/*.slide4 .sidcnt h1 {
    margin-top:180px;
}*/
.slide6 .sidcnt h1 {
    font-size:32px !important;
}
/*@media (min-width:1000px) {
    .innot {
    margin-top: 73px;
}
}*/
.slide4 .innot {
    margin-top: 80px;
}
.slide6 .innot {
    margin-top: 100px;
}
@media (max-width:1000px) {
    .navitems li {
     margin-right: 25px;
    }
}
@media (max-width:768px) {
    .navitems li:first-child {
        margin:0px;
    }
    .navitems li, .navitems li a{
        width:100%;
        margin:0px;
        padding-left:0px;
        padding-right:0px;
    }
    .innot {
    margin:0px auto;
    margin-top:50px;
    float:none !important;
}
    .sidcnt {
        text-align:center;
    }

    .sidcnt h1 {
        margin: 20px 0px 10px 0;
                font-size: 30px;
                    margin-bottom: 10px;
        }
    .slide4 .sidcnt h1 {
    margin-top:20px;
}
.slide6 .sidcnt h1 {
    margin-top:20px;
}
    .show768 {
        display:block;
    }
    .hide768 {
        display:none;
    }
.top-carousel-indicators {
        left: 5% !important;
    bottom: 4px !important;
}
}
@media (max-width:480px) {
    .top-carousel-indicators {
        display:none;
    }
}
