<div *ngIf="appService.showMenu">
<div class="navbar navbar-inverse navbar-fixed-left">
    <ul class="nav navbar-nav sidenavresize" *ngIf="sideBarMenu=='immigrationview-petition'">

        <li>
            <a id="testone" (click)="appService.moveToPage('immigrationview/petition/details/petition-details');highlightSBLink('Petition Details');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Petition Details') ? 'active': '']" routerLinkActive="active">
                <span class="ico-client-details"></span>
                <span>Petition Details</span>
            </a>
        </li>
        <li>
          <a (click)="appService.moveToPage('immigrationview/petition/details/document-repository');highlightSBLink('Documents')" [ngClass]="[checkForCurrentSBLink('Documents') ? 'active': '']" routerLinkActive="active">Documents</a>
        </li>
        <li ngbDropdown class="dropdown">
            <a (click)="appService.moveToPage('immigrationview/petition/details/questionnaire');highlightSBLink('Questionnaire');submenuclick('immiQstnre')" [ngClass]="[checkForCurrentSBLink('Questionnaire') ? 'active': '']" ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown" id="immigrationview-questionnaires" routerLinkActive="active">
                <span class="ico-questionnaire"></span>
                <span>Questionnaire</span>
                <span class="ico-arrow"></span>
            </a>
            <ul class="listsidemenu" role="menu" aria-labelledby="immigrationview-questionnaires" ngDefaultControl *ngIf="appService.questionnaireName&&immiQstnre" [(ngModel)]="appService.questionnaireName">
                <li *ngFor="let value of questionnaireCommonService.questionnaireList" routerLinkActive="active"><a (click)="questionnaireCommonService.moveToQuestionnaire(value);highlightSBLink(value.questionnaireName)" [ngClass]="[checkForCurrentSBLink(value.questionnaireName) ? 'active': '']">{{value.questionnaireName}}</a></li>
            </ul>
        </li>
        <li>
          <a (click)="appService.moveToPage('immigrationview/client/detail/document-management');highlightSBLink('Doc Management')" [ngClass]="[checkForCurrentSBLink('Doc Management') ? 'active': '']" routerLinkActive="active">Prepare</a>
        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/petition/details/notes');highlightSBLink('Notes');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Notes') ? 'active': '']" routerLinkActive="active">
                <span class="ico-questionnaire"></span>
                <span>Notes</span>
            </a>
        </li>
    </ul>

    <ul class="nav navbar-nav sidenavresize" *ngIf="sideBarMenu=='immigrationview-client'">
      <li>
        <a (click)="appService.moveToPage('immigrationview/client/detail/petitions');highlightSBLink('Petitions');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Petitions') ? 'active': '']" routerLinkActive="active">
          <span class="ico-history"></span>
          <span>Petitions</span>
        </a>
      </li>
      <li>
         <a (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Client Details') ? 'active': '']" routerLinkActive="active">
                <span class="ico-client-details"></span>
                <span>Beneficiary Details</span>
            </a>
        </li>
        <li ngbDropdown class="dropdown">
          <a (click)="appService.moveToPage('immigrationview/client/detail/client-document-repository');highlightSBLink('Documents');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Documents') ? 'active': '']" ngbDropdownToggle class="dropdown-toggle" id="documents" data-toggle="dropdown">
            <span class="ico-dependents"></span>
            Documents
          </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/client/detail/addressinfo');highlightSBLink('Address');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Address') ? 'active': '']" routerLinkActive="active">
                <span class="ico-address"></span>
                <span>Address</span>
            </a>
        </li>
        <li ngbDropdown class="dropdown">
            <a (click)="appService.moveToPage('immigrationview/client/detail/dependents');highlightSBLink('Dependents');submenuclick('immidependents')" [ngClass]="[checkForCurrentSBLink('Dependents') ? 'active': '']" ngbDropdownToggle class="dropdown-toggle" id="dependents" data-toggle="dropdown">
                <span class="ico-dependents"></span>
                <span>Dependents</span>
                <span class="ico-arrow"></span>
            </a>
            <ul class="listsidemenu" role="menu" aria-labelledby="dependents" name="dependents-list" ngDefaultControl *ngIf="appService.dependents&&immidependents" [(ngModel)]="appService.dependents">
                <li *ngFor='let value of appService.dependents'><a (click)="appService.moveToPageWithParams('immigrationview/client/detail/dependentDetails',value.dependentId);highlightSBLink(value.firstName)" [ngClass]="[checkForCurrentSBLink(value.firstName) ? 'active': '']" routerLinkActive="active">{{value.firstName}}</a></li>
            </ul>

        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/client/detail/document-expirations');highlightSBLink('Documents Expirations');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Documents Expirations') ? 'active': '']" routerLinkActive="active">
                <span class="ico-documents-expirations"></span>
                <span>Document Expirations</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/client/detail/passport-info');highlightSBLink('Passport Info');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Passport Info') ? 'active': '']" routerLinkActive="active">
                <span class="ico-passport-info"></span>
                <span>Passport Info</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/client/detail/job-details');highlightSBLink('Job Details');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Job Details') ? 'active': '']" routerLinkActive="active">
                <span class="ico-job-details"></span>
                <span>Job Details</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/client/detail/arrival-departure-info');highlightSBLink('Arrival Desparture Inf');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Arrival Desparture Inf') ? 'active': '']" routerLinkActive="active">
                <span class="ico-arrival-desparture-info"></span>
                <span>Arrival Departure Info</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/client/detail/visas');highlightSBLink('Visas');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Visas') ? 'active': '']" routerLinkActive="active">
                <span class="ico-arrival-desparture-info"></span>
                <span>Visas</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/client/detail/I-797-history');highlightSBLink('I -797 History');submenuclick('')" [ngClass]="[checkForCurrentSBLink('I -797 History') ? 'active': '']" routerLinkActive="active">
                <span class="ico-history"></span>
                <span>I -797 History</span>
            </a>
        </li>
    </ul>

    <ul class="nav navbar-nav sidenavresize" *ngIf="sideBarMenu=='manageaccount'">
        <li ngbDropdown  class="dropdown">
            <a (click)="appService.moveToPage('immigrationview/manageaccount/user');highlightSBLink('User');submenuclick('manageUser')" [ngClass]="[checkForCurrentSBLink('User') ? 'active': '']"  routerLinkActive="active" class="dropdown-toggle" id="users" data-toggle="dropdown" ngbDropdownToggle >
                <span class="ico-users"></span>
                <span>Users</span>
                <span class="ico-arrow"></span>
            </a>
            <ul class="listsidemenu" role="menu" aria-labelledby="users" name="users" [hidden]="isShow" ngDefaultControl *ngIf="appService.usersList&&manageUser" [(ngModel)]="appService.usersList">
                <li *ngFor='let value of appService.usersList'><a (click)="appService.moveToPageWithParams('immigrationview/manageaccount/user-details',value);highlightSBLink(value.userId);userDetailsClick()" [ngClass]="[checkForCurrentSBLink(value.userId) ? 'active': '']" routerLinkActive="active">{{value.firstName}}</a></li>
            </ul>
        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/manageaccount/organizations');highlightSBLink('Organizations');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Organizations') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Petitioners</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/manageaccount/petitiontypestages');highlightSBLink('Petition Type Stages');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Petition Type Stages') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Petition Type Stages</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/manageaccount/checklist');highlightSBLink('checklist');submenuclick('')" [ngClass]="[checkForCurrentSBLink('checklist') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Checklist</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/manageaccount/shippingaddress');highlightSBLink('Shipping Address');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Shipping Address') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Shipping Address</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/manageaccount/preferences');highlightSBLink('Account Preferences');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Account Preferences') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Account Preferences</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/manageaccount/invoices');highlightSBLink('superuserview/tab/invoices');submenuclick('')" [ngClass]="[checkForCurrentSBLink('superuserview/tab/invoices') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Invoices</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/manageaccount/payments');highlightSBLink('Payments');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Payments') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Payments</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/manageaccount/markfordeletion');highlightSBLink('markfordeletion');submenuclick('')" [ngClass]="[checkForCurrentSBLink('markfordeletion') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Mark For Deletion</span>
            </a>
        </li>
    </ul>

    <ul class="nav navbar-nav sidenavresize" *ngIf="sideBarMenu=='immiview-reports'">
        <li ngbDropdown class="dropdown">
            <a (click)="appService.moveToPage('immigrationview/reports/petition/status');highlightSBLink('immiview-petitionreports');submenuclick('immipetitionreports')" [ngClass]="[checkForCurrentSBLink('immiview-petitionreports') ? 'active': '']" routerLinkActive="active" ngbDropdownToggle class="dropdown-toggle" id="users" data-toggle="dropdown">
                <span class="ico-users"></span>
                <span>Petitions</span>
                <span class="ico-arrow"></span>
            </a>
            <ul class="listsidemenu" role="menu" *ngIf="immipetitionreports" aria-labelledby="users" name="users" ngDefaultControl>
                <li>
                    <a (click)="appService.moveToPage('immigrationview/reports/petition/status');highlightSBLink('immiview-petitionreports')" [ngClass]="[checkForCurrentSBLink('immiview-petitionreports') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Status</span>
                    </a>
                </li>
                <li>
                    <a (click)="appService.moveToPage('immigrationview/reports/petition/type');highlightSBLink('immiview-petiontypes')" [ngClass]="[checkForCurrentSBLink('immiview-petiontypes') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Types</span>
                    </a>
                </li>
                <li>
                    <a (click)="appService.moveToPage('immigrationview/reports/petition/stage');highlightSBLink('immiview-petionstagereports')" [ngClass]="[checkForCurrentSBLink('immiview-petionstagereports') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Stage</span>
                    </a>
                </li>
                <li>
                    <a (click)="appService.moveToPage('immigrationview/reports/petition/finalaction');highlightSBLink('petiton-finalaction')" [ngClass]="[checkForCurrentSBLink('petiton-finalaction') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Final Action</span>
                    </a>
                </li>
                <li>
                    <a (click)="appService.moveToPage('immigrationview/reports/petition/tag');highlightSBLink('immiview-petiontagreports')" [ngClass]="[checkForCurrentSBLink('immiview-petiontagreports') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Tag</span>
                    </a>
                </li>
                <!--<li>
                    <a (click)="appService.moveToPage('manageaccount/invoices');highlightSBLink('superuserview/tab/invoices')" [ngClass]="[checkForCurrentSBLink('superuserview/tab/invoices') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Timeline</span>
                    </a>
                </li>-->
            </ul>
        </li>
        <li ngbDropdown class="dropdown">
            <a (click)="appService.moveToPage('immigrationview/reports/client/status');highlightSBLink('immiview-clientstatusreports');submenuclick('immicilentreports')" [ngClass]="[checkForCurrentSBLink('immiview-clientstatusreports') ? 'active': '']" routerLinkActive="active" ngbDropdownToggle class="dropdown-toggle" id="users" data-toggle="dropdown">
                <span class="ico-users"></span>
                <span>Beneficiaries</span>
                <span class="ico-arrow"></span>
            </a>
            <ul class="listsidemenu" role="menu" *ngIf="immicilentreports" aria-labelledby="users" name="users" ngDefaultControl>
                <li>
                    <a (click)="appService.moveToPage('immigrationview/reports/client/status');highlightSBLink('immiview-clientstatusreports')" [ngClass]="[checkForCurrentSBLink('immiview-clientstatusreports') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Status</span>
                    </a>
                </li>
                <li>
                    <a (click)="appService.moveToPage('immigrationview/reports/client/created');highlightSBLink('immiview-clientscreated')" [ngClass]="[checkForCurrentSBLink('immiview-clientscreated') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Created</span>
                    </a>
                </li>
            </ul>
        </li>
        <!--<li ngbDropdown class="dropdown">
            <a (click)="appService.moveToPage('immigrationview/reports/user/totalpetitions');highlightSBLink('user-totalpetitions');userpetiitonsclick()" [ngClass]="[checkForCurrentSBLink('user-totalpetitions') ? 'active': '']" routerLinkActive="active" ngbDropdownToggle class="dropdown-toggle" id="users" data-toggle="dropdown">
                <span class="ico-users"></span>
                <span>Users</span>
                <span class="ico-arrow"></span>
            </a>
            <ul class="listsidemenu" *ngIf="immiuserreports" role="menu" aria-labelledby="users" name="users" ngDefaultControl>
                <li>
                    <a (click)="appService.moveToPage('immigrationview/reports/user/totalpetitions');highlightSBLink('user-totalpetitions')" [ngClass]="[checkForCurrentSBLink('user-totalpetitions') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Total Petitions</span>
                    </a>
                </li>
                <li>
                    <a (click)="appService.moveToPage('immigrationview/reports/user/openpetitions');highlightSBLink('user-openpetitions')" [ngClass]="[checkForCurrentSBLink('user-openpetitions') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Open petitions</span>
                    </a>
                </li>
            </ul>
        </li>-->
    </ul>
    <ul class="nav navbar-nav sidenavresize" *ngIf="sideBarMenu=='immiview-profuser'">
        <li>
            <a (click)="appService.moveToPage('profile/user');highlightSBLink('immiview-profileuser');submenuclick('')" [ngClass]="[checkForCurrentSBLink('immiview-profileuser') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>User</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('profile/changepassword');highlightSBLink('immiview-profilechangepwd');submenuclick('')" [ngClass]="[checkForCurrentSBLink('immiview-profilechangepwd') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Change Password</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('profile/todo');highlightSBLink('immiview-profileTodo');submenuclick('')" [ngClass]="[checkForCurrentSBLink('immiview-profileTodo') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>TODO List</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('profile/switch');highlightSBLink('immiview-profileswitch');submenuclick('')" [ngClass]="[checkForCurrentSBLink('immiview-profileswitch') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Switch</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('profile/loginhistory');highlightSBLink('immiview-profileloginhis');submenuclick('')" [ngClass]="[checkForCurrentSBLink('immiview-profileloginhis') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Login History</span>
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav sidenavresize" *ngIf="sideBarMenu=='organization'">
        <li>
            <a (click)="appService.moveToPage('immigrationview/organization/details');highlightSBLink('Org Details');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Org Details') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Petitioner Details</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('immigrationview/organization/document-repository');highlightSBLink('Documents');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Documents') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Documents</span>
            </a>
        </li>
    </ul>

    <ul class="nav navbar-nav sidenavresize" *ngIf="sideBarMenu=='clientView-client'">
        <li>
            <a (click)="appService.moveToPage('clientview/client/details');highlightSBLink('ClientDetails');submenuclick('')" [ngClass]="[checkForCurrentSBLink('ClientDetails') ? 'active': '']" routerLinkActive="active">
                <span class="ico-client-details"></span>
                <span>Beneficiary Details</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('clientview/client/details/addressinfo');highlightSBLink('Address');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Address') ? 'active': '']" routerLinkActive="active">
                <span class="ico-address"></span>
                <span>Address</span>
            </a>
        </li>
        <li ngbDropdown class="dropdown">
            <a (click)="appService.moveToPage('clientview/client/details/dependents');highlightSBLink('Dependents');submenuclick('clientdependents')" [ngClass]="[checkForCurrentSBLink('Dependents') ? 'active': '']" ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown" id="clientView-dependents">
                <span class="ico-dependents"></span>
                <span>Dependents</span>
                <span class="ico-arrow"></span>
            </a>
            <ul class="listsidemenu" role="menu" aria-labelledby="dependents" name="dependents-list" ngDefaultControl *ngIf="appService.dependents&&clientdependents" [(ngModel)]="appService.dependents">
                <li *ngFor='let value of appService.dependents'><a (click)="appService.moveToPageWithParams('immigrationview/client/detail/dependentDetails',value.dependentId);highlightSBLink(value.firstName)" [ngClass]="[checkForCurrentSBLink(value.firstName) ? 'active': '']" routerLinkActive="active">{{value.firstName}}</a></li>
            </ul>
        </li>
        <li>
            <a (click)="appService.moveToPage('clientview/client/details/document-expirations');highlightSBLink('Documents Expirations');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Documents Expirations') ? 'active': '']" routerLinkActive="active">
                <span class="ico-documents-expirations"></span>
                <span>Document Expirations</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('clientview/client/details/passport-info');highlightSBLink('Passport Info');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Passport Info') ? 'active': '']" routerLinkActive="active">
                <span class="ico-passport-info"></span>
                <span>Passport Info</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('clientview/client/details/job-details');highlightSBLink('Job Details');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Job Details') ? 'active': '']" routerLinkActive="active">
                <span class="ico-job-details"></span>
                <span>Job Details</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('clientview/client/details/arrival-departure-info');highlightSBLink('Arrival Desparture Info');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Arrival Desparture Info') ? 'active': '']" routerLinkActive="active">
                <span class="ico-arrival-desparture-info"></span>
                <span>Arrival Departure Info</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('clientview/client/details/visas');highlightSBLink('Visas');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Visas') ? 'active': '']" routerLinkActive="active">
                <span class="ico-visas"></span>
                <span>Visas</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('clientview/client/details/I-797-history');highlightSBLink('I -797 History');submenuclick('')" [ngClass]="[checkForCurrentSBLink('I -797 History') ? 'active': '']" routerLinkActive="active">
                <span class="ico-history"></span>
                <span>I -797 History</span>
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav sidenavresize" *ngIf="sideBarMenu=='clientview-document'">
        <li *ngFor='let value of docsideBarMenu'>
            <a (click)="appService.selectedOrgClienttId=value.clientId;clientViewDocuments.selectedOrgId=value.orgId;appService.moveToPageWithParams('clientview/documents',value.clientId);highlightSBLink(value.orgName);submenuclick('')" [ngClass]="[checkForCurrentSBLink(value.orgName) ? 'active': '']" routerLinkActive="active">{{value.orgName}}</a>
        </li>

    </ul>
    <ul class="nav navbar-nav sidenavresize" *ngIf="sideBarMenu=='clientview-Questionnaire'">
        <li ngbDropdown class="dropdown">
            <a (click)="appService.moveToPage('clientview/questionnaries');highlightSBLink('Questionnaires');submenuclick('clientQuest')" [ngClass]="[checkForCurrentSBLink('Questionnaires') ? 'active': '']" ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown" id="clientView-questionnaires" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Questionnaires</span>
                <span class="ico-arrow"></span>
            </a>
            <ul class="listsidemenu" *ngIf="clientQuest" role="menu" aria-labelledby="clientView-questionnaires">

                <li *ngFor='let value of questionnaireCommonService.questionnaireList'><a (click)="questionnaireCommonService.moveToQuestionnaire(value);highlightSBLink(value.questionnaireId)" [ngClass]="[checkForCurrentSBLink(value.questionnaireId) ? 'active': '']" routerLinkActive="active">{{value.questionnaireName}}</a></li>
            </ul>
        </li>
    </ul>

    <ul class="nav navbar-nav sidenavresize" *ngIf="sideBarMenu=='superuserview/tab/accounts'">

        <li>
            <a (click)="appService.moveToPage('superuserview/account/details');highlightSBLink('Account Details');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Account Details') ? 'active': '']" routerLinkActive="active">
                <span class="ico-history"></span>
                <span>Account Details</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('superuserview/account/managers');highlightSBLink('Account Managers');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Account Managers') ? 'active': '']" routerLinkActive="active">
                <span class="ico-history"></span>
                <span>Account Managers</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('superuserview/account/preference');highlightSBLink('superuserview/account/preference');submenuclick('')" [ngClass]="[checkForCurrentSBLink('superuserview/account/preference') ? 'active': '']" routerLinkActive="active">
                <span class="ico-history"></span>
                <span>Account Preferences</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('superuserview/account/invoice');highlightSBLink('Account Details Invoices');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Account Details Invoices') ? 'active': '']" routerLinkActive="active">
                <span class="ico-history"></span>
                <span>Invoices</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('superuserview/account/payments');highlightSBLink('Payments');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Payments') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Payments</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('superuserview/account/mfd');highlightSBLink('superuserview/account/mfd');submenuclick('')" [ngClass]="[checkForCurrentSBLink('superuserview/account/mfd') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Mark For Deletion</span>
            </a>
        </li>
    </ul>

    <ul class="nav navbar-nav sidenavresize" *ngIf="sideBarMenu=='superuserview-product'">

        <li>
            <a (click)="appService.moveToPage('superuserview/productcatalog');highlightSBLink('Products');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Products') ? 'active': '']" routerLinkActive="active">
                <span class="ico-history"></span>
                <span>Products</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('superuserview/productcatalog/discounts');highlightSBLink('Discounts');submenuclick('')" [ngClass]="[checkForCurrentSBLink('Discounts') ? 'active': '']" routerLinkActive="active">
                <span class="ico-history"></span>
                <span>Discounts</span>
            </a>
        </li>
    </ul>
    <!--superuser reports-->
    <!--stats-->

    <ul class="nav navbar-nav sidenavresize" *ngIf="sideBarMenu=='superuser-reports'">
        <!--<li ngbDropdown class="dropdown">
            <a (click)="appService.moveToPage('superuserview/reports/stats/accounts');highlightSBLink('superuserview/reports/stats/accounts');superuserstatsclick()" [ngClass]="[checkForCurrentSBLink('superuserview/reports/stats/accounts') ? 'active': '']" routerLinkActive="active" ngbDropdownToggle class="dropdown-toggle" id="users" data-toggle="dropdown">
                <span class="ico-users"></span>
                <span>Stats</span>
                <span class="ico-arrow"></span>
            </a>
            <ul class="listsidemenu" *ngIf="superuserstats" role="menu" aria-labelledby="users" name="users" ngDefaultControl>
                <li>
                    <a (click)="appService.moveToPage('superuserview/reports/stats/accounts');highlightSBLink('superuserview/reports/stats/accounts')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/stats/accounts') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Accounts</span>
                    </a>
                </li>
                <li>
                    <a (click)="appService.moveToPage('superuserview/reports/stats/orgs');highlightSBLink('superuserview/reports/stats/orgs')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/stats/orgs') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Orgs</span>
                    </a>
                </li>
                <li>
                    <a (click)="appService.moveToPage('superuserview/reports/stats/clients');highlightSBLink('superuserview/reports/stats/clients')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/stats/clients') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Clients</span>
                    </a>
                </li>
                <li>
                    <a (click)="appService.moveToPage('superuserview/reports/stats/petitions');highlightSBLink('superuserview/reports/stats/petitions')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/stats/petitions') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Petitions</span>
                    </a>
                </li>
                <li>
                    <a (click)="appService.moveToPage('superuser-statsproducts');highlightSBLink('superuser-statsproducts')" [ngClass]="[checkForCurrentSBLink('superuser-statsproducts') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Products</span>
                    </a>
                </li>
            </ul>
        </li>-->
        <!--payments reports superuser-->

        <!--<li ngbDropdown class="dropdown">
            <a (click)="appService.moveToPage('superuserview/reports/payments/monthly');highlightSBLink('superuserview/reports/payments/monthly');superuserpaymentsclick()" [ngClass]="[checkForCurrentSBLink('superuserview/reports/payments/monthly') ? 'active': '']" routerLinkActive="active" ngbDropdownToggle class="dropdown-toggle" id="users" data-toggle="dropdown">
                <span class="ico-users"></span>
                <span>Payments</span>
                <span class="ico-arrow"></span>
            </a>
            <ul class="listsidemenu" *ngIf="superuserpayments" role="menu" aria-labelledby="users" name="users" ngDefaultControl>
                <li>
                    <a (click)="appService.moveToPage('superuserview/reports/payments/monthly');highlightSBLink('superuserview/reports/payments/monthly')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/payments/monthly') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Monthly</span>
                    </a>
                </li>
            </ul>
        </li>-->

        <!--petitionsreports superuser-->
        <li ngbDropdown class="dropdown">
            <a (click)="appService.moveToPage('superuserview/reports/petition/status');highlightSBLink('superuserview/reports/petition/status');submenuclick('superuserpetitions')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/petition/status') ? 'active': '']" routerLinkActive="active" ngbDropdownToggle class="dropdown-toggle" id="petreports" data-toggle="dropdown">
                <span class="ico-users"></span>
                <span>Petitions</span>
                <span class="ico-arrow"></span>
            </a>
            <ul class="listsidemenu" *ngIf="superuserpetitions" role="menu" aria-labelledby="users" name="users" ngDefaultControl>
                <li>
                    <a (click)="appService.moveToPage('superuserview/reports/petition/status');highlightSBLink('superuserview/reports/petition/status')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/petition/status') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Status</span>
                    </a>
                </li>
                <li ngbDropdown class="dropdown">
                    <a (click)="appService.moveToPage('superuserview/reports/petition/types');highlightSBLink('superuserview/reports/petition/types')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/petition/types') ? 'active': '']" routerLinkActive="active" ngbDropdownToggle class="dropdown-toggle" id="petiontypes" data-toggle="dropdown">
                        <span class="ico-flight"></span>
                        <span>Types</span>
                        <span class="ico-arrow"></span>
                    </a>


                </li>
                <li>
                    <a (click)="appService.moveToPage('superuserview/reports/petition/stage');highlightSBLink('superuserview/reports/petition/stage')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/petition/stage') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Stage</span>
                    </a>
                </li>
                <li>
                    <a (click)="appService.moveToPage('superuserview/reports/petitions/finalaction');highlightSBLink('superuserview/reports/petitions/finalaction')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/petitions/finalaction') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Final Action</span>
                    </a>
                </li>
                <li  ngbDropdown class="dropdown">
                    <a (click)="appService.moveToPage('superuser-timelinereports');highlightSBLink('superuser-timelinereports')" [ngClass]="[checkForCurrentSBLink('superuser-timelinereports') ? 'active': '']" routerLinkActive="active" ngbDropdownToggle class="dropdown-toggle" id="petiontimelinerep" data-toggle="dropdown">
                        <span class="ico-flight"></span>
                        <span>Timeline</span>
                        <span class="ico-arrow"></span>
                    </a>
                    <!--<ul class="listsidemenu" role="menu" aria-labelledby="users" name="users" ngDefaultControl>
                        <li>
                            <a (click)="appService.moveToPage('superuser-timelinereports');highlightSBLink('superuser-timelinereports')" [ngClass]="[checkForCurrentSBLink('superuser-timelinereports') ? 'active': '']" routerLinkActive="active">
                                <span class="ico-flight"></span>
                                <span>Created</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="appService.moveToPage('superuser-timelineapproved');highlightSBLink('superuser-timelineapproved')" [ngClass]="[checkForCurrentSBLink('superuser-timelineapproved') ? 'active': '']" routerLinkActive="active">
                                <span class="ico-flight"></span>
                                <span>Approved</span>
                            </a>
                        </li>
                    </ul>-->
                </li>
                <li>
                    <a (click)="appService.moveToPage('superuserview/reports/petition/tag');highlightSBLink('superuserview/reports/petition/tag')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/petition/tag') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Tag</span>
                    </a>
                </li>
            </ul>
        </li>

        <!--clients reports superuser-->
        <li ngbDropdown class="dropdown">
            <a (click)="appService.moveToPage('superuserview/reports/clients/status');highlightSBLink('superuserview/reports/clients/status');submenuclick('superuserclientreports')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/clients/status') ? 'active': '']" routerLinkActive="active" ngbDropdownToggle class="dropdown-toggle" id="users" data-toggle="dropdown">
                <span class="ico-users"></span>
                <span>Beneficiaries</span>
                <span class="ico-arrow"></span>
            </a>
            <ul class="listsidemenu" *ngIf="superuserclientreports" role="menu" aria-labelledby="users" name="users" ngDefaultControl>
                <li>
                    <a (click)="appService.moveToPage('superuserview/reports/clients/status');highlightSBLink('superuserview/reports/clients/status')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/clients/status') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Status</span>
                    </a>
                </li>
                <li>
                    <a (click)="appService.moveToPage('superuserview/reports/clients/created');highlightSBLink('superuserview/reports/clients/created')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/clients/created') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Created</span>
                    </a>
                </li>
                <li ngbDropdown class="dropdown">
                    <a (click)="appService.moveToPage('superuser-clientsprofile');highlightSBLink('superuser-clientsprofile')" [ngClass]="[checkForCurrentSBLink('superuser-clientsprofile') ? 'active': '']" routerLinkActive="active" ngbDropdownToggle class="dropdown-toggle" id="petiontimelinerep" data-toggle="dropdown">
                        <span class="ico-flight"></span>
                        <span>Profile</span>
                        <span class="ico-arrow"></span>
                    </a>
                    <ul class="listsidemenu" role="menu" aria-labelledby="users" name="users" ngDefaultControl>
                        <li>
                            <a (click)="appService.moveToPage('superuser-Genderreports');highlightSBLink('superuser-Genderreports')" [ngClass]="[checkForCurrentSBLink('superuser-Genderreports') ? 'active': '']" routerLinkActive="active">
                                <span class="ico-flight"></span>
                                <span>Gender</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="appService.moveToPage('superuser-CountryofBirth');highlightSBLink('superuser-CountryofBirth')" [ngClass]="[checkForCurrentSBLink('superuser-CountryofBirth') ? 'active': '']" routerLinkActive="active">
                                <span class="ico-flight"></span>
                                <span>Country of Birth</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <!--userreports superuser-->
        <li ngbDropdown class="dropdown">
            <a (click)="appService.moveToPage('superuserview/reports/users/petitions/total');highlightSBLink('superuserview/reports/users/petitions/total');;submenuclick('superuserpetitins')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/users/petitions/total') ? 'active': '']" routerLinkActive="active" ngbDropdownToggle class="dropdown-toggle" id="users" data-toggle="dropdown">
                <span class="ico-users"></span>
                <span>Users</span>
                <span class="ico-arrow"></span>
            </a>
            <ul class="listsidemenu" *ngIf="superuserpetitins" role="menu" aria-labelledby="users" name="users" ngDefaultControl>
                <li>
                    <a (click)="appService.moveToPage('superuserview/reports/users/petitions/total');highlightSBLink('superuserview/reports/users/petitions/total')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/users/petitions/total') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Total Petitions</span>
                    </a>
                </li>
                <li>
                    <a (click)="appService.moveToPage('superuserview/reports/users/petitions/open');highlightSBLink('superuserview/reports/users/petitions/open')" [ngClass]="[checkForCurrentSBLink('superuserview/reports/users/petitions/open') ? 'active': '']" routerLinkActive="active">
                        <span class="ico-flight"></span>
                        <span>Open petitions</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav sidenavresize" *ngIf="sideBarMenu=='superuserview/misc/demorequest'">
        <li>
            <a (click)="appService.moveToPage('superuserview/misc/demorequest');highlightSBLink('superuserview/misc/demorequest');submenuclick('')" [ngClass]="[checkForCurrentSBLink('superuserview/misc/demorequest') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Demo Request Details</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('superuserview/misc/superusers');highlightSBLink('superuserview/misc/superusers');submenuclick('')" [ngClass]="[checkForCurrentSBLink('superuserview/misc/superusers') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Super Users</span>
            </a>
        </li>

    </ul>
    <ul class="nav navbar-nav sidenavresize" *ngIf="sideBarMenu=='superuser-profuser'">
        <li>
            <a (click)="appService.moveToPage('superuser-profileuser');highlightSBLink('superuser-profileuser');submenuclick('')" [ngClass]="[checkForCurrentSBLink('superuser-profileuser') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>User</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('superuser-profilechangepwd');highlightSBLink('superuser-profilechangepwd');submenuclick('')" [ngClass]="[checkForCurrentSBLink('superuser-profilechangepwd') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Change Password</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('superuser-profileTodo');highlightSBLink('superuser-profileTodo');submenuclick('')" [ngClass]="[checkForCurrentSBLink('superuser-profileTodo') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>TODO List</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('superuser-profileswitch');highlightSBLink('superuser-profileswitch');submenuclick('')" [ngClass]="[checkForCurrentSBLink('superuser-profileswitch') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Switch</span>
            </a>
        </li>
        <li>
            <a (click)="appService.moveToPage('superuser-profileloginhis');highlightSBLink('superuser-profileloginhis');submenuclick('')" [ngClass]="[checkForCurrentSBLink('superuser-profileloginhis') ? 'active': '']" routerLinkActive="active">
                <span class="ico-flight"></span>
                <span>Login History</span>
            </a>
        </li>
    </ul>
</div>

</div>
