<div class="main-content" *ngIf="getUsers">
    <ul class="breadcrumb">
        <li><a href="#">Users</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2 class="headerinsections">Users</h2>
        <ih-smart-table class="manageaccUser newclass"
             [settings]="settings"
             [data]="data"
             [paginationData]="paginationData"
             (onAddClick)="addUser($event)"
             (onRowClick)="editRecord($event)"
             (onDeleteClick)="deleteRecord($event)"
             (dataWithQueryParams)="dataWithParameters($event)"></ih-smart-table>
        <div class="clearfix"></div>
    </div>
</div>
<div *ngIf="adduser">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5"><span class="redstar">*</span>First Name:</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="addUsers.firstName" (blur)="capitialize(addUsers)" class="form-control"></div>
                            <div class="col-md-5"><span class="redstar">*</span>Last Name:</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="addUsers.lastName" (blur)="capitialize(addUsers)" class="form-control"></div>
                            <div class="col-md-5"><span class="redstar">*</span>Email</div>
                            <div class="col-md-7">
                                <input type="text" [(ngModel)]="addUsers.emailId" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                       required #emailId="ngModel" class="form-control">
                            </div>
                            <div class="col-md-5">Phone</div>
                            <div class="col-md-7"><input type="text" [(ngModel)]="addUsers.phone" class="form-control"></div>
                            <div class="col-md-5"><span class="redstar">*</span>Role:</div>
                            <div class="col-md-7">
                                <select [(ngModel)]="addUsers.role" class="form-control" #roles>
                                    <option value="Immigration Officer">Immigration Officer</option>
                                    <option value="Immigration Manager">Immigration Admin</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row sfm" *ngIf="warningMessage">
                                    <div class="col-md-12">
                                        <span class="redstar">* Fields are Mandatory.</span>
                                    </div>
                                </div>
                                <div class="row sfm" [hidden]="emailId.valid || emailId.untouched">
                                    <div class="col-md-12">
                                        <div class="redstar" *ngIf="emailId.errors && emailId.errors.required">
                                            * Email is required
                                        </div>
                                        <div class="redstar" *ngIf="emailId.errors && emailId.errors.pattern">
                                            * Email is invalid
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div></div>
                                    <div class="col-md-6"> <button type="button" class="editbtn tbl-head-btn iportal-btnIMclient"
	style="color: #008000 !important;margin-top: 4px!important; width: 90%;margin-right: 11px;"  (click)="manageUserSave(emailId.errors,roles)">Save</button></div>
                                    <div class="col-md-6"> <button type="button" class="editbtn tbl-head-btn iportal-btnIMclient"
	style="color: #FF0000 !important;margin-left: 4px;width: 90%;margin-top: 4px!important;" (click)="cancel()">Cancel</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
