<div class="main-content">
  <!--<ul class="breadcrumb">
    <li><a href="#">Clients</a></li>
  </ul>
  <div class="clearfix"></div>-->
  <div class="table-data">
      <h1 _ngcontent-c8="" class="clickname">
          <img _ngcontent-c15="" src="../../../../assets/images/Profile.png" style="margin-bottom: 4px !important;height: 18px!important;">
          <span _ngcontent-c8="">{{accountDetailsCommonService.accountName}}</span>
      </h1>
      <div class="clearfix"></div>
    <h2 _ngcontent-c6="" class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Mark For Deletion</h2>

              <ih-smart-table [settings]="settings"
                              [data]="data"
                              [paginationData]="paginationData">

              </ih-smart-table>
</div>
</div>



