<div id='toTop' (click)="clicktogotop()"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
<div class="container-fluid no-pad">
        <div class="top-strip">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 no-pad"><img src="../../../../../assets/images/web/logo.png" class="logo img-responsive"><a (click)="onLoginClick()" class="login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    <div class="container">
            <div class="contact">
                <a href="mailto:info@theimmigrationhub.com" class="email"><img src="../../../../../assets/images/web/mail@2x.png">info@theimmigrationhub.com</a>
                <a href="#" class="phone"><img src="../../../../../assets/images/web/phone-call@2x.png">+1 732-666-2556</a>
                <nav class="navbar navbar-inverse navbar-static-top main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navitems">
                            <li><a (click)="appService.moveToPage('login')" [ngClass]="[appService.currentPage === 'login' ? 'active': '']">Home</a></li>
                            <li><a (click)="appService.moveToPage('website/other/immigration-services')" [ngClass]="[appService.currentPage === 'website/other/immigration-services' ? 'active': '']">Immigration Services</a></li>
                            <li><a (click)="appService.moveToPage('website/other/pricing')" [ngClass]="[appService.currentPage === 'website/other/pricing' ? 'active': '']">Pricing</a></li>
                            <li><a (click)="appService.moveToPage('website/other/aboutus')" [ngClass]="[appService.currentPage === 'website/other/aboutus' ? 'active': '']">About Us</a></li>
                            <li><a (click)="appService.moveToPage('website/other/features')" [ngClass]="[appService.currentPage === 'website/other/features' ? 'active': '']">Features</a></li>
                            <li><a (click)="appService.moveToPage('website/other/getintouch')" [ngClass]="[appService.currentPage === 'website/other/getintouch' ? 'active': '']">Get In Touch</a></li>
                            <li><a href="#" class="req-demo">Request Demo</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
    </div>
</div>

