<div class="main-content">
    <div class="table-data-forms">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 addresbox box-shadow">
                    <canvas id="myChart" baseChart responsive="true" maintainAspectRatio="false" height="200"
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                             chartType="horizontalBar"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
