<div class="main-content">
    <div>
        <ul class="breadcrumb">
            <li><a href="#">Mark For Deletion</a></li>
        </ul>
        <div class="clearfix"></div>
        <div class="table-data">
            <h2 class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">MFD History</h2>
            <ih-smart-table class="immiview-managAcctab-mfdhistory" [settings]="settings" [data]="data">
            </ih-smart-table>
            <div class="clearfix"></div>
        </div>
    </div>


</div>
