<div class="main-content" *ngIf="viewUsers">
    <!--<ul class="breadcrumb">
        <li><a href="#">Account Managers</a></li>
    </ul>
    <div class="clearfix"></div>-->
    <div class="table-data">
      <h1 _ngcontent-c8="" class="clickname">
          <img _ngcontent-c15="" src="../../../../assets/images/Profile.png" style="margin-bottom: 4px !important;height: 18px!important;">
        <span _ngcontent-c8="">{{accountDetailsCommonService.accountName}}</span>
      </h1>
      <div class="clearfix"></div>
      <h2 class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Account Manager</h2>
        <ih-smart-table class="superUserViewAccountManagers benadd" [settings]="settings"
                        [data]="data"
                        (onAddClick)="addFunction($event)"
                        (onRowClick)="editRecord($event)"
                        [paginationData]="paginationData">
        </ih-smart-table>
        <div class="clearfix"></div>
    </div>
</div>
<div *ngIf="addPopups">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" id="svActManagerClose" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">First Name:<span class="redstar">*</span></div>
                            <div class="col-md-8"><input type="text" maxlength="100" id="svActManagerFName" [(ngModel)]="addUsers.firstName" class="form-control"></div>
                            <div class="col-md-4">Last Name:<span class="redstar">*</span></div>
                            <div class="col-md-8"><input type="text" maxlength="100" id="svActManagerLName" [(ngModel)]="addUsers.lastName" class="form-control"></div>
                            <div class="col-md-4">Email:<span class="redstar">*</span></div>
                            <div class="col-md-8"><input type="text" maxlength="100" id="svActManagerEmail" [(ngModel)]="addUsers.emailId" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required #emailId="ngModel"></div>
                            <div class="col-md-4">Role:<span class="redstar">*</span></div>
                            <div class="col-md-8">
                                <select [(ngModel)]="addUsers.role" class="form-control">
                                    <option value="Immigration Officer" id="svActManagerImmOfficer">Immigration Officer</option>
                                    <option value="Immigration Manager" id="svActManagerImmMgr">Immigration Manager</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row sfm" *ngIf="warningMessage">
                                    <div class="col-md-12">
                                        <span class="redstar">* Fields are Mandatory.</span>
                                    </div>
                                </div>

                                <div class="row sfm" [hidden]="emailId.valid || emailId.untouched">
                                    <div class="col-md-12">
                                        <div class="redstar" *ngIf="emailId.errors && emailId.errors.required">
                                            * Email is required
                                        </div>
                                        <div class="redstar" *ngIf="emailId.errors && emailId.errors.pattern">
                                            * Email is invalid
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="editbtn tbl-head-btn iportal-btnIMclient"
                                                style="color: #008000 !important;margin-top: 4px!important; width: 100%;margin-right: 33%;" [ngClass]="{'loader': showWorkAddrSaveButtonProgress}" [disabled]="showWorkAddrSaveButtonProgress"
                                                 id="svActManagerSave" (click)="accountmanagersSave(emailId.errors)">
                                            Save
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="editbtn tbl-head-btn iportal-btnIMclient"
                                                style="color: #FF0000 !important;margin-left: 4px;width:100%;margin-top: 4px!important;" id="svActManagerCancel" (click)="cancel()">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
