<div class="main-content">
    <div class="table-data">
        <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <a *ngIf="appService.isImmigrationView()" (click)="gotoPrev()" class="prevbtn">Previous</a>
                    </div>
                    <div class="col-md-4 pagenoof36">Page 2 of 36</div>
                    <div class="col-md-4">
                      <a (click)="gotoNext()" class="nextbtn iportal-btnIMclient">Next</a>
                      <a *ngIf="isQuestionnaireEdit" (click)="cancelQuestinnaireEdit()" class="nextbtn iportal-btnIMclient" style="color: #FF0000 !important;">Cancel</a>
                      <a *ngIf="isQuestionnaireEdit" (click)="saveQuestionnaireInformation()" class="nextbtn iportal-btnIMclient" [ngClass]="{'loader': saveButtonProgress}" style="color: #008000 !important;">Save</a>
                      <a *ngIf="!isQuestionnaireEdit" (click)="editQuestinnaireForm()" class="nextbtn iportal-btnIMclient">Edit</a>
                    </div>
                </div>
            </div>
            <div *ngIf="appService.isImmigrationView()">
                <div class="col-md-12" style="border: 2px solid;background-color: #E0E0E0;margin-top: 5px;margin-bottom: 5px;">
                    <h2 style="margin-top: 7px!important;"> 2. Information About This Petition <span>(See instructions for fee information)</span></h2>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                            <div class="col-md-12" style="margin-top: 10px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-7" style="margin-left: -18px;"><p class="fieldsetheading">1. Requested Nonimmigrant Classification (Write classification symbol):</p>
                                        </div>
                                        <div class="col-md-5" style="margin-left: -35px;">
                                            <input class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.nonImmigrantClassification"/>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="fieldsetheading">2. Basis for Classification (select only one box): </p>
                                        <div class="col-md-12" *ngFor="let x of basicClassification">
                                            <input type="radio" name="basicClassification" [value]="x.value" [(disabled)]="!isQuestionnaireEdit" [(ngModel)]="page2.basicClassification"/>{{x.display}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="fieldsetheading">3. Provide the most recent petition/application receipt number for the beneficiary.
                                            If none exists, indicate "None."</p>
                                        <div class="col-md-6">
                                          <input class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.recentPetitionReceiptNo" />
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <p class="fieldsetheading">4. Requested Action (select only one box):</p>
                                <div class="col-md-12" *ngFor="let x of requestedAction">
                                    <input type="radio" name="requestedAction" [value]="x.value" [(disabled)]="!isQuestionnaireEdit" [(ngModel)]="page2.requestedAction">{{x.display}}
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-7">
                                            <p class="fieldsetheading"> 5. Total number of workers included in this petition. (See instructions relating to when more than one worker can be included.)</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.totalNumberOfWorkers" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="border: 2px solid;background-color: #E0E0E0;margin-top: 5px;margin-bottom: 5px;">
                <h2 style="margin-top: 7px!important;">3.&nbsp;Beneficiary Information <span>(Information about the beneficiary/beneficiaries you are filing for.  Complete the blocks below.  Use the Attachment-1 sheet to name each beneficiary included in this petition.)</span></h2>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="fieldsetheading">1. If an Entertainment Group, Provide the Group Name</p>
                                    <div class="col-md-12">
                                        <input class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.groupName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading">2. Provide Name of Beneficiary</p>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="familyNameLastname">Family Name (Last Name)</label>
                                    <input id="familyNameLastname" class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.lastName"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="givenNameFirstname1">Given Name (First Name)</label>
                                    <input id="givenNameFirstname1" class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.firstName"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="middleName1">Middle Name </label>
                                    <input id="middleName1" class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.middleName"/>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-12">
                            <p class="fieldsetheading">3. Provide all other names the beneficiary has used. Include nicknames, aliases, maiden name,
                                and names from all previous marriages </p>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="familynameLastname2">Family Name (Last Name)</label>
                                    <div>
                                        <input id="familynameLastname2" class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.otherLastName1"/>
                                    </div>
                                    <div>
                                        <input id="familynameLastname" class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.otherLastName2"/>
                                    </div>
                                    <div>
                                        <input id="familynameLastname" class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.otherLastName3"/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="givenNameFirstname">Given Name (First Name)</label>
                                    <div>
                                        <input id="givenNameFirstname" class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.otherFirstName1"/>
                                    </div>
                                    <div>
                                        <input class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.otherFirstName2" />
                                    </div>
                                    <div>
                                        <input class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.otherFirstName3" />
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="MiddleName">Middle Name </label>
                                    <div>
                                        <input id="MiddleName" class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.otherMiddleName1"/>
                                    </div>
                                    <div>
                                        <input class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.otherMiddleName2" />
                                    </div>
                                    <div>
                                        <input class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.otherMiddleName3" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <p class="fieldsetheading">4. Other Information</p>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="DOB">Date of birth (mm-dd-yyyy)</label>
                                    <div>
                                        <my-date-picker id="DOB" [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions" [(ngModel)]="page2.dateOfBirth"
                                            [selDate]="dateOfBirth"></my-date-picker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="label">Gender </label>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-6" *ngFor="let x of gender">
                                                <input id="label" type="radio" name="gender" [value]="x.value" [(disabled)]="!isQuestionnaireEdit" [(ngModel)]="page2.gender">{{x.display}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="USSSN">U.S.Social Security Number (if any)</label>
                                    <div>
                                        <input id="USSSN" class="form-control" type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page2.ssn" />
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            </div>
</div>
