<div class="main-content">
    <ul class="breadcrumb">
        <li><a href="#">Account Preferences</a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-data">
        <h2 class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Products</h2>
        <ih-smart-table class="immiview-managAcctab-accprefproducts" [settings]="settings" [data]="data"></ih-smart-table>
        <h2 class="headerinsections" style="margin-top: 50px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Discounts</h2>
        <ih-smart-table class="immiview-managAcctab-accprefdiscounts" [settings]="settings1" [data]="data1"></ih-smart-table>
    </div>
</div>
