$dateColumnWidth:110px;

/*ag-grid Table Styles*/
.ag-fresh .ag-root {
  border:none !important;
  /*border-radius: 5px;*/

}
.ag-fresh .ag-header {
  border-bottom: none !important; }

.ag-layout-normal .ag-header-row {
  background: #eaeaeb; }

.ag-fresh .ag-ltr .ag-header-cell {
  border-right:none !important;
     color: #3CADF9!important;
  font-size: 14px !important;
  font-weight:300;
  text-align: left;
     padding: 5px 5px 0px 20px;

  params-cell {
      span:first-child {
          margin-left:-5px;
          margin-right:-5px;
          padding:5px;
          border-bottom: 1px solid #e0e0e0 !important;
          margin-bottom:5px;
          width:calc(100% + 10px);
              display: block;
    margin: 0px !important;
    margin-left: -5px !important;
    margin-right: -5px !important;
    margin-bottom: 5px !important;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
      }
  }
}

.ag-fresh .ag-ltr .ag-cell-no-focus, .ag-fresh .ag-ltr .ag-cell-focus {
  padding: 9px 5px 8px 18px;
  /*border-right: 1px solid #e0e0e0 !important;*/
  /*border-bottom: 1px solid #e0e0e0 !important;*/
  outline: none;
  border: none;
}

.ag-fresh .ag-row-odd {
  background-color: #F6F7FA !important;
    border-radius: 10px;
}

.ag-fresh .ag-row-odd:hover {
  background: #232f3f !important;
  color:#fff !important;
}
  .ag-fresh .ag-body {
    background-color: #FFFFFF !important;}
.ag-fresh .ag-row-even {
     background-color: #F6F7FA !important;
  cursor: pointer;
    border-radius: 10px;
}

.ag-fresh .ag-row-even:hover {
  background: #232f3f !important;
  color:#fff !important;
}

.ag-layout-auto-height .ag-header-row {
  background: #fff !important;
  color:#000 !important;

}
.filterheading{
    float:left;
    padding: 2px 4px;
    font-size: 17px;
}
.customfilterinput {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 30px;
  padding-left:4px;
}

.addremovefilter {
  width: 30px;
  position: absolute;
  z-index: 10;
  top: 6px;
  right:23px; }
  .addremovefilter .close {
    float: right;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    color: red;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    cursor: pointer; }
  .addremovefilter .plus {
    float: right !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    /* line-height: 1; */
    color: #fff !important;
    /* text-shadow: 0 1px 0 #fff; */
    /* opacity: .8; */
    cursor: pointer !important;
    background: green !important;
    border-radius: 50% !important;
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
    padding: 1px 0 0 0 !important;

  }

.addedfilter {
  background: #5093e1 !important;
 padding: 0px 0px 3px 8px;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
  margin: 0px 7px 5px 0;
  float: left;
    .close{
    color: #fff;
    opacity: unset;
    font-size: 17px;
      }
}
.addedfilter .filtretype {
    font-weight: 600;
    margin-right: 5px;
}
.addedfilter .filtrename {
    margin-right: 5px;
}

.agridadd {
  margin-top:0px!important;
}

.itemsperpage {
  float: right;
  margin:0px; }

.modal-dialog {
  margin: 15% auto 0px auto; }
  .modal-dialog .modal-content {
    background: #32353e !important;
    border: solid 2px #000 !important;
    /*padding-bottom: 15px;*/ }
    .modal-dialog .modal-content .modal-header {
      display: block !important; }
      .modal-dialog .modal-content .modal-header .close {
        float: right;
        color: #e9eaec !important;
        text-shadow: none !important;
        opacity: 10 !important; }
      .modal-dialog .modal-content .modal-header .modal-title {
        float: left;
        color: #e9eaec;
        font-size: 18px;
        /* border-color: rgba(255, 255, 255, 0.2); */
        font-weight: 500;
        margin-bottom: 0px !important; }
    .modal-dialog .modal-content .modal-body {
      /*margin: 0px 15px;*/
      border-radius: 5px;
      background: #fff; }
      .modal-dialog .modal-content .modal-body .btn-primary, .modal-dialog .modal-content .modal-body .btn-default {
        background: #34a853 !important;
        width: 100%;
        border-radius: 5px;
        color: #fff;
        margin: 0px !important;
        padding: 6px 0px;
        border: none; }
      .modal-dialog .modal-content .modal-body .btn-default {
        background: #ea4335 !important; }

.ag-cell span.actions span.edit-delete .fileUpload {
  position: relative;
  overflow: hidden;
  margin: 0px;
  display: inline-block; }
  .ag-cell span.actions span.edit-delete .fileUpload i {
    font-size: 18px  !important;
    color: #2f323a !important; }
  .ag-cell span.actions span.edit-delete .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0; }

.ag-header-container, ag-header-row, .ag-body-container {
    width:100% !important;
    height:auto!important;
}
.ag-header-cell{
    font-weight: bold !important;
}
.ag-layout-auto-height .ag-header-row {
    width:100% !important;
}
.ag-layout-auto-height .ag-row {
  white-space: nowrap;
  position: relative;
  width: 100%;
        margin-bottom: 4px !important;
}
.agtblOptions {
    position:relative;
    .addandcount {
        position:absolute;
        right:0px;
        z-index:999;
    }
}

.ag-fresh .ag-paging-row-summary-panel {
    width: 20%;
    float: left;
    display:none !important;
}
.ag-paging-page-summary-panel {
        margin: 0px auto;
    width: 60% !important;
    text-align: center;
    float: left;
        display:none !important;

    .ag-paging-button {
    border: none;
    color: #fff;
    padding: 3px 15px;
    margin:0px 3px;
    border-radius: 5px;
    background:green;

    }
    .ag-paging-button[disabled] {
        background: #2f323a;
        opacity: 0.4;
        cursor:not-allowed;
        }
}
.ag-fresh .ag-ltr .ag-cell {

        .fileUpload {
            position: relative;
            overflow: hidden;
            margin: 0px 0px 0px 10px;
        }
        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;

            filter: alpha(opacity=0);
        }
}



.manageaccUser {
    .ag-fresh .ag-ltr .ag-header-cell[title~="Actions"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
        width:7.5% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="firstName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="firstName"] {
        width:18.5% !important;
        left:7.5% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="lastName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="lastName"] {
        width:18.5% !important;
        left:26% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="emailId"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="emailId"] {
        width:18.5% !important;
        left:44.5% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="phoneNumber"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="phoneNumber"] {
        width:18.5% !important;
        left:63% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="roleName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="roleName"] {
        width:19% !important;
        left:81% !important;
    }
}
.immiviewSwitchTable {
  .ag-fresh .ag-ltr .ag-header-cell[title~="Role Name"], .ag-fresh .ag-ltr .ag-cell-value[col-id="roleName"] {
    width: 40% !important;
    left: 0px !important;
  }

  .ag-fresh .ag-ltr .ag-header-cell[title="Account Name"], .ag-fresh .ag-ltr .ag-cell-value[col-id="accountName"] {
    width: 40% !important;
    left: 40% !important;
  }

  .ag-fresh .ag-ltr .ag-header-cell[title="Switch"], .ag-fresh .ag-ltr .ag-cell-value[col-id="0"] {
    width: 20% !important;
    left: 80% !important;
  }

  .ag-fresh .ag-row-even:hover {
    background: #F6F7FA !important;
    color: black !important;
  }

  .ag-fresh .ag-row-odd:hover {
    background: #F6F7FA !important;
    color: black !important;
  }
}
.petitionslistTbl {
    .ag-fresh .ag-ltr .ag-header-cell[title~="Actions"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
    width:10% !important;
    left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="petitionName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="petitionName"] {
      width:8% !important;
      left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="petitionNumber"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="petitionNumber"] {
      width:8% !important;
      left:8% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="firstName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="firstName"] {
      width: 12% !important;
    left: 17% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="lastName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="lastName"] {
      width:10% !important;
      left:27% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="petitionType"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="petitionType"] {
      width:5% !important;
      left:36% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="lastUpdate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="lastUpdate"] {
      width:$dateColumnWidth !important;
      width:10% !important;
      left:42%!important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="status"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="status"] {
      width:6% !important;
      left:-webkit-calc(53% + #{$dateColumnWidth}) !important;
      left:-moz-calc(53% + #{$dateColumnWidth}) !important;
      left:calc(53% + #{$dateColumnWidth}) !important;
      left:calc(53%+ #{$dateColumnWidth});
      left:51%!important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="finalStatus"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="finalStatus"] {
      width:9% !important;
      left:-webkit-calc(58% + #{$dateColumnWidth}) !important;
      left:-moz-calc(58% + #{$dateColumnWidth}) !important;
      left:calc(58% + #{$dateColumnWidth}) !important;
      left:57% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="assignedToName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="assignedToName"] {
      width:9% !important;
      left:-webkit-calc(64% + #{$dateColumnWidth}) !important;
      left:-moz-calc(64% + #{$dateColumnWidth}) !important;
      left:calc(64% + #{$dateColumnWidth}) !important;
      left:65% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="petitionStage"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="petitionStage"] {
      width:10% !important;
      left:-webkit-calc(71% + #{$dateColumnWidth}) !important;
      left:-moz-calc(71% + #{$dateColumnWidth}) !important;
      left:calc(71% + #{$dateColumnWidth}) !important;
      left:74% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="daysInStage"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="daysInStage"] {
      width:6% !important;
      left:-webkit-calc(83% + #{$dateColumnWidth}) !important;
      left:-moz-calc(83% + #{$dateColumnWidth}) !important;
      left:calc(83% + #{$dateColumnWidth}) !important;
        left:84% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="tag"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="tag"] {
      width:9% !important;
      left:-webkit-calc(88% + #{$dateColumnWidth}) !important;
      left:-moz-calc(88% + #{$dateColumnWidth}) !important;
      left:calc(88% + #{$dateColumnWidth}) !important;
      left:90% !important;
    }
}
.petitionslistTbl .ag-fresh .ag-ltr .ag-header-cell[col-id~="daysInStage"]{
    width: 7% !important;
    left: 82% !important;
    text-align: center;
}

/*.immiview-ques-client {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
    width:4% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="formName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="formName"] {
        width:15% !important;
        left:4% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="1"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="1"] {
        width:6% !important;
        left:19% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="questionnaireName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="questionnaireName"] {
        width:53% !important;
        left:25% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="clientStatus"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="clientStatus"] {
        width:5% !important;
        left:78% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="sentToClient"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="sentToClient"] {
        width:10% !important;
        left:83% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="clientStatusDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="clientStatusDate"] {
        width:7% !important;
        left:93% !important;
    }

 }*/

/*.immiview-ques-emp {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
    width:4% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="questionnaireName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="questionnaireName"] {
        width:60% !important;
        left:4% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="formName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="formName"] {
        width:20% !important;
        left:64% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="employerStatus"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="employerStatus"] {
        width:8% !important;
        left:84% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="employerStatusDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="employerStatusDate"] {
        width:8% !important;
        left:92% !important;
    }
 }*/
/*.immiview-formstbl {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="formName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="formName"] {
    width:15% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="questionnaireName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="questionnaireName"] {
        width:30% !important;
        left:15% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
        width:12% !important;
        left:45% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="fileName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="fileName"] {
        width:20% !important;
        left:57% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="fileCreationDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="fileCreationDate"] {
        width:11% !important;
        left:77% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="1"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="1"] {
        width:12% !important;
        left:88% !important;
    }
 }*/

/*.immiview-petition-docrepo, .clientViewDocRepo, .immiview-clienttab-docrepo, .immiview-orgtab-docrepo {
    .edit-delete {
        i {
            margin:0px 5px !important;
        }
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
    width:8% !important;
    left:0% !important;
    min-width:100px !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="orderNo"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="orderNo"] {
        width:5% !important;
        left:8% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="fileName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="fileName"] {
        width:77% !important;
        left:13% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="updatedDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="updatedDate"] {
        width:10% !important;
        left:90% !important;
    }
 }*/
.immiviewClientsTable {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="firstName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="firstName"] {
      width: 10% !important;
      left: 0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="lastName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="lastName"] {
      width: 10% !important;
      left: 17% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="email"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="email"] {
      width: 25%!important;
      left: 30% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="phone"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="phone"] {
      width:10% !important;
      left: 55% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="status"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="status"] {
      width:7% !important;
      left: 70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="lastUpdate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="lastUpdate"] {
      width:10% !important;
      left: 77% !important;
    }
   .ag-fresh .ag-ltr .ag-header-cell[col-id~="openPetitions"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="openPetitions"] {
      width: 7% !important;
      left: 89% !important;
      text-align: center;
    }
 }
/*.immiview-clienttab-dependents {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
    width:4% !important;
    left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="firstName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="firstName"] {
    width:30% !important;
    left:4% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="middleName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="middleName"] {
    width:25% !important;
    left:34% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="lastName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="lastName"] {
    width:25% !important;
    left:59% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="relation"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="relation"] {
    width:16% !important;
    left:84% !important;
    }
}*/
/*.clientViewPetitions {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="petitionName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="petitionName"] {
    width:15% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="petitionType"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="petitionType"] {
        width:10% !important;
        left:15% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="organization"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="organization"] {
        width:15% !important;
        left:25% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="status"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="status"] {
        width:10% !important;
        left:40% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="petitionStage"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="petitionStage"] {
        width:10% !important;
        left:50% !important;
    }
   .ag-fresh .ag-ltr .ag-header-cell[col-id~="startDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="startDate"] {
        width:10% !important;
        left:60% !important;
    }
   .ag-fresh .ag-ltr .ag-header-cell[col-id~="lastUpdate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="lastUpdate"] {
        width:10% !important;
        left:70% !important;
    }
   .ag-fresh .ag-ltr .ag-header-cell[col-id~="recieptNumber"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="recieptNumber"] {
        width:10% !important;
        left:80% !important;
    }
   .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
        width:10% !important;
        left:90% !important;
    }
 }*/

/*.clientViewQuestionnnaires {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="formName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="formName"] {
    width:25% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="questionnaireName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="questionnaireName"] {
        width:25% !important;
        left:25% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="orgName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="orgName"] {
        width:25% !important;
        left:50% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="clientStatus"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="clientStatus"] {
        width:13% !important;
        left:75% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="clientStatusDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="clientStatusDate"] {
        width:12% !important;
        left:88% !important;
    }
 }*/
/*.clientViewRequests {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="id"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="id"] {
    width:5% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="requestType"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="requestType"] {
        width:10% !important;
        left:5% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="message"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="message"] {
        width:65% !important;
        left:15% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
        width:20% !important;
        left:80% !important;
    }
 }*/
.superUserViewAccounts {
  .ag-fresh .ag-ltr .ag-header-cell[col-id~="accountName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="accountName"] {
    width: 15% !important;
    left: 0% !important;
  }

  .ag-fresh .ag-ltr .ag-header-cell[col-id~="accountNumber"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="accountNumber"] {
    width: 11% !important;
    left: 13% !important;
  }

  .ag-fresh .ag-ltr .ag-header-cell[col-id~="firstName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="firstName"] {
    width: 8% !important;
    left: 22% !important;
  }

  .ag-fresh .ag-ltr .ag-header-cell[col-id~="lastName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="lastName"] {
    width: 8% !important;
    left: 29% !important;
  }

  .ag-fresh .ag-ltr .ag-header-cell[col-id~="email"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="email"] {
    width: 15% !important;
    left: 36% !important;
  }

  .ag-fresh .ag-ltr .ag-header-cell[col-id~="phone"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="phone"] {
    width: 10% !important;
    left: 50% !important;
  }

  .ag-fresh .ag-ltr .ag-header-cell[col-id~="status"] {
    width: 6% !important;
    left: 58% !important;
  }

  .ag-fresh .ag-ltr .ag-cell-value[col-id~="status"] {
    width: 6% !important;
    left: 58.8% !important;
  }

  .ag-fresh .ag-ltr .ag-header-cell[col-id~="organizatinCount"] {
    width: 5% !important;
    left: 63% !important;
  }

  .ag-fresh .ag-ltr .ag-cell-value[col-id~="organizatinCount"] {
    width: 5% !important;
    left: 64% !important;
  }

  .ag-fresh .ag-ltr .ag-header-cell[col-id~="clientCount"] {
    width: 8% !important;
    left: 67% !important;
  }

  .ag-fresh .ag-ltr .ag-cell-value[col-id~="clientCount"] {
    width: 5% !important;
    left: 69% !important;
  }

  .ag-fresh .ag-ltr .ag-header-cell[col-id~="petitionCount"] {
    width: 8% !important;
    left: 72% !important;
  }

  .ag-fresh .ag-ltr .ag-cell-value[col-id~="petitionCount"] {
    width: 5% !important;
    left: 74% !important;
  }

  .ag-fresh .ag-ltr .ag-header-cell[col-id~="creationOn"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="creationOn"] {
    width: 10% !important;
    left: 78% !important;
  }

  .ag-fresh .ag-ltr .ag-header-cell[col-id~="lastPaymentStatus"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="lastPaymentStatus"] {
    width: 8% !important;
    left: 85% !important;
  }

  .ag-fresh .ag-ltr .ag-header-cell[col-id~="storageType"] {
    width: 9% !important;
    left: 91% !important;
  }
  .ag-fresh .ag-ltr .ag-cell-value[col-id~="storageType"] {
    width: 9% !important;
    left: 93% !important;
  }
}
.superUserViewAccountManagers {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
    width:10% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="firstName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="firstName"] {
        width:25% !important;
        left:10% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="lastName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="lastName"] {
        width:25% !important;
        left:35% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="emailId"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="emailId"] {
        width:20% !important;
        left:60% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="roleName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="roleName"] {
        width:20% !important;
        left:80% !important;
    }
 }
.superUserViewaccprefProducts {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productCatalog.productName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productCatalog.productName"] {
    width:10% !important;
    left:0% !important;
}
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productCatalog.productCode"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productCatalog.productCode"] {
        width:10% !important;
        left:10% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productCatalog.productDesc"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productCatalog.productDesc"] {
       width:10% !important;
        left:20% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="startDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="startDate"] {
        width:10% !important;
        left:30% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="endDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="endDate"] {
      width:10% !important;
        left:40% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productCatalog.maxUsers"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productCatalog.maxUsers"] {
       width:10% !important;
        left:50% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productCatalog.maxClients"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productCatalog.maxClients"] {
        width:10% !important;
        left:60% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productCatalog.maxPetitions"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productCatalog.maxPetitions"] {
        width:10% !important;
        left:70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productCatalog.maxS3Storage"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productCatalog.maxS3Storage"] {
        width:10% !important;
        left:80% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productCatalog.cost"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productCatalog.cost"] {
        width:10% !important;
        left:90% !important;
    }
 }


.superUserViewaccprefDiscounts {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="discountCatalog.discountName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="discountCatalog.discountName"] {
        width:25% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="discountCatalog.discountCode"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="discountCatalog.discountCode"] {
        width:10% !important;
        left:25% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="discountCatalog.discountDesc"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="discountCatalog.discountDesc"] {
       width:25% !important;
        left:35% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="startDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="startDate"] {
        width:10% !important;
        left:60% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="endDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="endDate"] {
      width:10% !important;
        left:70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="discountCatalog.cost"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="discountCatalog.cost"] {
        width:10% !important;
        left:80% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="discountCatalog.discountPercentage"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="discountCatalog.discountPercentage"] {
        width:10% !important;
        left:90% !important;
    }
 }


.superUserViewaccPayments {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="paymentId"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="paymentId"] {
        width:25% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="invoiceNumber"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="invoiceNumber"] {
        width:10% !important;
        left:25% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="invoiceDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="invoiceDate"] {
       width:10% !important;
        left:35% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="invoiceAmount"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="invoiceAmount"] {
        width:10% !important;
        left:45% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="transactionId"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="transactionId"] {
      width:10% !important;
        left:55% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="paymentDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="paymentDate"] {
        width:10% !important;
        left:65% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="paymentAmount"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="paymentAmount"] {
        width:10% !important;
        left:75% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="paymentStatus"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="paymentStatus"] {
        width:15% !important;
        left:85% !important;
    }

 }

.superUserViewaccInvoices {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="invoiceNumber"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="invoiceNumber"] {
        width:25% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="invoiceDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="invoiceDate"] {
        width:15% !important;
        left:25% !important;
    }

    .ag-fresh .ag-ltr .ag-header-cell[col-id~="invoiceAmount"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="invoiceAmount"] {
        width:15% !important;
        left:40% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="paymentRecieved"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="paymentRecieved"] {
      width:10% !important;
        left:55% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
        width:25% !important;
        left:65% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="1"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="1"] {
        width:10% !important;
        left:90% !important;
    }
 }
.acctabprodcatProducts {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="name"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="name"] {
        width:12% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="code"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="code"] {
        width:8% !important;
        left:12% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="maxUsers"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="maxUsers"] {
        width:8% !important;
        left:20% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="maxOrgs"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="maxOrgs"] {
        width:8% !important;
        left:28% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="maxClientsPerMonth"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="maxClientsPerMonth"] {
      width:10% !important;
        left:36% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="maxPetitionsPerMonth"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="maxPetitionsPerMonth"] {
        width:10% !important;
        left:46% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="maxS3Storage"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="maxS3Storage"] {
        width:10% !important;
        left:56% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="cost"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="cost"] {
        width:8% !important;
        left:66% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productType"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productType"] {
        width:8% !important;
        left:74% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="status"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="status"] {
        width:8% !important;
        left:82% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="startDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="startDate"] {
        width:10% !important;
        left:90% !important;
    }
 }


.superuserViewPaymentstab {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="paymentId"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="paymentId"] {
        width:25% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="accountName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="accountName"] {
        width:15% !important;
        left:25% !important;
    }

    .ag-fresh .ag-ltr .ag-header-cell[col-id~="accountNumber"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="accountNumber"] {
        width:10% !important;
        left:40% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="invoiceNumber"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="invoiceNumber"] {
      width:10% !important;
        left:50% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="invoiceDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="invoiceDate"] {
        width:10% !important;
        left:60% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="invoiceAmount"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="invoiceAmount"] {
        width:10% !important;
        left:70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="paymentStatus"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="paymentStatus"] {
        width:10% !important;
        left:80% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="paymentDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="paymentDate"] {
        width:10% !important;
        left:90% !important;
    }
 }
.immiview-clienttab-petitions {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="petitionName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="petitionName"] {
        width:12% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="petitionType"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="petitionType"] {
        width:10% !important;
        left:12% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="petitionSubType"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="petitionSubType"] {
        width:10% !important;
        left:21% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="stage"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="stage"] {
      width:15% !important;
      left:29% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="status"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="status"] {
      width:10% !important;
      left:42% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="finalAction"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="finalAction"] {
      width: 11% !important;
    left: 50% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="assignedToName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="assignedToName"] {
      width: 12% !important;
    left: 62% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="createdOn"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="createdOn"] {
            width: 11% !important;
    left: 74% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="lastUpdate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="lastUpdate"] {
        width: 12% !important;
    left: 86% !important;
    }
}
.immiview-clienttab-docexp {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
        width:5% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="documentType"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="documentType"] {
        width:65% !important;
        left:5% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="validFrom"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="validFrom"] {
        width:10% !important;
        left:70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="validTo"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="validTo"] {
        width:10% !important;
        left:80% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="status"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="status"] {
        width:10% !important;
        left:90% !important;
    }
}
/*.immiview-clienttab-arr-dep-info, .clientview-clientdetailtab-arr-dep-info {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
        width:5% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="departureDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="departureDate"] {
        width:10% !important;
        left:5% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="departureCountry"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="departureCountry"] {
        width:28% !important;
        left:15% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="arrivalDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="arrivalDate"] {
        width:10% !important;
        left:43% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="arrivalCountry"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="arrivalCountry"] {
        width:27% !important;
        left:53% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="visaType"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="visaType"] {
        width:10% !important;
        left:80% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="i94"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="i94"] {
        width:10% !important;
        left:90% !important;
    }
}*/
/*.immiview-clienttab-visas, .clientview-clientdetailtab-visas {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
        width:5% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="country"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="country"] {
        width:40% !important;
        left:5% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="petitionNumber"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="petitionNumber"] {
        width:15% !important;
        left:45% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="visaNumber"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="visaNumber"] {
        width:10% !important;
        left:60% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="visaType"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="visaType"] {
        width:10% !important;
        left:70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="issuedOn"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="issuedOn"] {
        width:10% !important;
        left:80% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="expiresOn"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="expiresOn"] {
        width:10% !important;
        left:90% !important;
    }
}*/
/*.immiview-clienttab-i797history {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
        width:5% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="receiptNumber"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="receiptNumber"] {
        width:20% !important;
        left:5% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="status"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="status"] {
        width:15% !important;
        left:25% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="receiptDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="receiptDate"] {
        width:15% !important;
        left:40% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="approvedOn"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="approvedOn"] {
        width:15% !important;
        left:55% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="validFrom"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="validFrom"] {
        width:15% !important;
        left:70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="validTill"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="validTill"] {
        width:15% !important;
        left:85% !important;
    }
}*/

/*.immiview-managAcctab-orgs {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="orgName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="orgName"] {
    width:40% !important;
    left:0% !important;
}.ag-fresh .ag-ltr .ag-header-cell[col-id~="displayName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="displayName"] {
    width:10% !important;
    left:40% !important;
}.ag-fresh .ag-ltr .ag-header-cell[col-id~="orgType"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="orgType"] {
    width:10% !important;
    left:50% !important;
}.ag-fresh .ag-ltr .ag-header-cell[col-id~="orgStatus"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="orgStatus"] {
    width:10% !important;
    left:60% !important;
}.ag-fresh .ag-ltr .ag-header-cell[col-id~="email"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="email"] {
    width:30% !important;
    left:70% !important;
}
    }*/

.immiview-managAcctab-shippingaddress {
    .ag-fresh{
        margin-top: -27px !important;
    }
    /*.ag-row{
       height: 5em !important;
    }*/
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
      width:5% !important;
      left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="slNo"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="slNo"] {
      width:7% !important;
      left:5% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="addressName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="addressName"] {
      width:30% !important;
      left:16% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="address"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="address"] {
      width: 40% !important;
      left: 46% !important;
    }
}

.immiview-managAcctab-accprefproducts {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productCatalog.productName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productCatalog.productName"] {
      width:10% !important;
      left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productCatalog.productCode"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productCatalog.productCode"] {
      width:10% !important;
      left:10% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productCatalog.productDesc"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productCatalog.productDesc"] {
      width:10% !important;
      left:20% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="startDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="startDate"] {
      width:10% !important;
      left:30% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="endDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="endDate"] {
      width:10% !important;
      left:40% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productCatalog.maxUsers"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productCatalog.maxUsers"] {
      width:10% !important;
      left:50% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productCatalog.maxClients"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productCatalog.maxClients"] {
      width:10% !important;
      left:60% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productCatalog.maxPetitions"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productCatalog.maxPetitions"] {
      width:10% !important;
      left:70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productCatalog.maxS3Storage"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productCatalog.maxS3Storage"] {
      width:10% !important;
      left:80% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="productCatalog.cost"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="productCatalog.cost"] {
      width:10% !important;
      left:90% !important;
    }
}
.immiview-managAcctab-accprefdiscounts {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="discountCatalog.discountName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="discountCatalog.discountName"] {
      width:25% !important;
      left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="discountCatalog.discountCode"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="discountCatalog.discountCode"] {
      width:10% !important;
      left:25% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="discountCatalog.discountDesc"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="discountCatalog.discountDesc"] {
      width:25% !important;
      left:35% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="startDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="startDate"] {
      width:10% !important;
      left:60% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="endDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="endDate"] {
      width:10% !important;
      left:70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="discountCatalog.cost"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="discountCatalog.cost"] {
      width:10% !important;
      left:80% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="discountCatalog.discountPercentage"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="discountCatalog.discountPercentage"] {
      width:10% !important;
      left:90% !important;
    }
}
/*.immiview-managAcctab-invoices {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="invoiceNumber"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="invoiceNumber"] {
    width:20% !important;
    left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="invoiceDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="invoiceDate"] {
    width:10% !important;
    left:20% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="invoiceAmount"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="invoiceAmount"] {
    width:10% !important;
    left:30% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="paymentReceived"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="paymentReceived"] {
    width:10% !important;
    left:40% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="pdfUploaded"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="pdfUploaded"] {
    width:40% !important;
    left:50% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
    width:10% !important;
    left:90% !important;
    }
}*/
 /*.immiview-managAcctab-payments {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="paymentId"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="paymentId"] {
    width:30% !important;
    left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="invoiceNumber"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="invoiceNumber"] {
    width:10% !important;
    left:30% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="invoiceDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="invoiceDate"] {
    width:10% !important;
    left:40% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="invoiceAmount"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="invoiceAmount"] {
    width:10% !important;
    left:50% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="transactionId"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="transactionId"] {
    width:10% !important;
    left:60% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="paymentDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="paymentDate"] {
    width:10% !important;
    left:70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="paymentAmount"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="paymentAmount"] {
    width:10% !important;
    left:80% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="paymentStatus"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="paymentStatus"] {
    width:10% !important;
    left:90% !important;
    }

}*/
 /*.immiview-managAcctab-mfdhistory {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="entityName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="entityName"] {
    width:15% !important;
    left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="entityType"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="entityType"] {
    width:10% !important;
    left:15% !important;
    }
   .ag-fresh .ag-ltr .ag-header-cell[col-id~="orgName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="orgName"] {
     width:10% !important;
     left:25% !important;
   }
   .ag-fresh .ag-ltr .ag-header-cell[col-id~="firstName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="firstName"] {
     width:10% !important;
     left:35% !important;
   }
   .ag-fresh .ag-ltr .ag-header-cell[col-id~="petitionName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="petitionName"] {
     width:10% !important;
     left:45% !important;
   }

    .ag-fresh .ag-ltr .ag-header-cell[col-id~="markedForDeletionDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="markedForDeletionDate"] {
    width:10% !important;
    left:55% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="deletionDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="deletionDate"] {
    width:10% !important;
    left:65% !important;
    }
   .ag-fresh .ag-ltr .ag-header-cell[col-id~="deletedByUser"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="deletedByUser"] {
     width:25% !important;
     left:75% !important;
   }

}*/
 /*.clientview-clientdetailtab-dependents {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
    width:5% !important;
    left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="firstName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="firstName"] {
    width:25% !important;
    left:5% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="middleName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="middleName"] {
    width:25% !important;
    left:30% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="lastName"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="lastName"] {
    width:25% !important;
    left:55% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="relation"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="relation"] {
    width:20% !important;
    left:80% !important;
    }

}*/
 /*.clientview-clientdetailtab-docexp {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
    width:10% !important;
    left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="documentType"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="documentType"] {
    width:60% !important;
    left:10% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="validFrom"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="validFrom"] {
    width:10% !important;
    left:70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="validTo"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="validTo"] {
    width:10% !important;
    left:80% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="status"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="status"] {
    width:10% !important;
    left:90% !important;
    }

}*/
 .clientview-clientdetailtab-i797history {
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="0"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="0"] {
        width:5% !important;
        left:0% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="receiptNumber"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="receiptNumber"] {
        width:20% !important;
        left:5% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="receiptDate"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="receiptDate"] {
        width:15% !important;
        left:25% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="status"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="status"] {
        width:15% !important;
        left:40% !important;
    }

    .ag-fresh .ag-ltr .ag-header-cell[col-id~="approvedOn"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="approvedOn"] {
        width:15% !important;
        left:55% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="validFrom"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="validFrom"] {
        width:15% !important;
        left:70% !important;
    }
    .ag-fresh .ag-ltr .ag-header-cell[col-id~="validTill"], .ag-fresh .ag-ltr .ag-cell-value[col-id~="validTill"] {
        width:15% !important;
        left:85% !important;
    }

 }
    .myclass {
    border: none;
    background: darkgray;
    color: #d4d4d4 !important;
    border-radius: 5px;
   padding: 6px 12px;

    }

