<div class="main-content">
  <div class="table-data">
    <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
    <h1 style="float:right;">{{appService.petitionDetails}}</h1>
    <div class="clearfix"></div>-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <a (click)="gotoPrev()" class="prevbtn">Previous</a>
          </div>
          <div class="col-md-4 pagenoof36">Page 5 of 36</div>
          <div class="col-md-4">
            <a (click)="gotoNext()" class="nextbtn iportal-btnIMclient">Next</a>
            <a *ngIf="isQuestionnaireEdit" (click)="cancelQuestinnaireEdit()" class="nextbtn iportal-btnIMclient" style="color: #FF0000 !important;">Cancel</a>
            <a *ngIf="isQuestionnaireEdit" (click)="saveQuestionnaireInformation()" [ngClass]="{'loader': saveButtonProgress}" class="nextbtn iportal-btnIMclient" style="color: #008000 !important;">Save</a>
            <a *ngIf="!isQuestionnaireEdit" (click)="editQuestinnaireForm()" class="nextbtn iportal-btnIMclient">Edit</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 Questionnaireheader">
        <h2>5. Basic Information About the Proposed Employment and Employer</h2>
      </div>
      <div class="row">
      </div>
      <div class="col-md-12">
        <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
            <div class="col-md-12" style="margin-bottom:15px;margin-top: 10px;"><b>3.</b>&nbsp;Address where the beneficiary(ies) will work if different
              from address in <b>Part 1.</b>
            </div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-6">Street Number and Name</div>
                        <div class="col-md-6"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page5.address.street" /></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3" *ngFor="let x of aptType">
                                   {{x.display}} <input type="radio" name="aptType" [disabled]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page5.address.aptType"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">Number</div>
                        <div class="col-md-6"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page5.address.houseNumber" /></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-5">City or Town</div>
                        <div class="col-md-7"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page5.address.city" /></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4">State</div>
                        <div class="col-md-8">
                            <select [disabled]="!isQuestionnaireEdit" [(ngModel)]="page5.address.state">
                                <option [value]="address.name" *ngFor="let address of states">{{address.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3">ZIP Code</div>
                        <div class="col-md-9"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page5.address.zipCode" /></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8"><b>4.</b>&nbsp;Did you include an itinerary with the petition?</div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6" *ngFor="let x of questions">
                  <input type="radio" name="aptType1" [disabled]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page5.itineraryIncluded"/>{{x.display}}
                </div>
              </div>
            </div>
            <div class="col-md-8"><b>5.</b>&nbsp;Will the beneficiary(ies) work for you off-site at anothercompany or organization's
              location?
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6" *ngFor="let x of questions">
                  <input type="radio" name="aptType2" [disabled]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page5.workingInAnotherOrg"/>{{x.display}}
                </div>
              </div>
            </div>
            <div class="col-md-8"><b>6.</b>&nbsp;Will the beneficiary(ies) work exclusively in the Commonwealth of the Northern Mariana
              Islands (CNMI)?
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6" *ngFor="let x of questions">
                  <input type="radio" name="workInCNMI" [disabled]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page5.workInCNMI"/>{{x.display}}
                </div>
              </div>
            </div>
            <div class="col-md-8"><b>7.</b>&nbsp;Is this a full-time position?</div>
            <div class="col-md-4">
              <div class="row">

                <div class="col-md-6" *ngFor="let x of questions">
                  <input type="radio" name="fullTimePosition" [disabled]="!isQuestionnaireEdit" [value]="x.value" [(ngModel)]="page5.fullTimePosition"/>{{x.display}}
                </div>
              </div>
            </div>
            <div class="col-md-8"><b>8.</b>&nbsp;If the answer to <b>Item Number 7.</b> is no, how many hours per week for the position?</div>
            <div class="col-md-2"><input type="text" name="hoursPerWeek"[disabled]="!isQuestionnaireEdit" [(ngModel)]="page5.hoursPerWeek"/></div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-3"><b>9.</b>&nbsp;Wages:&nbsp;&nbsp;<b>$</b></div>
                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page5.wages"/></div>
              </div>
            </div>
            <div class="col-md-8">
                <div class="col-md-6">Per (Specifi hour, week, month or year)</div>
                <div class="col-md-6"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page5.wagesUnit"/></div>
            </div>
            <div class="col-md-12">
              <b>10.</b>&nbsp;Other Compensation (Explain)
              <div class="row">
                <div class="col-md-12"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page5.otherCompensations"/></div>
              </div>
            </div>
            <div class="col-md-3"><b>11.</b>&nbsp;Dates of intended employment</div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-5">From: (mm-dd-yyyy)</div>
                <div class="col-md-7">
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions"
                                  [(ngModel)]="page5.intendentEmploymentFrom"
                                  [selDate]="intendentEmploymentFrom"></my-date-picker>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-5">To: (mm-dd-yyyy)</div>
                <div class="col-md-7">
                  <my-date-picker [disabled]="!isQuestionnaireEdit" [options]="myDatePickerOptions"
                                  [(ngModel)]="page5.intendentEmploymentTo"
                                  [selDate]="intendentEmploymentTo"></my-date-picker>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-3"><b>12.</b>&nbsp;Type of Business</div>
                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page5.typeOfBusiness"/></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-4"><b>13.</b>&nbsp;Year Established</div>
                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page5.yearEstablished"/></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4"><b>14.</b>&nbsp;Current Number of Employees in the United States</div>
                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page5.currentNoOfEmployeesInUSA"/></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4"><b>15.</b>&nbsp;Gross Annual Income</div>
                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page5.grossAnnualIncome"/></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4"><b>16.</b>&nbsp;Net Annual Income</div>
                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page5.netAnnualIncome"/></div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-12 Questionnaireheader">
        <h2>6.&nbsp;Certification Regarding the Release of Controlled Technology or Technical Data to Foreign Persons in the
          United States</h2>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
            <div class="col-md-12" style="margin-top: 10px;">
              <p>(This section of the form is required only for H-1B, H-1B1 Chile/Singapore, L-1, and O-1A petitions.
                It is not required for any other classifications. Please review the Form I-129 General Filing
                Instructions before completing this section.)</p>
              <p><b>Select Item Number 1. or Item Number 2. as appropriate. DO NOT select both boxes.</b></p>
              <p>With respect to the technology or technical data the petitioner will release or otherwise provide
                access to the beneficiary, the petitioner certifies that it has reviewed the Export Administration
                Regulations (EAR) and the International Traffic in Arms Regulations (ITAR) and has determined
                that: </p>
              <div class="row">
                <div class="col-md-12" style="padding-left:50px; margin-bottom:15px;">
                  <b>1.</b>&nbsp;<input type="radio" name="licenseRequiredOrNot" [disabled]="!isQuestionnaireEdit" value="Y"
                                        [(ngModel)]="page5.licenseRequiredOrNot"> A license
                  is not required from either the U.S. Department of Commerce or the U.S. Department of
                  State to release such technology or technical data to the foreign person; or
               </div>
                <div class="col-md-12" style="padding-left:50px; margin-bottom:15px;">
                  <b>2.</b>&nbsp;<input type="radio" name="licenseRequiredOrNot" [disabled]="!isQuestionnaireEdit" value="N"
                         [(ngModel)]="page5.licenseRequiredOrNot"> A license
                  is required from the U.S. Department of Commerce and/or the U.S. Department of State
                  to release such technology or technical data to the beneficiary and the petitioner will
                  prevent access to the controlled technology or technical data by the beneficiary until
                  and unless the petitioner has received the required license or other authorization to
                  release it to the beneficiary.
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>
