<!--<div class="main-content">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--&lt;!&ndash;<div class="col-md-6" style="margin-bottom:10px;" *ngFor="let org of orgsNames">&ndash;&gt;-->
                <!--<canvas baseChart responsive="true" maintainAspectRatio="false" height="200"-->
                        <!--[datasets]="barChartData"-->
                        <!--[labels]="barChartLabels"-->
                        <!--[options]="barChartOptions"-->
                        <!--[legend]="barChartLegend"-->
                        <!--[chartType]="barChartType"-->
                        <!--(chartHover)="chartHovered($event)"-->
                        <!--(chartClick)="chartClicked($event)"></canvas>-->
          <!--&lt;!&ndash;old comment start&ndash;&gt;-->
                <!--&lt;!&ndash;<span style="color:white;">{{org}}</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;old comment end&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
