<div class="main-content" *ngIf="getDependents">

        <div class="table-data">
            <h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">
                <img style="margin-bottom: 4px !important;" src="../../../../assets/images/Group984.png" />&nbsp;&nbsp;&nbsp;<span>{{appService.clientfirstName}} {{appService.clientlastName}}</span></h1>
            <div class="clearfix"></div>
            <h2 class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;">Dependents</h2>
            <ih-smart-table class="immiview-clienttab-dependents benadd" [settings]="settings" [data]="data"
                         (onAddClick)="addNewDependents($event)" (onRowClick)="editRecord($event)" (onDeleteClick)="deleteRecord($event)"></ih-smart-table>
            <div class="clearfix"></div>
        </div>


</div>
<div *ngIf="addDependnts">
    <div class="modal-dialog" ngDraggable>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="close()" id="ivClientDtlsdepClose">&times;</button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">First Name:<span class="redstar">*</span></div>
                            <div class="col-md-7"><input type="text" id="ivClientDtlsdepFName" [(ngModel)]="addDependents.firstName" [ngClass]="addDependents.firstName == '' ? 'redborder': ''" class="form-control"></div>
                            <div class="col-md-5">Middle Name:</div>
                            <div class="col-md-7"><input type="text" id="ivClientDtlsdepMName" [(ngModel)]="addDependents.middleName" class="form-control"></div>
                            <div class="col-md-5">Last Name:<span class="redstar">*</span></div>
                            <div class="col-md-7"><input type="text" id="ivClientDtlsdepLName" [(ngModel)]="addDependents.lastName" [ngClass]="addDependents.lastName == '' ? 'redborder': ''" class="form-control"></div>
                            <div class="col-md-5">Relation:<span class="redstar">*</span></div>
                            <div class="col-md-7"><input type="text" id="ivClientDtlsdepRel" [(ngModel)]="addDependents.relation" [ngClass]="addDependents.relation == '' ? 'redborder': ''" class="form-control"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row sfm" *ngIf="warningMessage">
                                    <div class="col-md-12">
                                        <span class="redstar">* Fields are Mandatory.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6"><button type="button" class="editbtn tbl-head-btn iportal-btnIMclient" 
	style="color: #008000 !important;margin-top: 4px!important; width: 90%; margin-right: 11px;"  id="ivClientDtlsdepSave" [ngClass]="{'loader': showWorkAddrSaveButtonProgress}" [disabled]="showWorkAddrSaveButtonProgress" (click)="dependentSave()">Save</button></div>
                                    <div class="col-md-6"><button type="button" class="editbtn tbl-head-btn iportal-btnIMclient" 
	style="color: #FF0000 !important;margin-left: 4px;width: 90%;margin-top: 4px!important;" id="ivClientDtlsdepCancel" (click)="cancel()">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>
