<div class="main-content" *ngIf="getClientsData">
  <!--<ul class="breadcrumb">
    <li><a href="#">Clients</a></li>
  </ul>
  <div class="clearfix"></div>-->
  <div class="pagetitleandfilters">
    <div class="mainContainer">
      <h2>Invoices</h2>
      <div class="table-data">
        <ih-smart-table [settings]="settings" [data]="data"
                        (onRowClick)="moveToInvoiceTab($event)"
                        (dataWithQueryParams)="dataWithParameters($event)"
                        [paginationData]="paginationData">
        </ih-smart-table>
      </div>
      </div>
    </div>
    </div>



