<!DOCTYPE html>
<html>
<head>
    <title>The Immigration Hub</title>

    <style>
        .inputfield input{
        background-color: black !important;
        }
        .ReqHeader{
            color: #CACACA;
            margin-bottom: 40px;
            margin-top: 45px;
            margin-left: 16px;
        }
        .form-control{
            border-radius:3px!important;
        }
    </style>
</head>
<body>
        <div class="container-fluid no-pad">
            <ih-website-header></ih-website-header>
                <div id="myCarousel" class="carousel slide">
                    <ol class="carousel-indicators top-carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active" contenteditable="false"></li>
                        <li data-target="#myCarousel" data-slide-to="1" class="" contenteditable="false"></li>
                        <li data-target="#myCarousel" data-slide-to="2" class="" contenteditable="false"></li>
                        <li data-target="#myCarousel" data-slide-to="3" class="" contenteditable="false"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item  active" style="">
                            <div class="slide1">
                                <div class="container">
                                        <div class="col-md-8 col-sm-7 col-xs-12 pull-right no-pad">
                                            <img src="../../../../../assets/images/web/wb-main-slider1.png" class="pull-right img-responsive innot">
                                        </div>
                                        <div class="col-md-4 col-sm-5 col-xs-12 no-pad sidcnt">
                                            <h1>Integrating Immigration and IT </h1>
                                            <p>IT in Immigration is an Impressive Flagship Killer</p>
                                            <div class="row">
                                                <div class="col-md-1 col-sm-1 col-xs-1 show768"></div>
                                                <div class="col-md-5 col-sm-5 col-xs-5">
                                                    <button class="ourservice">get started now</button>
                                                </div>
                                                <div class="col-md-5 col-sm-5 col-xs-5">

                                                </div>
                                                <div class="col-md-1 col-sm-1 col-xs-1 show768"></div>
                                                <div class="col-md-2 hide768"></div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <div class="item" style="">
                            <div class="slide2">
                                <div class="container">
                                    <div class="col-md-7 col-sm-7 col-xs-12 pull-right" style="margin: 36px 0px 0px 0 !important;">
                                        <img src="../../../../../assets/images/web/banner2.png" class="pull-right img-responsive innot">
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-12 no-pad sidcnt">
                                        <h1>Never miss your updates with instant Notifications</h1>
                                        <p>Obtain your every status through IH updates</p>
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-1 show768"></div>
                                            <!--<div class="col-md-5 col-sm-5 col-xs-5">
                                                    <button class="ourservice">get started now</button>
                                             </div>-->
                                            <div class="col-md-5 col-sm-5 col-xs-5">

                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-1 show768"></div>
                                            <div class="col-md-2 hide768"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item" style="">
                            <div class="slide4">
                                <div class="container">
                                        <div class="col-md-8 col-sm-7 col-xs-12 pull-right">
                                            <img src="../../../../../assets/images/web/banner4.jpg" class="pull-right img-responsive innot">
                                        </div>
                                        <div class="col-md-4 col-sm-5 col-xs-12 no-pad sidcnt">
                                            <h1>Preserve your loads of data at minimal cost</h1>
                                            <p>Manage and maintain your Data through low-cost and encrypted cloud storage options</p>
                                            <div class="row">
                                                <div class="col-md-1 col-sm-1 col-xs-1 show768"></div>
                                                <!--<div class="col-md-5 col-sm-5 col-xs-5">
                                                    <button class="ourservice">get started now</button>
                                                </div>-->
                                                <div class="col-md-5 col-sm-5 col-xs-5">

                                                </div>
                                                <div class="col-md-1 col-sm-1 col-xs-1 show768"></div>
                                                <div class="col-md-2 hide768"></div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <div class="item" style="">
                            <div class="slide5">
                                <div class="container">
                                        <div class="col-md-8 col-sm-7 col-xs-12 pull-right">
                                            <img src="../../../../../assets/images/web/banner5.png" class="pull-right img-responsive innot">
                                        </div>
                                        <div class="col-md-4 col-sm-5 col-xs-12 no-pad sidcnt">
                                            <h1>Never Bother With IT</h1>
                                            <p>Delivers high available and performant tool with totally managed cloud infrastructure.</p>
                                            <div class="row">
                                                <div class="col-md-1 col-sm-1 col-xs-1 show768"></div>
                                                <!--<div class="col-md-5 col-sm-5 col-xs-5">
                                                    <button class="ourservice">get started now</button>
                                                </div>-->
                                                <div class="col-md-5 col-sm-5 col-xs-5">

                                                </div>
                                                <div class="col-md-1 col-sm-1 col-xs-1 show768"></div>
                                                <div class="col-md-2 hide768"></div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control main-slider" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                    <a class="right carousel-control main-slider" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="section-heading">
                            Why to Choose Immigration Hub
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="businessgrowth">
                            <div class="blackpatch">
                                <img src="../../../../../assets/images/web/Group-5@2x.png">
                                <h3>Business Growth</h3>
                                <p>Chase your vision with IH, Our statistics display you that how sound we are over the year... Use the untapped service and boost up your profit graph.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="sustainability">
                            <div class="blackpatch">
                                <img src="../../../../../assets/images/web/portfolio-black-symbol@2x.png">
                                <h3>Sustainability</h3>
                                <p>Incorporate new Trends allows us to build long term value for clients. Our unique insights clear your difficulties that hasn't been cleared for a while.  </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="performance">
                            <div class="blackpatch">
                                <img src="../../../../../assets/images/web/internet@2x.png">
                                <h3>Performance</h3>
                                <p>Establishing /Building strong foundation on customer trust and satisfaction makes us execute our results in excellence.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="section-heading">
                            Our Features
                        </h1>
                        <p class="ourfeaturescnt">Our below unique features are designed and implemented with focus on Customer Empowerment and ease to leverage the state of the art Immigration Software to provide a smooth and hassle-free process.
</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 ourfeatures" (click)="appService.moveToPage('website/other/faqs')">
                        <img src="../../../../assets/images/web/database@2x.png" class="featurimgs">
                        <h3>Docs Storage</h3>
                        <p>No storage restrictions....upload all you want to store. A strong well-thought out document management...</p>
                        <a>Read More</a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 ourfeatures" (click)="appService.moveToPage('website/other/faqs')">
                        <img src="../../../../assets/images/web/chat@2x.png" class="featurimgs">
                        <h3>Client Web Portal</h3>
                        <p>Stop relying on phone and email to communicate with clients. IH client web portal allows your clients...</p>
                        <a>Read More</a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 ourfeatures" (click)="appService.moveToPage('website/other/faqs')">
                        <img src="../../../../assets/images/web/phone@2x.png" class="featurimgs">
                        <h3>Online Forms  Questionnaries</h3>
                        <p>IH has smart questionnaires to make client intake faster and easier. Questionnaires are available for many processes...</p>
                        <a>Read More</a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 ourfeatures" (click)="appService.moveToPage('website/other/faqs')">
                        <img src="../../../../assets/images/web/Group-26@2x.png" class="featurimgs">
                        <h3>Instant Notifications</h3>
                        <p>Give your clients flexible and a rich experience with your alerts and notifications. Get engage your clients with regular...</p>
                        <a>Read More</a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 ourfeatures" (click)="appService.moveToPage('website/other/faqs')">
                        <img src="../../../../assets/images/web/Group-27@2x.png" class="featurimgs">
                        <h3>Easy Understand Reports</h3>
                        <p>IH allows you to produce reports in real time and enables you to analyze and act. Stay organized and easily access...</p>
                        <a>Read More</a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 ourfeatures" (click)="appService.moveToPage('website/other/faqs')">
                        <img src="../../../../assets/images/web/cloud@2x.png" class="featurimgs">
                        <h3>Saas Application</h3>
                        <p>Get a high level of personalization by using SaaS application. The multi-tenant architecture enables you...</p>
                        <a>Read More</a>
                    </div>
                </div>
            </div>
                <div class="video-strip">
                    <div class="container">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 videotxt">
                                <a href="#" class="playbtn"></a>
                                <h2>Check Our Intro Video</h2>
                                <p>We are looking for an expert/senior Full-Stack developer. The main technologies that we are using are angular</p>
                                <button type="submit">Watch Video</button>
                            </div>
                            <div class="col-md-4"></div>
                    </div>
                </div>
            <div class="container">
                <div class="row">
                    <div class="immi-software">
                        Immigration Software <br>
                        <span>Where Design meets your requirements</span>
                    </div>
                    <div class="col-md-8">
                        <img src="../../../../../assets/images/web/immi-portal-app.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-4 projdisc">
                        <h4>Immigration Hub</h4>
                        <p>Immigration software is the most advanced integrated solution for Immigrationlaw firms and corporations. it doesn't get any easier than this. Immigration Hub's friendly user interface:</p>
                        <ul>
                            <li>Compatable with most devices</li>
                            <li>Compatable with most common browsers</li>
                            <li>no components to install</li>
                            <li>Designed Beautifully</li>
                            <li>powerful functionality</li>
                        </ul>
                    </div>
                </div>
            </div>
                <div class="col-md-6 img50"></div>
                <div class="col-md-6 color50">
                        <!--<div class="col-md-2"></div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="">-->
                                <!--<span class="form-title" style="color: #CACACA;">
                                    I would Like to Discuss
                                </span>
                                <div class="clear"></div>-->
                                <!--<div class="row">

                                    <div class="col-md-6">
                                        <input style="background-color: #000000 !important;color: #7F7F7F !important;" type="text" placeholder="Name" >
                                    </div>
                                    <div class="col-md-6">
                                        <input style="background-color: #000000 !important;color: #7F7F7F !important;"type="text" placeholder="Mobile">
                                    </div>
                                    <div class="col-md-12">
                                        <input style="background-color: #000000 !important;color: #7F7F7F !important;" type="text" placeholder="Organization" >
                                    </div>
                                    <div class="col-md-12">
                                        <input style="background-color: #000000 !important;color: #7F7F7F !important;" type="text" placeholder="Email" >
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit">Submit a Request</button>
                                    </div>
                                </div>-->
                                <div class="col-md-12 inputfield">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <h3 class="ReqHeader">I would Like to Discuss</h3>
                                        <div class="form-group col-md-6">
                                            <input placeholder="Name" class="form-control" [(ngModel)]="submitRequest['name']" id="srName" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input placeholder="Mobile Number" class="form-control" [(ngModel)]="submitRequest['phone']" id="srPhone" />
                                        </div>
                                        <div class="form-group col-md-12">
                                            <input placeholder="Organization" class="form-control" id="srOrganization" [(ngModel)]="submitRequest['organization']" />
                                        </div>
                                        <div class="form-group col-md-12">
                                            <input type="email" placeholder="Email Address" class="form-control" id="srEmail" [(ngModel)]="submitRequest['email']" />
                                        </div>
                                        <div class="form-group col-md-12">
                                            <textarea class="form-control" placeholder="comment" style="background-color: black !important;" id="comment" [(ngModel)]="submitRequest['comments']"></textarea>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="submitRequestClick()">Submit a Request</button>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                        </div>

                <!--</div>
            </div>-->

          <ih-website-footer></ih-website-footer>

            </div>
</body>
</html>
