<div class="main-content">
    <div class="table-data-forms">
        <h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">
            <img style="margin-bottom: 4px !important;" src="../../../../assets/images/Group984.png" />&nbsp;&nbsp;&nbsp;
        <span>{{appService.clientfirstName}} {{appService.clientlastName}}</span></h1>
        <h1 style="float:right;">{{petitionInformation.name}}</h1>
        <div class="clearfix"></div>
        <h2 class="headerinsections" style="margin-top: 0px !important;color: #4EA0F9 !important;margin-bottom: 7px!important;margin: 0px 0 0 0 !important;">Petition Details
            <button type="submit" value="Save" class="btn iportal-btnIMclient pull-right" style="margin-top: -5px !important;" (click)="sendCheckList()">Send Checklist</button>
        </h2>
        <div class="col-md-6 col-sm-6 col-xs-12 no-pad-left" style="margin-top: 12px !important;">
          <div class="col-md-12 addresbox box-shadow">
            <div class="row">
              <div class="col-sm-12">
                <h2>Petition Information</h2>
                <button type="submit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" (click)="onEditPetitionInfoClick()" *ngIf="isPetitionInformationEdit==true">Edit</button>
                <div class="tbl-head-btn" [hidden]="isPetitionInformationEdit">
                  <button type="button" (click)="onCancelPetitionInfoClick()" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="isPetitionInformationEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important; width: 65px;" [ngClass]="{'loader': showPetitionInfoSaveButtonProgress}" [disabled]="showPetitionInfoSaveButtonProgress" (click)="onSavePetitionInfoClick()" *ngIf="isPetitionInformationEdit==false">Save</button>
                </div>
              </div>
            </div>
            <div class="row sfm" *ngIf="sfmpi">
              <div class="col-md-12">
                <span class="redstar">* Fields are Mandatory.</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Name <span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <input  maxlength="100" type="text" [disabled]="isPetitionInformationEdit" [(ngModel)]="petitionInformation.name" [ngClass]="petitionInformation.name == '' ? 'redborder': ''" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiontype">Petition Type </label></div>
              <div class="col-md-8">
                <input type="text"  maxlength="100" [disabled]="true" [(ngModel)]="petitionInformation.petitionType"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondesubtype">Petition Sub Type</label></div>
              <div class="col-md-8">
                <input type="text"  maxlength="100" [disabled]="true" [(ngModel)]="petitionInformation.petitionSubType"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Description</label></div>
              <div class="col-md-8">
                <input  type="text" maxlength="255" [disabled]="isPetitionInformationEdit" [(ngModel)]="petitionInformation.description" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">File Number</label></div>
              <div class="col-md-8">
                <input  type="text" maxlength="100" [disabled]="true" [(ngModel)]="petitionInformation.fileNumber"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitionstatus">Status <span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <select  [disabled]="isPetitionInformationEdit" [(ngModel)]="petitionInformation.status" [ngClass]="petitionInformation.status == '' ? 'redborder': ''" (change)="onPetitionStatusChange($event)">
                  <option *ngFor="let petitionStatus of status">{{petitionStatus.name}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitioncurrentstage">Tag</label></div>
              <div class="col-md-8">
                <input  type="text" maxlength="100" [disabled]="isPetitionInformationEdit" [(ngModel)]="petitionInformation.tag" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondenieddate">Current Stage <span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <select  [disabled]="isPetitionInformationEdit" [(ngModel)]="petitionInformation.currentStageId" [ngClass]="petitionInformation.currentStageId == '' ? 'redborder': ''">
                  <option *ngFor="let petitionStage of petitionStages;" [value]="petitionStage.stageId">{{petitionStage.name}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitionwithdrawndate">Days in Stage</label></div>
              <div class="col-md-8">
                <input  type="text" maxlength="100" [disabled]="true" [(ngModel)]="petitionInformation.daysInStage"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-createdby">Next Stage</label></div>
              <div class="col-md-8">
                <input  maxlength="100" type="text" [disabled]="true" [(ngModel)]="petitionInformation.nextStage"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-createdby">Final Action</label></div>
              <div class="col-md-8">
                <select  [disabled]="isPetitionInformationEdit" [(ngModel)]="petitionInformation.finalStatus" [ngClass]="petitionInformation.finalStatus == '' ? 'redborder': ''">
                  <option *ngFor="let petitionFinalStatus of finalStatus">{{petitionFinalStatus.name}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-lastupdatedby">Denied Date</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isPetitionInformationEdit" [options]="datePickerOptions" [(ngModel)]="petitionInformation.deniedDate" [selDate]="deniedDate"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-lastupdatedby">Withdrawn Date</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isPetitionInformationEdit" [options]="datePickerOptions" [(ngModel)]="petitionInformation.withdrawDate" [selDate]="withdrawDate"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-lastupdatedby">Rejected Date</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isPetitionInformationEdit" [options]="datePickerOptions" [(ngModel)]="petitionInformation.rejectedDate" [selDate]="rejectedDate"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-lastupdatedby">Assigned To <span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <select  [disabled]="isPetitionInformationEdit" [(ngModel)]="petitionInformation.assignedTo" [ngClass]="petitionInformation.assignedTo == '' ? 'redborder': ''">
                  <option *ngFor="let user of appService.usersList;" [value]="user.emailId">{{user.firstName}}, {{user.lastName}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-lastupdatedby">Created By</label></div>
              <div class="col-md-8">
                <input  maxlength="100" type="text" [disabled]="true" [(ngModel)]="petitionInformation.createdByUserOn"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-lastupdatedby">Last Updated By</label></div>
              <div class="col-md-8">
                <input  maxlength="100" type="text" [disabled]="true" [(ngModel)]="petitionInformation.lastUpdatedByUserOn"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-markfordeletion">Mark for Deletion <span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <select  [disabled]="isPetitionInformationEdit" [(ngModel)]="petitionInformation.markForDeletion">
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-markfordeletiondetailsbyuser">Mark For Deletion details</label></div>
              <div class="col-md-8">
                <input  maxlength="100" type="text" [disabled]="true" [(ngModel)]="petitionInformation.deletedByUserOn"/>
              </div>
            </div>
            <div class="row sfm" *ngIf="sfmpi">
              <div class="col-md-12">
                <span class="redstar">* Fields are Mandatory.</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="tbl-head-btn" [hidden]="isPetitionInformationEdit">
                  <button type="button" (click)="onCancelPetitionInfoClick()" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-top: 4px!important;margin-left: 4px;" *ngIf="isPetitionInformationEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="margin-top: 4px!important;color: #008000 !important; width: 65px;" [ngClass]="{'loader': showPetitionInfoSaveButtonProgress}" [disabled]="showPetitionInfoSaveButtonProgress" (click)="onSavePetitionInfoClick()" *ngIf="isPetitionInformationEdit==false">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 12px !important;">
          <div class="col-md-12 addresbox box-shadow">
            <div class="row">
              <div class="col-md-12">
                <h2>Receipt Information</h2>
                <button type="submit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" (click)="onEditReceiptInfoClick()" *ngIf="isReceiptInfoEdit==true">Edit</button>
                <div class="tbl-head-btn" [hidden]="isReceiptInfoEdit">
                  <button type="button" (click)="onCancelReceiptInfoClick()" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="isReceiptInfoEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important; width: 65px;" [ngClass]="{'loader': showReceiptInfoSaveButtonProgress}" [disabled]="showReceiptInfoSaveButtonProgress" (click)="onSaveReceiptInfoClick()" *ngIf="isReceiptInfoEdit==false">Save</button>
                </div>
              </div>
            </div>
            <div class="row sfm" *ngIf="sfmRI">
              <div class="col-md-12">
                <span class="redstar">* Fields are Mandatory.</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Receipt Number</label></div>
              <div class="col-md-8">
                <input  maxlength="15" type="text" [disabled]="isReceiptInfoEdit" [(ngModel)]="receiptInfo.receiptNumber" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Receipt Date</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isReceiptInfoEdit" [options]="datePickerOptions" [(ngModel)]="receiptInfo.receiptDate" [selDate]="receiptDate"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Approved On</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isReceiptInfoEdit" [options]="datePickerOptions" [(ngModel)]="receiptInfo.approvedOn" [selDate]="approvedOn"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Valid From</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isReceiptInfoEdit" [options]="datePickerOptions" [(ngModel)]="receiptInfo.validFrom" [selDate]="validFrom"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Expires On</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isReceiptInfoEdit" [options]="datePickerOptions" [(ngModel)]="receiptInfo.expiresOn" [selDate]="expiresOn"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Sent to Gov. Agency On</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isReceiptInfoEdit" [options]="datePickerOptions" [(ngModel)]="receiptInfo.approvalReceivedOn" [selDate]="approvalReceivedOn"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Comments</label></div>
              <div class="col-md-8">
                <input  maxlength="255" type="text" [disabled]="isReceiptInfoEdit" [(ngModel)]="receiptInfo.comments" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Approval Received</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isReceiptInfoEdit" [options]="datePickerOptions" [(ngModel)]="receiptInfo.sentToGovAgencyOn" [selDate]="sentToGovAgencyOn"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Show Receipt # to Client<span class="redstar">*</span></label></div>
              <div class="col-md-8">
                <select  [disabled]="isReceiptInfoEdit" [(ngModel)]="receiptInfo.showReceiptNumberToClient" [ngClass]="receiptInfo.showReceiptNumberToClient == 1 || 2 ? '': 'redborder'">
                  <option *ngFor="let receiptnumber of receiptNumber;" [value]="receiptnumber.value">{{receiptnumber.name}}</option>
                </select>
              </div>
            </div>
            <div class="row sfm" *ngIf="sfmRI">
              <div class="col-md-12">
                <span class="redstar">* Fields are Mandatory.</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="tbl-head-btn" [hidden]="isReceiptInfoEdit">
                  <button type="button" (click)="onCancelReceiptInfoClick()" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-top: 4px!important;margin-left: 4px;" *ngIf="isReceiptInfoEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="margin-top: 4px!important;color: #008000 !important; width: 65px;" [ngClass]="{'loader': showReceiptInfoSaveButtonProgress}" [disabled]="showReceiptInfoSaveButtonProgress" (click)="onSaveReceiptInfoClick()" *ngIf="isReceiptInfoEdit==false">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="col-md-12 addresbox box-shadow" style="margin-top: 20px;">
            <div class="row">
              <div class="col-md-12">
                <h2>Additional Details</h2>
                <button type="submit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" (click)="onEditAdditionalDetailsClick()" *ngIf="isAdditionalDetailsEdit==true">Edit</button>
                <div class="tbl-head-btn" [hidden]="isAdditionalDetailsEdit">
                  <button type="button" (click)="onCancelAdditionalDetailsClick()" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="isAdditionalDetailsEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important; width: 65px;" [ngClass]="{'loader': showAdditionalInfoSaveButtonProgress}" [disabled]="showAdditionalInfoSaveButtonProgress" (click)="onSaveAdditionalDetailsClick()" *ngIf="isAdditionalDetailsEdit==false">Save</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Shipping Date</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isAdditionalDetailsEdit" [options]="datePickerOptions" [(ngModel)]="petitionAdditionalDetails.shippingDate" [selDate]="shippingDate"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Shipping Carrier</label></div>
              <div class="col-md-8">
                <input  maxlength="45" type="text" [disabled]="isAdditionalDetailsEdit" [(ngModel)]="petitionAdditionalDetails.shippingCarrier" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Tracking Number</label></div>
              <div class="col-md-8">
                <input  maxlength="45" type="text" [disabled]="isAdditionalDetailsEdit" [(ngModel)]="petitionAdditionalDetails.trackingNumber" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label>Check Number</label></div>
              <div class="col-md-8">
                <input  maxlength="45" type="text" [disabled]="isAdditionalDetailsEdit" [(ngModel)]="petitionAdditionalDetails.checkNumber" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="tbl-head-btn" [hidden]="isAdditionalDetailsEdit">
                  <button type="button" (click)="onCancelAdditionalDetailsClick()" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 4px!important;"   *ngIf="isAdditionalDetailsEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="margin-top: 4px!important;color: #008000 !important; width: 65px;" [ngClass]="{'loader': showAdditionalInfoSaveButtonProgress}" [disabled]="showAdditionalInfoSaveButtonProgress" (click)="onSaveAdditionalDetailsClick()" *ngIf="isAdditionalDetailsEdit==false">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6 col-sm-6 col-xs-12 no-pad-left">
          <div class="col-md-12 addresbox box-shadow" style="margin-top: 20px;">
            <div class="row">
              <div class="col-sm-12">
                <h2>Sponsor Information On Form</h2>
                <button type="submit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" (click)="onEditSponsorInfoClick()" *ngIf="isSponsorInfoEdit==true">Edit</button>
                <div class="tbl-head-btn" [hidden]="isSponsorInfoEdit">
                  <button type="button" (click)="onCancelSponsorInfoClick()"  class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="isSponsorInfoEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important; width: 65px;" [ngClass]="{'loader': showSponsorInfoSaveButtonProgress}" [disabled]="showSponsorInfoSaveButtonProgress" (click)="onSaveSponsorInfoClick()" *ngIf="isSponsorInfoEdit==false">Save</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Name</label></div>
              <div class="col-md-8">
                <input  maxlength="100" type="text" [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfo.name" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Name On Form</label></div>
              <div class="col-md-8">
                <input  maxlength="100" type="text" [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfo.nameOnForm" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Signing Person Name</label></div>
              <div class="col-md-8">
                <input  maxlength="100" type="text" [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfo.signingPersonName" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Title</label></div>
              <div class="col-md-8">
                <input  maxlength="50" type="text" [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfo.title" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Full Name</label></div>
              <div class="col-md-8">
                <input  maxlength="50" type="text" [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfo.fullName" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Email</label></div>
              <div class="col-md-8">
                <input  maxlength="100" type="text" [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfo.email" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Country</label></div>
              <div class="col-md-8">
                <input  type="text" maxlength="20" [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfoAddress.country" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Street</label></div>
              <div class="col-md-8">
                <input  maxlength="255" type="text" [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfoAddress.street1" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Apt./Ste./Flr./Door</label></div>
              <div class="col-md-8">
                <select  [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfoAddress.aptType">
                  <option value="APT">APT</option>
                  <option value="STE">STE</option>
                  <option value="FLR">FLR</option>
                  <option value="DOOR">DOOR</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Number</label></div>
              <div class="col-md-8">
                <input  maxlength="10" type="text" [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfoAddress.aptNo" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">City/Town</label></div>
              <div class="col-md-8">
                <input  maxlength="20" type="text" [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfoAddress.city" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">County</label></div>
              <div class="col-md-8">
                <input  maxlength="20" type="text" [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfoAddress.county" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">State/Province</label></div>
              <div class="col-md-8">
                <input  maxlength="20" type="text" [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfoAddress.state" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Zip/Postal code</label></div>
              <div class="col-md-8">
                <input  maxlength="10" type="text" [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfoAddress.zipCode" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Fax</label></div>
              <div class="col-md-8">
                <input  maxlength="15" type="text" [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfo.fax" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Mobile Number</label></div>
              <div class="col-md-8">
                <input  maxlength="15" type="text" [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfo.mobile" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Telephone</label></div>
              <div class="col-md-8">
                <input  maxlength="15" type="text" [disabled]="isSponsorInfoEdit" [(ngModel)]="sponsorInfo.phoneNumber" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="tbl-head-btn" [hidden]="isSponsorInfoEdit">
                  <button type="button" (click)="onCancelSponsorInfoClick()" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;margin-top: 4px!important;" *ngIf="isSponsorInfoEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="margin-top: 4px!important;color: #008000 !important; width: 65px;" [ngClass]="{'loader': showSponsorInfoSaveButtonProgress}" [disabled]="showSponsorInfoSaveButtonProgress" (click)="onSaveSponsorInfoClick()" *ngIf="isSponsorInfoEdit==false">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="col-md-12 addresbox box-shadow">
            <div class="row">
              <div class="col-md-12">
                <h2>LCA Information</h2>
                <button type="submit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" (click)="onEditLCAInfoClick()" *ngIf="isLCAInfoEdit==true">Edit</button>
                <div class="tbl-head-btn" [hidden]="isLCAInfoEdit">
                  <button type="button" (click)="onCancelLCAInfoClick()" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="isLCAInfoEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important; width: 65px;" [ngClass]="{'loader': showLCAInfoSaveButtonProgress}" [disabled]="showLCAInfoSaveButtonProgress" (click)="onSaveLCAInfoClick()" *ngIf="isLCAInfoEdit==false">Save</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">LCA Number</label></div>
              <div class="col-md-8">
                <input  maxlength="15" type="text" [disabled]="isLCAInfoEdit" [(ngModel)]="lcaInfo.lcaNumber" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Approved Date</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isLCAInfoEdit" [options]="datePickerOptions" [(ngModel)]="lcaInfo.approvedDate" [selDate]="approvedDate"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Valid Thru Date</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isLCAInfoEdit" [options]="datePickerOptions" [(ngModel)]="lcaInfo.validThruDate" [selDate]="validThruDate"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Type</label></div>
              <div class="col-md-8">
                <input  maxlength="15" type="text" [disabled]="isLCAInfoEdit" [(ngModel)]="lcaInfo.type" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">LCA Group</label></div>
              <div class="col-md-8">
                <input  maxlength="45" type="text" [disabled]="isLCAInfoEdit" [(ngModel)]="lcaInfo.lcaGroup" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Assigned Date</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isLCAInfoEdit" [options]="datePickerOptions" [(ngModel)]="lcaInfo.assignedDate" [selDate]="assignedDate"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Effective On</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isLCAInfoEdit" [options]="datePickerOptions" [(ngModel)]="lcaInfo.effectiveOn" [selDate]="effectiveOn"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Effective Till</label></div>
              <div class="col-md-8">
                <my-date-picker [disabled]="isLCAInfoEdit" [options]="datePickerOptions" [(ngModel)]="lcaInfo.effectiveTill" [selDate]="effectiveTill"></my-date-picker>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><label for="pi-petitiondescription">Comments</label></div>
              <div class="col-md-8">
                <input  maxlength="255" type="text" [disabled]="isLCAInfoEdit" [(ngModel)]="lcaInfo.comments" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="tbl-head-btn" [hidden]="isLCAInfoEdit">
                  <button type="button" (click)="onCancelLCAInfoClick()" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-top: 4px!important;margin-left: 4px;" *ngIf="isLCAInfoEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="margin-top: 4px!important;color: #008000 !important; width: 65px;" [ngClass]="{'loader': showLCAInfoSaveButtonProgress}" [disabled]="showLCAInfoSaveButtonProgress" (click)="onSaveLCAInfoClick()" *ngIf="isLCAInfoEdit==false">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="col-md-12 addresbox box-shadow" style="margin-top: 20px;" *ngIf="delegatedOrgsList.length > 0">
            <div class="row">
              <div class="col-md-12">
                <h2>Delegated Orgs</h2>
                <button type="submit" class="iportal-btnIMclient" style="float: right !important;margin: -30px 0 20px 0 !important;" (click)="onEditDelegatedOrgsClick()" *ngIf="isDelegatedOrgsEdit==true">Edit</button>
                <div class="tbl-head-btn">
                  <button type="button" (click)="onCancelDelegatedOrgsClick()" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #FF0000 !important;margin-left: 4px;" *ngIf="isDelegatedOrgsEdit==false">Cancel</button>
                  <button type="submit" value="Save" class="editbtn tbl-head-btn iportal-btnIMclient" style="color: #008000 !important; width: 65px;" [ngClass]="{'loader': showDelegatedOrgsSaveButtonProgress}" [disabled]="showDelegatedOrgsSaveButtonProgress" (click)="onSaveDelegatedOrgsClick()" *ngIf="isDelegatedOrgsEdit==false">Save</button>
                </div>
              </div>
            </div>
            <div class="row" *ngFor="let dOrgName of delegatedOrgsList">
              <div class="col-md-4"><label for="pi-petitiondescription">{{dOrgName.orgName}}</label></div>
              <div class="col-md-8">
                <input  type="checkbox" [disabled]="isDelegatedOrgsEdit == true" [checked]="dOrgName.petitionAssigned" [(ngModel)]="dOrgName.petitionAssigned" />
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

