
<div class="main-content">
    <div class="table-data">
        <!--<h1 class="clickname" (click)="appService.moveToPage('immigrationview/client/detail/client-details');highlightSBLink('Client Details')">{{appService.clientfirstName}} {{appService.clientlastName}} </h1>
        <h1 style="float:right;">{{appService.petitionDetails}}</h1>
        <div class="clearfix"></div>-->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <a (click)="gotoPrev()" class="prevbtn">Previous</a>
                    </div>
                    <div class="col-md-4 pagenoof36">Page 6 of 36</div>
                    <div class="col-md-4">
                        <a (click)="gotoNext()" class="nextbtn iportal-btnIMclient">Next</a>
                        <a *ngIf="isQuestionnaireEdit" (click)="cancelQuestinnaireEdit()" class="nextbtn iportal-btnIMclient" style="color: #FF0000 !important;">Cancel</a>
                        <a *ngIf="isQuestionnaireEdit" (click)="saveQuestionnaireInformation()" [ngClass]="{'loader': saveButtonProgress}" class="nextbtn iportal-btnIMclient"style="color: #008000 !important;">Save</a>
                        <a *ngIf="!isQuestionnaireEdit" (click)="editQuestinnaireForm()" class="nextbtn iportal-btnIMclient">Edit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 Questionnaireheader">
                <h2>7.&nbsp;Declaration, Signature, and Contact Information of Petitioner or Authorized Signatory <span>(Read the information on penalties in the instructions before completing this section.)</span></h2>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">

                        <div class="col-md-12" style="margin-top: 20px !important;">
                            <p>Copies of any documents submitted are exact photocopies of unaltered, original documents, and I understand that, as the petitioner, I may be required to submit original documents to U.S. Citizenship and Immigration Services (USCIS) at a later date. </p>
                            <p>I authorize the release of any information from my records, or from the petitioning organization's records that USCIS needs to determine eligibility for the immigration benefit sought.  I recognize the authority of USCIS to conduct audits of this petition using publicly available open source information.  I also recognize that any supporting evidence submitted in support of this petition may be verified by USCIS through any means determined appropriate by USCIS, including but not limited to, on-site compliance reviews.</p>
                            <p>If filing this petition on behalf of an organization, I certify that I am authorized to do so by the organization.</p>
                            <p>I certify, under penalty of perjury, that I have reviewed this petition and that all of the information contained in the petition, including all responses to specific questions, and in the supporting documents, is complete, true, and correct. </p>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading"><b>1.</b>&nbsp;Name and Title of Authorized Signatory</p>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">Family Name (Last Name)</div>
                                <div class="col-md-7"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page6.familyName"/></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">Given Name (First Name)</div>
                                <div class="col-md-7"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page6.givenName"/></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">Title</div>
                                <div class="col-md-7"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page6.title"/></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading"><b>2.</b>&nbsp;Signature and Date</p>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">Signature of Authorized Signatory</div>
                                <div class="col-md-7"><input type="text" [disabled]="true" [(ngModel)]="page6.signature"/></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">Date of Signature</div>
                                <div class="col-md-4">
                                    <my-date-picker [disabled]="true" [options]="myDatePickerOptions"
                                                    [(ngModel)]="page6.dateOfSignature"
                                                    [selDate]="dateOfSignature"></my-date-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                           <p class="fieldsetheading"><b>3.</b>&nbsp;Signatory's Contact Information</p>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">Daytime Telephone Number</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page6.telephoneNumber"/></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">Email Address (if any)</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page6.email"/></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p><b>NOTE:</b> If you do not fully complete this form or fail to submit the required documents listed in the instructions, a final decision on your petition may be delayed or the petition may be denied.</p>
                        </div>
                </div>
            </div>
            <div class="col-md-12 Questionnaireheader">
                <h2>8.&nbsp;Declaration, Signature, and Contact Information of Person Preparing Form, If Other Than Petitioner</h2>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 addresbox box-shadow clientview-ques129h" style="margin-bottom:0px;">
                        <div class="col-md-12" style="margin-top: 20px !important;">
                            <p>Provide the following information concerning the preparer:</p>
                        </div>
                        <div class="col-md-12">
                          <p class="fieldsetheading"><b>1.</b>&nbsp;Name of Preparer</p>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">Family Name (Last Name)</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page6.preparerFamilyName"/></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">Given Name (First Name)</div>
                                <div class="col-md-8"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page6.preparerGivenName"/></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="fieldsetheading"><b>2.</b>&nbsp;Preparer's Business or Organization Name (if any)</p>
                        </div>
                        <div class="col-md-12" style="padding-bottom:10px;">
                            (If applicable, provide the name of your accredited organization recognized by the Board of Immigration Appeals (BIA).)
                        </div>
                        <div class="col-md-12"><input type="text" [disabled]="!isQuestionnaireEdit" [(ngModel)]="page6.preparerOrgName"/></div>
                </div>
            </div>
    </div>
</div>
